In [1]:
import configparser
config = configparser.ConfigParser()
config.read('config.txt')

source_folder = config.get('Configuration', 'source_folder')
time_step = int(config.get('Configuration', 'time_step'))
window_size = int(config.get('Configuration', 'window_size'))
data_folder = config.get('Configuration', 'data_folder')
ini_date = config.get('Configuration', 'ini_date')
end_date = config.get('Configuration', 'end_date')

users=config.get('Configuration', 'users')
users = [(item.strip()) for item in users.split(',')]

scenes=config.get('Configuration', 'scenes')
scenes = [(item.strip()) for item in scenes.split(',')]

room=config.get('Configuration', 'room')

In [2]:
import numpy as np
from pandas import read_csv    
import pandas as pd
import time

from datetime import datetime

off_zone=60*60*2

def day_time(ti):
    return int((int)((ti+off_zone)/(60*60*24)))


def time2str(tt):
    return datetime.fromtimestamp(tt).strftime("%Y-%m-%d %H:%M:%S")


t0 = (int)(datetime.strptime(ini_date, '%Y-%m-%d %H:%M:%S').timestamp())
print (ini_date,"Init date is", t0, "day:",day_time(t0), time2str(t0))

tN = (int)(datetime.strptime(end_date, '%Y-%m-%d %H:%M:%S').timestamp())
print (end_date,"End date is", tN, "day:",day_time(tN), time2str(tN))


def day_time0(ti):
    return day_time(ti)-day_time(t0)+1

def relT(ti):
    return (int)((ti-t0)/time_step)

days=list(range(day_time(t0),day_time(tN)+1))
print(days)

2024-03-16 21:31:18 Init date is 1710621078 day: 19798 2024-03-16 21:31:18
2024-03-16 21:41:04 End date is 1710621664 day: 19798 2024-03-16 21:41:04
[19798]

In [3]:
def getLoc(room,s):
    print("S:",s)
    xy=config.get(room, s)
    xy = [(item.strip()) for item in xy.split(',')]
    xy = [list(map(int, item.split('x'))) for item in xy]
    return xy

loc_sensor={}

fp_sensors = config.get(room, 'maps')
fp_sensors = [(item.strip()) for item in fp_sensors.split(',')]

w = int(config.get(room, 'w'))
h = int(config.get(room, 'h'))

ix = int(config.get(room, 'ix'))
lx = int(config.get(room, 'lx'))
iy = int(config.get(room, 'iy'))
ly = int(config.get(room, 'ly'))

In [4]:
df_total_map = {}
scene_user = {}
for d in days:
    df_total_map[d]= {}
    for user in users:
        df_total_map[d][user]=None
        scene_user[user] = {}
        for s in scenes:
            print(d,source_folder+"/"+s+"/location_gt_"+user+"/"+str(d)+".location.tsv")
            try:
                series=read_csv(source_folder+"/"+s+"/location_gt_"+user+"/"+str(d)+".location.tsv", sep="\t",parse_dates=True, header=None, names=["time","date","time2","x","y"])
                print(d,series.size,(series["time"].iloc[0],series["time"].iloc[-1]))
                scene_user[user][s] = (series["time"].iloc[0],series["time"].iloc[-1])
                print(scene_user[user][s])
            except Exception as e:
                print("Not data",e)
                continue
            if(df_total_map[d][user] is None):
                df_total_map[d][user]=series
            else:
                df_total_map[d][user] = df_total_map[d][user].append(series, ignore_index=True)

19798 ./data/kitchen/2-person-labelled/Scene1/location_gt_ed9c/19798.location.tsv
19798 1215 (1710621088, 1710621359)
(1710621088, 1710621359)
19798 ./data/kitchen/2-person-labelled/Scene2/location_gt_ed9c/19798.location.tsv
19798 1380 (1710621360, 1710621664)
(1710621360, 1710621664)
19798 ./data/kitchen/2-person-labelled/Scene1/location_gt_867f/19798.location.tsv
19798 1145 (1710621078, 1710621359)
(1710621078, 1710621359)
19798 ./data/kitchen/2-person-labelled/Scene2/location_gt_867f/19798.location.tsv
19798 1255 (1710621362, 1710621664)
(1710621362, 1710621664)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_28572\2636859251.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total_map[d][user] = df_total_map[d][user].append(series, ignore_index=True)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_28572\2636859251.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total_map[d][user] = df_total_map[d][user].append(series, ignore_index=True)

In [5]:
def getScene(t0):
    for user, user_scene in scene_user.items():
        for scene, times in user_scene.items():
            print(t0,times[0],times[1])
            if(t0>times[0]-window_size/2 and t0<times[1]+window_size/2):
                return scene
    return None

In [6]:
def getXY(x,y):
    x0=int(x*w/ix)
    y0=int(y*h/iy)
    if(x0>=w):
        x0=w-1
    if(y0>=h):
        y0=h-1
    return y0,x0

In [7]:
import cv2
import os

last_df_intervalo=None
for d in days:
    print(d)
    os.makedirs(data_folder+"/"+room+"/DAY_"+str(d)+"/", exist_ok=True)
    for user in users:
        df_total=df_total_map[d][user]
        for tt in range(t0,tN,1):
            print(tt,day_time(tt))
            if(day_time(tt) != d):
                continue
                
            scene=getScene(tt)
            print("Scene",scene)
            if not scene:
                last_df_intervalo=None
                continue
            img0=np.zeros((h, w))
            df_intervalo = df_total[(df_total['time'] >= (tt-window_size/2)) & (df_total['time'] <= (tt))]
            print("DF",df_intervalo)     
            if df_intervalo.empty:
                print("Zero GT complete with last interval",df_intervalo)   
                df_intervalo=last_df_intervalo
            else:
                last_df_intervalo=df_intervalo
            if df_intervalo is None or df_intervalo.empty:
                continue
            for index, row in df_intervalo.iterrows():
                dif=abs(tt-row['time'])+1
                print("@TIME",tt,row, row['time'], "dif:", dif, "xy:", row['x'],row['y'], getXY(row['x'],row['y']))
                xy=getXY(row['x'],row['y'])
                img0[xy[0]][xy[1]]=img0[xy[0]][xy[1]]+int(255/dif)
                img0[img0>255]=255
            cv2.imwrite(data_folder+"/"+room+"/DAY_"+str(d)+"/GT."+user+"."+str(tt)+".png", img0)

19798
1710621078 19798
1710621078 1710621088 1710621359
1710621078 1710621360 1710621664
1710621078 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621079 19798
1710621079 1710621088 1710621359
1710621079 1710621360 1710621664
1710621079 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621080 19798
1710621080 1710621088 1710621359
1710621080 1710621360 1710621664
1710621080 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621081 19798
1710621081 1710621088 1710621359
1710621081 1710621360 1710621664
1710621081 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621082 19798
1710621082 1710621088 1710621359
1710621082 1710621360 1710621664
1710621082 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621083 19798
1710621083 1710621088 1710621359
1710621083 1710621360 1710621664
1710621083 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621084 19798
1710621084 1710621088 1710621359
1710621084 1710621360 1710621664
1710621084 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621085 19798
1710621085 1710621088 1710621359
1710621085 1710621360 1710621664
1710621085 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621086 19798
1710621086 1710621088 1710621359
1710621086 1710621360 1710621664
1710621086 1710621078 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621087 19798
1710621087 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
1710621088 19798
1710621088 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621088  2024-03-16 21:31:28  1710621088  164  165
@TIME 1710621088 time              1710621088
date     2024-03-16 21:31:28
time2             1710621088
x                        164
y                        165
Name: 0, dtype: object 1710621088 dif: 1 xy: 164 165 (2, 2)
1710621089 19798
1710621089 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621088  2024-03-16 21:31:28  1710621088  164  165
1  1710621089  2024-03-16 21:31:29  1710621089  161  163
@TIME 1710621089 time              1710621088
date     2024-03-16 21:31:28
time2             1710621088
x                        164
y                        165
Name: 0, dtype: object 1710621088 dif: 2 xy: 164 165 (2, 2)
@TIME 1710621089 time              1710621089
date     2024-03-16 21:31:29
time2             1710621089
x                        161
y                        163
Name: 1, dtype: object 1710621089 dif: 1 xy: 161 163 (2, 2)
1710621090 19798
1710621090 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621088  2024-03-16 21:31:28  1710621088  164  165
1  1710621089  2024-03-16 21:31:29  1710621089  161  163
2  1710621090  2024-03-16 21:31:30  1710621090  167  165
3  1710621090  2024-03-16 21:31:30  1710621090  161  163
@TIME 1710621090 time              1710621088
date     2024-03-16 21:31:28
time2             1710621088
x                        164
y                        165
Name: 0, dtype: object 1710621088 dif: 3 xy: 164 165 (2, 2)
@TIME 1710621090 time              1710621089
date     2024-03-16 21:31:29
time2             1710621089
x                        161
y                        163
Name: 1, dtype: object 1710621089 dif: 2 xy: 161 163 (2, 2)
@TIME 1710621090 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        167
y                        165
Name: 2, dtype: object 1710621090 dif: 1 xy: 167 165 (2, 2)
@TIME 1710621090 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        161
y                        163
Name: 3, dtype: object 1710621090 dif: 1 xy: 161 163 (2, 2)
1710621091 19798
1710621091 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
1  1710621089  2024-03-16 21:31:29  1710621089  161  163
2  1710621090  2024-03-16 21:31:30  1710621090  167  165
3  1710621090  2024-03-16 21:31:30  1710621090  161  163
4  1710621091  2024-03-16 21:31:31  1710621091  164  163
@TIME 1710621091 time              1710621089
date     2024-03-16 21:31:29
time2             1710621089
x                        161
y                        163
Name: 1, dtype: object 1710621089 dif: 3 xy: 161 163 (2, 2)
@TIME 1710621091 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        167
y                        165
Name: 2, dtype: object 1710621090 dif: 2 xy: 167 165 (2, 2)
@TIME 1710621091 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        161
y                        163
Name: 3, dtype: object 1710621090 dif: 2 xy: 161 163 (2, 2)
@TIME 1710621091 time              1710621091
date     2024-03-16 21:31:31
time2             1710621091
x                        164
y                        163
Name: 4, dtype: object 1710621091 dif: 1 xy: 164 163 (2, 2)
1710621092 19798
1710621092 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
2  1710621090  2024-03-16 21:31:30  1710621090  167  165
3  1710621090  2024-03-16 21:31:30  1710621090  161  163
4  1710621091  2024-03-16 21:31:31  1710621091  164  163
5  1710621092  2024-03-16 21:31:32  1710621092  171  159
@TIME 1710621092 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        167
y                        165
Name: 2, dtype: object 1710621090 dif: 3 xy: 167 165 (2, 2)
@TIME 1710621092 time              1710621090
date     2024-03-16 21:31:30
time2             1710621090
x                        161
y                        163
Name: 3, dtype: object 1710621090 dif: 3 xy: 161 163 (2, 2)
@TIME 1710621092 time              1710621091
date     2024-03-16 21:31:31
time2             1710621091
x                        164
y                        163
Name: 4, dtype: object 1710621091 dif: 2 xy: 164 163 (2, 2)
@TIME 1710621092 time              1710621092
date     2024-03-16 21:31:32
time2             1710621092
x                        171
y                        159
Name: 5, dtype: object 1710621092 dif: 1 xy: 171 159 (2, 2)
1710621093 19798
1710621093 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
4  1710621091  2024-03-16 21:31:31  1710621091  164  163
5  1710621092  2024-03-16 21:31:32  1710621092  171  159
6  1710621093  2024-03-16 21:31:33  1710621093  161  165
@TIME 1710621093 time              1710621091
date     2024-03-16 21:31:31
time2             1710621091
x                        164
y                        163
Name: 4, dtype: object 1710621091 dif: 3 xy: 164 163 (2, 2)
@TIME 1710621093 time              1710621092
date     2024-03-16 21:31:32
time2             1710621092
x                        171
y                        159
Name: 5, dtype: object 1710621092 dif: 2 xy: 171 159 (2, 2)
@TIME 1710621093 time              1710621093
date     2024-03-16 21:31:33
time2             1710621093
x                        161
y                        165
Name: 6, dtype: object 1710621093 dif: 1 xy: 161 165 (2, 2)
1710621094 19798
1710621094 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
5  1710621092  2024-03-16 21:31:32  1710621092  171  159
6  1710621093  2024-03-16 21:31:33  1710621093  161  165
7  1710621094  2024-03-16 21:31:34  1710621094  164  165
@TIME 1710621094 time              1710621092
date     2024-03-16 21:31:32
time2             1710621092
x                        171
y                        159
Name: 5, dtype: object 1710621092 dif: 3 xy: 171 159 (2, 2)
@TIME 1710621094 time              1710621093
date     2024-03-16 21:31:33
time2             1710621093
x                        161
y                        165
Name: 6, dtype: object 1710621093 dif: 2 xy: 161 165 (2, 2)
@TIME 1710621094 time              1710621094
date     2024-03-16 21:31:34
time2             1710621094
x                        164
y                        165
Name: 7, dtype: object 1710621094 dif: 1 xy: 164 165 (2, 2)
1710621095 19798
1710621095 1710621088 1710621359
Scene Scene1
DF          time                 date       time2    x    y
6  1710621093  2024-03-16 21:31:33  1710621093  161  165
7  1710621094  2024-03-16 21:31:34  1710621094  164  165
8  1710621095  2024-03-16 21:31:35  1710621095  164  159
9  1710621095  2024-03-16 21:31:35  1710621095  161  159
@TIME 1710621095 time              1710621093
date     2024-03-16 21:31:33
time2             1710621093
x                        161
y                        165
Name: 6, dtype: object 1710621093 dif: 3 xy: 161 165 (2, 2)
@TIME 1710621095 time              1710621094
date     2024-03-16 21:31:34
time2             1710621094
x                        164
y                        165
Name: 7, dtype: object 1710621094 dif: 2 xy: 164 165 (2, 2)
@TIME 1710621095 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        164
y                        159
Name: 8, dtype: object 1710621095 dif: 1 xy: 164 159 (2, 2)
@TIME 1710621095 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        161
y                        159
Name: 9, dtype: object 1710621095 dif: 1 xy: 161 159 (2, 2)
1710621096 19798
1710621096 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
7   1710621094  2024-03-16 21:31:34  1710621094  164  165
8   1710621095  2024-03-16 21:31:35  1710621095  164  159
9   1710621095  2024-03-16 21:31:35  1710621095  161  159
10  1710621096  2024-03-16 21:31:36  1710621096  166  159
@TIME 1710621096 time              1710621094
date     2024-03-16 21:31:34
time2             1710621094
x                        164
y                        165
Name: 7, dtype: object 1710621094 dif: 3 xy: 164 165 (2, 2)
@TIME 1710621096 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        164
y                        159
Name: 8, dtype: object 1710621095 dif: 2 xy: 164 159 (2, 2)
@TIME 1710621096 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        161
y                        159
Name: 9, dtype: object 1710621095 dif: 2 xy: 161 159 (2, 2)
@TIME 1710621096 time              1710621096
date     2024-03-16 21:31:36
time2             1710621096
x                        166
y                        159
Name: 10, dtype: object 1710621096 dif: 1 xy: 166 159 (2, 2)
1710621097 19798
1710621097 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
8   1710621095  2024-03-16 21:31:35  1710621095  164  159
9   1710621095  2024-03-16 21:31:35  1710621095  161  159
10  1710621096  2024-03-16 21:31:36  1710621096  166  159
11  1710621097  2024-03-16 21:31:37  1710621097  158  161
@TIME 1710621097 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        164
y                        159
Name: 8, dtype: object 1710621095 dif: 3 xy: 164 159 (2, 2)
@TIME 1710621097 time              1710621095
date     2024-03-16 21:31:35
time2             1710621095
x                        161
y                        159
Name: 9, dtype: object 1710621095 dif: 3 xy: 161 159 (2, 2)
@TIME 1710621097 time              1710621096
date     2024-03-16 21:31:36
time2             1710621096
x                        166
y                        159
Name: 10, dtype: object 1710621096 dif: 2 xy: 166 159 (2, 2)
@TIME 1710621097 time              1710621097
date     2024-03-16 21:31:37
time2             1710621097
x                        158
y                        161
Name: 11, dtype: object 1710621097 dif: 1 xy: 158 161 (2, 2)
1710621098 19798
1710621098 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
10  1710621096  2024-03-16 21:31:36  1710621096  166  159
11  1710621097  2024-03-16 21:31:37  1710621097  158  161
12  1710621098  2024-03-16 21:31:38  1710621098  166  160
@TIME 1710621098 time              1710621096
date     2024-03-16 21:31:36
time2             1710621096
x                        166
y                        159
Name: 10, dtype: object 1710621096 dif: 3 xy: 166 159 (2, 2)
@TIME 1710621098 time              1710621097
date     2024-03-16 21:31:37
time2             1710621097
x                        158
y                        161
Name: 11, dtype: object 1710621097 dif: 2 xy: 158 161 (2, 2)
@TIME 1710621098 time              1710621098
date     2024-03-16 21:31:38
time2             1710621098
x                        166
y                        160
Name: 12, dtype: object 1710621098 dif: 1 xy: 166 160 (2, 2)
1710621099 19798
1710621099 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
11  1710621097  2024-03-16 21:31:37  1710621097  158  161
12  1710621098  2024-03-16 21:31:38  1710621098  166  160
13  1710621099  2024-03-16 21:31:39  1710621099  156  159
@TIME 1710621099 time              1710621097
date     2024-03-16 21:31:37
time2             1710621097
x                        158
y                        161
Name: 11, dtype: object 1710621097 dif: 3 xy: 158 161 (2, 2)
@TIME 1710621099 time              1710621098
date     2024-03-16 21:31:38
time2             1710621098
x                        166
y                        160
Name: 12, dtype: object 1710621098 dif: 2 xy: 166 160 (2, 2)
@TIME 1710621099 time              1710621099
date     2024-03-16 21:31:39
time2             1710621099
x                        156
y                        159
Name: 13, dtype: object 1710621099 dif: 1 xy: 156 159 (2, 2)
1710621100 19798
1710621100 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
12  1710621098  2024-03-16 21:31:38  1710621098  166  160
13  1710621099  2024-03-16 21:31:39  1710621099  156  159
14  1710621100  2024-03-16 21:31:40  1710621100  168  158
@TIME 1710621100 time              1710621098
date     2024-03-16 21:31:38
time2             1710621098
x                        166
y                        160
Name: 12, dtype: object 1710621098 dif: 3 xy: 166 160 (2, 2)
@TIME 1710621100 time              1710621099
date     2024-03-16 21:31:39
time2             1710621099
x                        156
y                        159
Name: 13, dtype: object 1710621099 dif: 2 xy: 156 159 (2, 2)
@TIME 1710621100 time              1710621100
date     2024-03-16 21:31:40
time2             1710621100
x                        168
y                        158
Name: 14, dtype: object 1710621100 dif: 1 xy: 168 158 (2, 2)
1710621101 19798
1710621101 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
13  1710621099  2024-03-16 21:31:39  1710621099  156  159
14  1710621100  2024-03-16 21:31:40  1710621100  168  158
15  1710621101  2024-03-16 21:31:41  1710621101  161  159
@TIME 1710621101 time              1710621099
date     2024-03-16 21:31:39
time2             1710621099
x                        156
y                        159
Name: 13, dtype: object 1710621099 dif: 3 xy: 156 159 (2, 2)
@TIME 1710621101 time              1710621100
date     2024-03-16 21:31:40
time2             1710621100
x                        168
y                        158
Name: 14, dtype: object 1710621100 dif: 2 xy: 168 158 (2, 2)
@TIME 1710621101 time              1710621101
date     2024-03-16 21:31:41
time2             1710621101
x                        161
y                        159
Name: 15, dtype: object 1710621101 dif: 1 xy: 161 159 (2, 2)
1710621102 19798
1710621102 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
14  1710621100  2024-03-16 21:31:40  1710621100  168  158
15  1710621101  2024-03-16 21:31:41  1710621101  161  159
16  1710621102  2024-03-16 21:31:42  1710621102  166  159
@TIME 1710621102 time              1710621100
date     2024-03-16 21:31:40
time2             1710621100
x                        168
y                        158
Name: 14, dtype: object 1710621100 dif: 3 xy: 168 158 (2, 2)
@TIME 1710621102 time              1710621101
date     2024-03-16 21:31:41
time2             1710621101
x                        161
y                        159
Name: 15, dtype: object 1710621101 dif: 2 xy: 161 159 (2, 2)
@TIME 1710621102 time              1710621102
date     2024-03-16 21:31:42
time2             1710621102
x                        166
y                        159
Name: 16, dtype: object 1710621102 dif: 1 xy: 166 159 (2, 2)
1710621103 19798
1710621103 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
15  1710621101  2024-03-16 21:31:41  1710621101  161  159
16  1710621102  2024-03-16 21:31:42  1710621102  166  159
17  1710621103  2024-03-16 21:31:43  1710621103  164  159
@TIME 1710621103 time              1710621101
date     2024-03-16 21:31:41
time2             1710621101
x                        161
y                        159
Name: 15, dtype: object 1710621101 dif: 3 xy: 161 159 (2, 2)
@TIME 1710621103 time              1710621102
date     2024-03-16 21:31:42
time2             1710621102
x                        166
y                        159
Name: 16, dtype: object 1710621102 dif: 2 xy: 166 159 (2, 2)
@TIME 1710621103 time              1710621103
date     2024-03-16 21:31:43
time2             1710621103
x                        164
y                        159
Name: 17, dtype: object 1710621103 dif: 1 xy: 164 159 (2, 2)
1710621104 19798
1710621104 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
16  1710621102  2024-03-16 21:31:42  1710621102  166  159
17  1710621103  2024-03-16 21:31:43  1710621103  164  159
18  1710621104  2024-03-16 21:31:44  1710621104  164  159
@TIME 1710621104 time              1710621102
date     2024-03-16 21:31:42
time2             1710621102
x                        166
y                        159
Name: 16, dtype: object 1710621102 dif: 3 xy: 166 159 (2, 2)
@TIME 1710621104 time              1710621103
date     2024-03-16 21:31:43
time2             1710621103
x                        164
y                        159
Name: 17, dtype: object 1710621103 dif: 2 xy: 164 159 (2, 2)
@TIME 1710621104 time              1710621104
date     2024-03-16 21:31:44
time2             1710621104
x                        164
y                        159

1710621143 19798
1710621143 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
56  1710621142  2024-03-16 21:32:22  1710621142  160  155
57  1710621142  2024-03-16 21:32:22  1710621142  156  156
@TIME 1710621143 time              1710621142
date     2024-03-16 21:32:22
time2             1710621142
x                        160
y                        155
Name: 56, dtype: object 1710621142 dif: 2 xy: 160 155 (2, 2)
@TIME 1710621143 time              1710621142
date     2024-03-16 21:32:22
time2             1710621142
x                        156
y                        156
Name: 57, dtype: object 1710621142 dif: 2 xy: 156 156 (2, 2)
1710621144 19798
1710621144 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
56  1710621142  2024-03-16 21:32:22  1710621142  160  155
57  1710621142  2024-03-16 21:32:22  1710621142  156  156
58  1710621144  2024-03-16 21:32:24  1710621144  162  161
59  1710621144  2024-03-16 21:32:24  1710621144  162  161
@TIME 1710621144 time              1710621142
date     2024-03-16 21:32:22
time2             1710621142
x                        160
y                        155
Name: 56, dtype: object 1710621142 dif: 3 xy: 160 155 (2, 2)
@TIME 1710621144 time              1710621142
date     2024-03-16 21:32:22
time2             1710621142
x                        156
y                        156
Name: 57, dtype: object 1710621142 dif: 3 xy: 156 156 (2, 2)
@TIME 1710621144 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 58, dtype: object 1710621144 dif: 1 xy: 162 161 (2, 2)
@TIME 1710621144 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 59, dtype: object 1710621144 dif: 1 xy: 162 161 (2, 2)
1710621145 19798
1710621145 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
58  1710621144  2024-03-16 21:32:24  1710621144  162  161
59  1710621144  2024-03-16 21:32:24  1710621144  162  161
@TIME 1710621145 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 58, dtype: object 1710621144 dif: 2 xy: 162 161 (2, 2)
@TIME 1710621145 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 59, dtype: object 1710621144 dif: 2 xy: 162 161 (2, 2)
1710621146 19798
1710621146 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
58  1710621144  2024-03-16 21:32:24  1710621144  162  161
59  1710621144  2024-03-16 21:32:24  1710621144  162  161
60  1710621146  2024-03-16 21:32:26  1710621146  159  158
@TIME 1710621146 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 58, dtype: object 1710621144 dif: 3 xy: 162 161 (2, 2)
@TIME 1710621146 time              1710621144
date     2024-03-16 21:32:24
time2             1710621144
x                        162
y                        161
Name: 59, dtype: object 1710621144 dif: 3 xy: 162 161 (2, 2)
@TIME 1710621146 time              1710621146
date     2024-03-16 21:32:26
time2             1710621146
x                        159
y                        158
Name: 60, dtype: object 1710621146 dif: 1 xy: 159 158 (2, 2)
1710621147 19798
1710621147 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
60  1710621146  2024-03-16 21:32:26  1710621146  159  158
61  1710621147  2024-03-16 21:32:27  1710621147  152  162
@TIME 1710621147 time              1710621146
date     2024-03-16 21:32:26
time2             1710621146
x                        159
y                        158
Name: 60, dtype: object 1710621146 dif: 2 xy: 159 158 (2, 2)
@TIME 1710621147 time              1710621147
date     2024-03-16 21:32:27
time2             1710621147
x                        152
y                        162
Name: 61, dtype: object 1710621147 dif: 1 xy: 152 162 (2, 1)
1710621148 19798
1710621148 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
60  1710621146  2024-03-16 21:32:26  1710621146  159  158
61  1710621147  2024-03-16 21:32:27  1710621147  152  162
62  1710621148  2024-03-16 21:32:28  1710621148  157  159
@TIME 1710621148 time              1710621146
date     2024-03-16 21:32:26
time2             1710621146
x                        159
y                        158
Name: 60, dtype: object 1710621146 dif: 3 xy: 159 158 (2, 2)
@TIME 1710621148 time              1710621147
date     2024-03-16 21:32:27
time2             1710621147
x                        152
y                        162
Name: 61, dtype: object 1710621147 dif: 2 xy: 152 162 (2, 1)
@TIME 1710621148 time              1710621148
date     2024-03-16 21:32:28
time2             1710621148
x                        157
y                        159
Name: 62, dtype: object 1710621148 dif: 1 xy: 157 159 (2, 2)
1710621149 19798
1710621149 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
61  1710621147  2024-03-16 21:32:27  1710621147  152  162
62  1710621148  2024-03-16 21:32:28  1710621148  157  159
63  1710621149  2024-03-16 21:32:29  1710621149  157  164
@TIME 1710621149 time              1710621147
date     2024-03-16 21:32:27
time2             1710621147
x                        152
y                        162
Name: 61, dtype: object 1710621147 dif: 3 xy: 152 162 (2, 1)
@TIME 1710621149 time              1710621148
date     2024-03-16 21:32:28
time2             1710621148
x                        157
y                        159
Name: 62, dtype: object 1710621148 dif: 2 xy: 157 159 (2, 2)
@TIME 1710621149 time              1710621149
date     2024-03-16 21:32:29
time2             1710621149
x                        157
y                        164
Name: 63, dtype: object 1710621149 dif: 1 xy: 157 164 (2, 2)
1710621150 19798
1710621150 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
62  1710621148  2024-03-16 21:32:28  1710621148  157  159
63  1710621149  2024-03-16 21:32:29  1710621149  157  164
64  1710621150  2024-03-16 21:32:30  1710621150  154  155
@TIME 1710621150 time              1710621148
date     2024-03-16 21:32:28
time2             1710621148
x                        157
y                        159
Name: 62, dtype: object 1710621148 dif: 3 xy: 157 159 (2, 2)
@TIME 1710621150 time              1710621149
date     2024-03-16 21:32:29
time2             1710621149
x                        157
y                        164
Name: 63, dtype: object 1710621149 dif: 2 xy: 157 164 (2, 2)
@TIME 1710621150 time              1710621150
date     2024-03-16 21:32:30
time2             1710621150
x                        154
y                        155
Name: 64, dtype: object 1710621150 dif: 1 xy: 154 155 (2, 2)
1710621151 19798
1710621151 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
63  1710621149  2024-03-16 21:32:29  1710621149  157  164
64  1710621150  2024-03-16 21:32:30  1710621150  154  155
65  1710621151  2024-03-16 21:32:31  1710621151  156  162
@TIME 1710621151 time              1710621149
date     2024-03-16 21:32:29
time2             1710621149
x                        157
y                        164
Name: 63, dtype: object 1710621149 dif: 3 xy: 157 164 (2, 2)
@TIME 1710621151 time              1710621150
date     2024-03-16 21:32:30
time2             1710621150
x                        154
y                        155
Name: 64, dtype: object 1710621150 dif: 2 xy: 154 155 (2, 2)
@TIME 1710621151 time              1710621151
date     2024-03-16 21:32:31
time2             1710621151
x                        156
y                        162
Name: 65, dtype: object 1710621151 dif: 1 xy: 156 162 (2, 2)
1710621152 19798
1710621152 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
64  1710621150  2024-03-16 21:32:30  1710621150  154  155
65  1710621151  2024-03-16 21:32:31  1710621151  156  162
66  1710621152  2024-03-16 21:32:32  1710621152  161  162
@TIME 1710621152 time              1710621150
date     2024-03-16 21:32:30
time2             1710621150
x                        154
y                        155
Name: 64, dtype: object 1710621150 dif: 3 xy: 154 155 (2, 2)
@TIME 1710621152 time              1710621151
date     2024-03-16 21:32:31
time2             1710621151
x                        156
y                        162
Name: 65, dtype: object 1710621151 dif: 2 xy: 156 162 (2, 2)
@TIME 1710621152 time              1710621152
date     2024-03-16 21:32:32
time2             1710621152
x                        161
y                        162
Name: 66, dtype: object 1710621152 dif: 1 xy: 161 162 (2, 2)
1710621153 19798
1710621153 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
65  1710621151  2024-03-16 21:32:31  1710621151  156  162
66  1710621152  2024-03-16 21:32:32  1710621152  161  162
67  1710621153  2024-03-16 21:32:33  1710621153  154  162
@TIME 1710621153 time              1710621151
date     2024-03-16 21:32:31
time2             1710621151
x                        156
y                        162
Name: 65, dtype: object 1710621151 dif: 3 xy: 156 162 (2, 2)
@TIME 1710621153 time              1710621152
date     2024-03-16 21:32:32
time2             1710621152
x                        161
y                        162
Name: 66, dtype: object 1710621152 dif: 2 xy: 161 162 (2, 2)
@TIME 1710621153 time              1710621153
date     2024-03-16 21:32:33
time2             1710621153
x                        154
y                        162
Name: 67, dtype: object 1710621153 dif: 1 xy: 154 162 (2, 2)
1710621154 19798
1710621154 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
66  1710621152  2024-03-16 21:32:32  1710621152  161  162
67  1710621153  2024-03-16 21:32:33  1710621153  154  162
68  1710621154  2024-03-16 21:32:34  1710621154  154  154
@TIME 1710621154 time              1710621152
date     2024-03-16 21:32:32
time2             1710621152
x                        161
y                        162
Name: 66, dtype: object 1710621152 dif: 3 xy: 161 162 (2, 2)
@TIME 1710621154 time              1710621153
date     2024-03-16 21:32:33
time2             1710621153
x                        154
y                        162
Name: 67, dtype: object 1710621153 dif: 2 xy: 154 162 (2, 2)
@TIME 1710621154 time              1710621154
date     2024-03-16 21:32:34
time2             1710621154
x                        154
y                        154
Name: 68, dtype: object 1710621154 dif: 1 xy: 154 154 (2, 2)
1710621155 19798
1710621155 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
67  1710621153  2024-03-16 21:32:33  1710621153  154  162
68  1710621154  2024-03-16 21:32:34  1710621154  154  154
69  1710621155  2024-03-16 21:32:35  1710621155  156  161
@TIME 1710621155 time              1710621153
date     2024-03-16 21:32:33
time2             1710621153
x                        154
y                        162
Name: 67, dtype: object 1710621153 dif: 3 xy: 154 162 (2, 2)
@TIME 1710621155 time              1710621154
date     2024-03-16 21:32:34
time2             1710621154
x                        154
y                        154
Name: 68, dtype: object 1710621154 dif: 2 xy: 154 154 (2, 2)
@TIME 1710621155 time              1710621155
date     2024-03-16 21:32:35
time2             1710621155
x                        156
y                        161
Name: 69, dtype: object 1710621155 dif: 1 xy: 156 161 (2, 2)
1710621156 19798
1710621156 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
68  1710621154  2024-03-16 21:32:34  1710621154  154  154
69  1710621155  2024-03-16 21:32:35  1710621155  156  161
70  1710621156  2024-03-16 21:32:36  1710621156  156  161
@TIME 1710621156 time              1710621154
date     2024-03-16 21:32:34
time2             1710621154
x                        154
y                        154
Name: 68, dtype: object 1710621154 dif: 3 xy: 154 154 (2, 2)
@TIME 1710621156 time              1710621155
date     2024-03-16 21:32:35
time2             1710621155
x                        156
y                        161
Name: 69, dtype: object 1710621155 dif: 2 xy: 156 161 (2, 2)
@TIME 1710621156 time              1710621156
date     2024-03-16 21:32:36
time2             1710621156
x                        156
y                        161
Name: 70, dtype: object 1710621156 dif: 1 xy: 156 161 (2, 2)
1710621157 19798
1710621157 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
69  1710621155  2024-03-16 21:32:35  1710621155  156  161
70  1710621156  2024-03-16 21:32:36  1710621156  156  161
71  1710621157  2024-03-16 21:32:37  1710621157  161  161
@TIME 1710621157 time              1710621155
date     2024-03-16 21:32:35
time2             1710621155
x                        156
y                        161
Name: 69, dtype: object 1710621155 dif: 3 xy: 156 161 (2, 2)
@TIME 1710621157 time              1710621156
date     2024-03-16 21:32:36
time2             1710621156
x                        156
y                        161
Name: 70, dtype: object 1710621156 dif: 2 xy: 156 161 (2, 2)
@TIME 1710621157 time              1710621157
date     2024-03-16 21:32:37
time2             1710621157
x                        161
y                        161
Name: 71, dtype: object 1710621157 dif: 1 xy: 161 161 (2, 2)
1710621158 19798
1710621158 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
70  1710621156  2024-03-16 21:32:36  1710621156  156  161
71  1710621157  2024-03-16 21:32:37  1710621157  161  161
72  1710621158  2024-03-16 21:32:38  1710621158  161  161
@TIME 1710621158 time              1710621156
date     2024-03-16 21:32:36
time2             1710621156
x                        156
y                        161
Name: 70, dtype: object 1710621156 dif: 3 xy: 156 161 (2, 2)
@TIME 1710621158 time              1710621157
date     2024-03-16 21:32:37
time2             1710621157
x                        161
y                        161
Name: 71, dtype: object 1710621157 dif: 2 xy: 161 161 (2, 2)
@TIME 1710621158 time              1710621158
date     2024-03-16 21:32:38
time2             1710621158
x                        161
y                        161
Name: 72, dtype: object 1710621158 dif: 1 xy: 161 161 (2, 2)
1710621159 19798
1710621159 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
71  1710621157  2024-03-16 21:32:37  1710621157  161  161
72  1710621158  2024-03-16 21:32:38  1710621158  161  161
73  1710621159  2024-03-16 21:32:39  1710621159  156  161
@TIME 1710621159 time              1710621157
date     2024-03-16 21:32:37
time2             1710621157
x                        161
y                        161
Name: 71, dtype: object 1710621157 dif: 3 xy: 161 161 (2, 2)
@TIME 1710621159 time              1710621158
date     2024-03-16 21:32:38
time2             1710621158
x                        161
y                        161
Name: 72, dtype: object 1710621158 dif: 2 xy: 161 161 (2, 2)
@TIME 1710621159 time              1710621159
date     2024-03-16 21:32:39
time2             1710621159
x                        156
y                        161
Name: 73, dtype: object 1710621159 dif: 1 xy: 156 161 (2, 2)
1710621160 19798
1710621160 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
72  1710621158  2024-03-16 21:32:38  1710621158  161  161
73  1710621159  2024-03-16 21:32:39  1710621159  156  161
74  1710621160  2024-03-16 21:32:40  1710621160  155  154
@TIME 1710621160 time              1710621158
date     2024-03-16 21:32:38
time2             1710621158
x                        161
y                        161
Name: 72, dtype: object 1710621158 dif: 3 xy: 161 161 (2, 2)
@TIME 1710621160 time              1710621159
date     2024-03-16 21:32:39
time2             1710621159
x                        156
y                        161
Name: 73, dtype: object 1710621159 dif: 2 xy: 156 161 (2, 2)
@TIME 1710621160 time              1710621160
date     2024-03-16 21:32:40
time2             1710621160
x                        155
y                        154
Name: 74, dtype: object 1710621160 dif: 1 xy: 155 154 (2, 2)
1710621161 19798
1710621161 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
73  1710621159  2024-03-16 21:32:39  1710621159  156  161
74  1710621160  2024-03-16 21:32:40  1710621160  155  154
@TIME 1710621161 time              1710621159
date     2024-03-16 21:32:39
time2             1710621159
x                        156
y                        161
Name: 73, dtype: object 1710621159 dif: 3 xy: 156 161 (2, 2)
@TIME 1710621161 time              1710621160
date     2024-03-16 21:32:40
time2             1710621160
x                        155
y                        154
Name: 74, dtype: object 1710621160 dif: 2 xy: 155 154 (2, 2)
1710621162 19798
1710621162 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
74  1710621160  2024-03-16 21:32:40  1710621160  155  154
75  1710621162  2024-03-16 21:32:42  1710621162  158  157
@TIME 1710621162 time              1710621160
date     2024-03-16 21:32:40
time2             1710621160
x                        155
y                        154
Name: 74, dtype: object 1710621160 dif: 3 xy: 155 154 (2, 2)
@TIME 1710621162 time              1710621162
date     2024-03-16 21:32:42
time2             1710621162
x                        158
y                        157
Name: 75, dtype: object 1710621162 dif: 1 xy: 158 157 (2, 2)
1710621163 19798
1710621163 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
75  1710621162  2024-03-16 21:32:42  1710621162  158  157
76  1710621163  2024-03-16 21:32:43  1710621163  154  158
77  1710621163  2024-03-16 21:32:43  1710621163  155  158
@TIME 1710621163 time              1710621162
date     2024-03-16 21:32:42
time2             1710621162
x                        158
y                        157
Name: 75, dtype: object 1710621162 dif: 2 xy: 158 157 (2, 2)
@TIME 1710621163 time              1710621163
date     2024-03-16 21:32:43
time2             1710621163
x                        154
y                        158
Name: 76, dtype: object 1710621163 dif: 1 xy: 154 158 (2, 2)
@TIME 1710621163 time              1710621163
date     2024-03-16 21:32:43
time2             1710621163
x                        155
y                        158
Name: 77, dtype: object 1710621163 dif: 1 xy: 155 158 (2, 2)
1710621164 19798
1710621164 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
75  1710621162  2024-03-16 21:32:42  1710621162  158  157
76  1710621163  2024-03-16 21:32:43  1710621163  154  158
77  1710621163  2024-03-16 21:32:43  1710621163  155  158
78  1710621164  2024-03-16 21:32:44  1710621164  160  159
@TIME 1710621164 time              1710621162
date     2024-03-16 21:32:42
time2             1710621162
x                        158
y                        157
Name: 75, dtype: object 1710621162 dif: 3 xy: 158 157 (2, 2)
@TIME 1710621164 time              1710621163
date     2024-03-16 21:32:43
time2             1710621163
x                        154
y                        158
Name: 76, dtype: object 1710621163 dif: 2 xy: 154 158 (2, 2)

1710621167 19798
1710621167 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
79  1710621165  2024-03-16 21:32:45  1710621165  158  159
80  1710621167  2024-03-16 21:32:47  1710621167  160  159
@TIME 1710621167 time              1710621165
date     2024-03-16 21:32:45
time2             1710621165
x                        158
y                        159
Name: 79, dtype: object 1710621165 dif: 3 xy: 158 159 (2, 2)
@TIME 1710621167 time              1710621167
date     2024-03-16 21:32:47
time2             1710621167
x                        160
y                        159
Name: 80, dtype: object 1710621167 dif: 1 xy: 160 159 (2, 2)
1710621168 19798
1710621168 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
80  1710621167  2024-03-16 21:32:47  1710621167  160  159
81  1710621168  2024-03-16 21:32:48  1710621168  158  161
@TIME 1710621168 time              1710621167
date     2024-03-16 21:32:47
time2             1710621167
x                        160
y                        159
Name: 80, dtype: object 1710621167 dif: 2 xy: 160 159 (2, 2)
@TIME 1710621168 time              1710621168
date     2024-03-16 21:32:48
time2             1710621168
x                        158
y                        161
Name: 81, dtype: object 1710621168 dif: 1 xy: 158 161 (2, 2)
1710621169 19798
1710621169 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
80  1710621167  2024-03-16 21:32:47  1710621167  160  159
81  1710621168  2024-03-16 21:32:48  1710621168  158  161
82  1710621169  2024-03-16 21:32:49  1710621169  162  164
83  1710621169  2024-03-16 21:32:49  1710621169  154  161
@TIME 1710621169 time              1710621167
date     2024-03-16 21:32:47
time2             1710621167
x                        160
y                        159
Name: 80, dtype: object 1710621167 dif: 3 xy: 160 159 (2, 2)
@TIME 1710621169 time              1710621168
date     2024-03-16 21:32:48
time2             1710621168
x                        158
y                        161
Name: 81, dtype: object 1710621168 dif: 2 xy: 158 161 (2, 2)
@TIME 1710621169 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        162
y                        164
Name: 82, dtype: object 1710621169 dif: 1 xy: 162 164 (2, 2)
@TIME 1710621169 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        154
y                        161
Name: 83, dtype: object 1710621169 dif: 1 xy: 154 161 (2, 2)
1710621170 19798
1710621170 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
81  1710621168  2024-03-16 21:32:48  1710621168  158  161
82  1710621169  2024-03-16 21:32:49  1710621169  162  164
83  1710621169  2024-03-16 21:32:49  1710621169  154  161
84  1710621170  2024-03-16 21:32:50  1710621170  155  159
@TIME 1710621170 time              1710621168
date     2024-03-16 21:32:48
time2             1710621168
x                        158
y                        161
Name: 81, dtype: object 1710621168 dif: 3 xy: 158 161 (2, 2)
@TIME 1710621170 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        162
y                        164
Name: 82, dtype: object 1710621169 dif: 2 xy: 162 164 (2, 2)
@TIME 1710621170 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        154
y                        161
Name: 83, dtype: object 1710621169 dif: 2 xy: 154 161 (2, 2)
@TIME 1710621170 time              1710621170
date     2024-03-16 21:32:50
time2             1710621170
x                        155
y                        159
Name: 84, dtype: object 1710621170 dif: 1 xy: 155 159 (2, 2)
1710621171 19798
1710621171 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
82  1710621169  2024-03-16 21:32:49  1710621169  162  164
83  1710621169  2024-03-16 21:32:49  1710621169  154  161
84  1710621170  2024-03-16 21:32:50  1710621170  155  159
85  1710621171  2024-03-16 21:32:51  1710621171  158  159
@TIME 1710621171 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        162
y                        164
Name: 82, dtype: object 1710621169 dif: 3 xy: 162 164 (2, 2)
@TIME 1710621171 time              1710621169
date     2024-03-16 21:32:49
time2             1710621169
x                        154
y                        161
Name: 83, dtype: object 1710621169 dif: 3 xy: 154 161 (2, 2)
@TIME 1710621171 time              1710621170
date     2024-03-16 21:32:50
time2             1710621170
x                        155
y                        159
Name: 84, dtype: object 1710621170 dif: 2 xy: 155 159 (2, 2)
@TIME 1710621171 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        158
y                        159
Name: 85, dtype: object 1710621171 dif: 1 xy: 158 159 (2, 2)
1710621172 19798
1710621172 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
84  1710621170  2024-03-16 21:32:50  1710621170  155  159
85  1710621171  2024-03-16 21:32:51  1710621171  158  159
86  1710621172  2024-03-16 21:32:52  1710621172  157  159
@TIME 1710621172 time              1710621170
date     2024-03-16 21:32:50
time2             1710621170
x                        155
y                        159
Name: 84, dtype: object 1710621170 dif: 3 xy: 155 159 (2, 2)
@TIME 1710621172 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        158
y                        159
Name: 85, dtype: object 1710621171 dif: 2 xy: 158 159 (2, 2)
@TIME 1710621172 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        157
y                        159
Name: 86, dtype: object 1710621172 dif: 1 xy: 157 159 (2, 2)
1710621173 19798
1710621173 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
85  1710621171  2024-03-16 21:32:51  1710621171  158  159
86  1710621172  2024-03-16 21:32:52  1710621172  157  159
87  1710621173  2024-03-16 21:32:53  1710621173  149  160
88  1710621173  2024-03-16 21:32:53  1710621173  153  161
@TIME 1710621173 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        158
y                        159
Name: 85, dtype: object 1710621171 dif: 3 xy: 158 159 (2, 2)
@TIME 1710621173 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        157
y                        159
Name: 86, dtype: object 1710621172 dif: 2 xy: 157 159 (2, 2)
@TIME 1710621173 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        149
y                        160
Name: 87, dtype: object 1710621173 dif: 1 xy: 149 160 (2, 1)
@TIME 1710621173 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        153
y                        161
Name: 88, dtype: object 1710621173 dif: 1 xy: 153 161 (2, 1)
1710621174 19798
1710621174 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
86  1710621172  2024-03-16 21:32:52  1710621172  157  159
87  1710621173  2024-03-16 21:32:53  1710621173  149  160
88  1710621173  2024-03-16 21:32:53  1710621173  153  161
89  1710621174  2024-03-16 21:32:54  1710621174  153  158
@TIME 1710621174 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        157
y                        159
Name: 86, dtype: object 1710621172 dif: 3 xy: 157 159 (2, 2)
@TIME 1710621174 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        149
y                        160
Name: 87, dtype: object 1710621173 dif: 2 xy: 149 160 (2, 1)
@TIME 1710621174 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        153
y                        161
Name: 88, dtype: object 1710621173 dif: 2 xy: 153 161 (2, 1)
@TIME 1710621174 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        153
y                        158
Name: 89, dtype: object 1710621174 dif: 1 xy: 153 158 (2, 1)
1710621175 19798
1710621175 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
87  1710621173  2024-03-16 21:32:53  1710621173  149  160
88  1710621173  2024-03-16 21:32:53  1710621173  153  161
89  1710621174  2024-03-16 21:32:54  1710621174  153  158
@TIME 1710621175 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        149
y                        160
Name: 87, dtype: object 1710621173 dif: 3 xy: 149 160 (2, 1)
@TIME 1710621175 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        153
y                        161
Name: 88, dtype: object 1710621173 dif: 3 xy: 153 161 (2, 1)
@TIME 1710621175 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        153
y                        158
Name: 89, dtype: object 1710621174 dif: 2 xy: 153 158 (2, 1)
1710621176 19798
1710621176 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
89  1710621174  2024-03-16 21:32:54  1710621174  153  158
90  1710621176  2024-03-16 21:32:56  1710621176  156  159
@TIME 1710621176 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        153
y                        158
Name: 89, dtype: object 1710621174 dif: 3 xy: 153 158 (2, 1)
@TIME 1710621176 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        156
y                        159
Name: 90, dtype: object 1710621176 dif: 1 xy: 156 159 (2, 2)
1710621177 19798
1710621177 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
90  1710621176  2024-03-16 21:32:56  1710621176  156  159
91  1710621177  2024-03-16 21:32:57  1710621177  151  159
@TIME 1710621177 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        156
y                        159
Name: 90, dtype: object 1710621176 dif: 2 xy: 156 159 (2, 2)
@TIME 1710621177 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        151
y                        159
Name: 91, dtype: object 1710621177 dif: 1 xy: 151 159 (2, 1)
1710621178 19798
1710621178 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
90  1710621176  2024-03-16 21:32:56  1710621176  156  159
91  1710621177  2024-03-16 21:32:57  1710621177  151  159
92  1710621178  2024-03-16 21:32:58  1710621178  160  157
@TIME 1710621178 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        156
y                        159
Name: 90, dtype: object 1710621176 dif: 3 xy: 156 159 (2, 2)
@TIME 1710621178 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        151
y                        159
Name: 91, dtype: object 1710621177 dif: 2 xy: 151 159 (2, 1)
@TIME 1710621178 time              1710621178
date     2024-03-16 21:32:58
time2             1710621178
x                        160
y                        157
Name: 92, dtype: object 1710621178 dif: 1 xy: 160 157 (2, 2)
1710621179 19798
1710621179 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
91  1710621177  2024-03-16 21:32:57  1710621177  151  159
92  1710621178  2024-03-16 21:32:58  1710621178  160  157
93  1710621179  2024-03-16 21:32:59  1710621179  153  159
@TIME 1710621179 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        151
y                        159
Name: 91, dtype: object 1710621177 dif: 3 xy: 151 159 (2, 1)
@TIME 1710621179 time              1710621178
date     2024-03-16 21:32:58
time2             1710621178
x                        160
y                        157
Name: 92, dtype: object 1710621178 dif: 2 xy: 160 157 (2, 2)
@TIME 1710621179 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        153
y                        159
Name: 93, dtype: object 1710621179 dif: 1 xy: 153 159 (2, 1)
1710621180 19798
1710621180 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
92  1710621178  2024-03-16 21:32:58  1710621178  160  157
93  1710621179  2024-03-16 21:32:59  1710621179  153  159
94  1710621180  2024-03-16 21:33:00  1710621180  154  157
@TIME 1710621180 time              1710621178
date     2024-03-16 21:32:58
time2             1710621178
x                        160
y                        157
Name: 92, dtype: object 1710621178 dif: 3 xy: 160 157 (2, 2)
@TIME 1710621180 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        153
y                        159
Name: 93, dtype: object 1710621179 dif: 2 xy: 153 159 (2, 1)
@TIME 1710621180 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        154
y                        157
Name: 94, dtype: object 1710621180 dif: 1 xy: 154 157 (2, 2)
1710621181 19798
1710621181 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
93  1710621179  2024-03-16 21:32:59  1710621179  153  159
94  1710621180  2024-03-16 21:33:00  1710621180  154  157
95  1710621181  2024-03-16 21:33:01  1710621181  157  161
@TIME 1710621181 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        153
y                        159
Name: 93, dtype: object 1710621179 dif: 3 xy: 153 159 (2, 1)
@TIME 1710621181 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        154
y                        157
Name: 94, dtype: object 1710621180 dif: 2 xy: 154 157 (2, 2)
@TIME 1710621181 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        157
y                        161
Name: 95, dtype: object 1710621181 dif: 1 xy: 157 161 (2, 2)
1710621182 19798
1710621182 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
94  1710621180  2024-03-16 21:33:00  1710621180  154  157
95  1710621181  2024-03-16 21:33:01  1710621181  157  161
96  1710621182  2024-03-16 21:33:02  1710621182  158  157
@TIME 1710621182 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        154
y                        157
Name: 94, dtype: object 1710621180 dif: 3 xy: 154 157 (2, 2)
@TIME 1710621182 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        157
y                        161
Name: 95, dtype: object 1710621181 dif: 2 xy: 157 161 (2, 2)
@TIME 1710621182 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                        158
y                        157
Name: 96, dtype: object 1710621182 dif: 1 xy: 158 157 (2, 2)
1710621183 19798
1710621183 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
95  1710621181  2024-03-16 21:33:01  1710621181  157  161
96  1710621182  2024-03-16 21:33:02  1710621182  158  157
97  1710621183  2024-03-16 21:33:03  1710621183  156  151
@TIME 1710621183 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        157
y                        161
Name: 95, dtype: object 1710621181 dif: 3 xy: 157 161 (2, 2)
@TIME 1710621183 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                        158
y                        157
Name: 96, dtype: object 1710621182 dif: 2 xy: 158 157 (2, 2)
@TIME 1710621183 time              1710621183
date     2024-03-16 21:33:03
time2             1710621183
x                        156
y                        151
Name: 97, dtype: object 1710621183 dif: 1 xy: 156 151 (1, 2)
1710621184 19798
1710621184 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
96  1710621182  2024-03-16 21:33:02  1710621182  158  157
97  1710621183  2024-03-16 21:33:03  1710621183  156  151
98  1710621184  2024-03-16 21:33:04  1710621184  156  160
@TIME 1710621184 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                        158
y                        157
Name: 96, dtype: object 1710621182 dif: 3 xy: 158 157 (2, 2)
@TIME 1710621184 time              1710621183
date     2024-03-16 21:33:03
time2             1710621183
x                        156
y                        151
Name: 97, dtype: object 1710621183 dif: 2 xy: 156 151 (1, 2)
@TIME 1710621184 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                        156
y                        160
Name: 98, dtype: object 1710621184 dif: 1 xy: 156 160 (2, 2)
1710621185 19798
1710621185 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
97  1710621183  2024-03-16 21:33:03  1710621183  156  151
98  1710621184  2024-03-16 21:33:04  1710621184  156  160
99  1710621185  2024-03-16 21:33:05  1710621185  152  157
@TIME 1710621185 time              1710621183
date     2024-03-16 21:33:03
time2             1710621183
x                        156
y                        151
Name: 97, dtype: object 1710621183 dif: 3 xy: 156 151 (1, 2)
@TIME 1710621185 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                        156
y                        160
Name: 98, dtype: object 1710621184 dif: 2 xy: 156 160 (2, 2)
@TIME 1710621185 time              1710621185
date     2024-03-16 21:33:05
time2             1710621185
x                        152
y                        157
Name: 99, dtype: object 1710621185 dif: 1 xy: 152 157 (2, 1)
1710621186 19798
1710621186 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
98   1710621184  2024-03-16 21:33:04  1710621184  156  160
99   1710621185  2024-03-16 21:33:05  1710621185  152  157
100  1710621186  2024-03-16 21:33:06  1710621186  158  157
@TIME 1710621186 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                        156
y                        160
Name: 98, dtype: object 1710621184 dif: 3 xy: 156 160 (2, 2)
@TIME 1710621186 time              1710621185
date     2024-03-16 21:33:05
time2             1710621185
x                        152
y                        157
Name: 99, dtype: object 1710621185 dif: 2 xy: 152 157 (2, 1)
@TIME 1710621186 time              1710621186
date     2024-03-16 21:33:06
time2             1710621186
x                        158
y                        157
Name: 100, dtype: object 1710621186 dif: 1 xy: 158 157 (2, 2)
1710621187 19798
1710621187 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
99   1710621185  2024-03-16 21:33:05  1710621185  152  157
100  1710621186  2024-03-16 21:33:06  1710621186  158  157
101  1710621187  2024-03-16 21:33:07  1710621187  157  157
@TIME 1710621187 time              1710621185

1710621230 19798
1710621230 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
139  1710621228  2024-03-16 21:33:48  1710621228  155  168
@TIME 1710621230 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 3 xy: 155 168 (2, 2)
1710621231 19798
1710621231 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621231 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 4 xy: 155 168 (2, 2)
1710621232 19798
1710621232 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621232 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 5 xy: 155 168 (2, 2)
1710621233 19798
1710621233 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621233 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 6 xy: 155 168 (2, 2)
1710621234 19798
1710621234 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621234 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 7 xy: 155 168 (2, 2)
1710621235 19798
1710621235 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621235 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 8 xy: 155 168 (2, 2)
1710621236 19798
1710621236 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621236 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 9 xy: 155 168 (2, 2)
1710621237 19798
1710621237 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621237 time              1710621228
date     2024-03-16 21:33:48
time2             1710621228
x                        155
y                        168
Name: 139, dtype: object 1710621228 dif: 10 xy: 155 168 (2, 2)
1710621238 19798
1710621238 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
140  1710621238  2024-03-16 21:33:58  1710621238  164  165
@TIME 1710621238 time              1710621238
date     2024-03-16 21:33:58
time2             1710621238
x                        164
y                        165
Name: 140, dtype: object 1710621238 dif: 1 xy: 164 165 (2, 2)
1710621239 19798
1710621239 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
140  1710621238  2024-03-16 21:33:58  1710621238  164  165
141  1710621239  2024-03-16 21:33:59  1710621239  184  163
@TIME 1710621239 time              1710621238
date     2024-03-16 21:33:58
time2             1710621238
x                        164
y                        165
Name: 140, dtype: object 1710621238 dif: 2 xy: 164 165 (2, 2)
@TIME 1710621239 time              1710621239
date     2024-03-16 21:33:59
time2             1710621239
x                        184
y                        163
Name: 141, dtype: object 1710621239 dif: 1 xy: 184 163 (2, 2)
1710621240 19798
1710621240 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
140  1710621238  2024-03-16 21:33:58  1710621238  164  165
141  1710621239  2024-03-16 21:33:59  1710621239  184  163
142  1710621240  2024-03-16 21:34:00  1710621240  215  154
143  1710621240  2024-03-16 21:34:00  1710621240  249  157
@TIME 1710621240 time              1710621238
date     2024-03-16 21:33:58
time2             1710621238
x                        164
y                        165
Name: 140, dtype: object 1710621238 dif: 3 xy: 164 165 (2, 2)
@TIME 1710621240 time              1710621239
date     2024-03-16 21:33:59
time2             1710621239
x                        184
y                        163
Name: 141, dtype: object 1710621239 dif: 2 xy: 184 163 (2, 2)
@TIME 1710621240 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        215
y                        154
Name: 142, dtype: object 1710621240 dif: 1 xy: 215 154 (2, 2)
@TIME 1710621240 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        249
y                        157
Name: 143, dtype: object 1710621240 dif: 1 xy: 249 157 (2, 3)
1710621241 19798
1710621241 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
141  1710621239  2024-03-16 21:33:59  1710621239  184  163
142  1710621240  2024-03-16 21:34:00  1710621240  215  154
143  1710621240  2024-03-16 21:34:00  1710621240  249  157
144  1710621241  2024-03-16 21:34:01  1710621241  284  155
@TIME 1710621241 time              1710621239
date     2024-03-16 21:33:59
time2             1710621239
x                        184
y                        163
Name: 141, dtype: object 1710621239 dif: 3 xy: 184 163 (2, 2)
@TIME 1710621241 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        215
y                        154
Name: 142, dtype: object 1710621240 dif: 2 xy: 215 154 (2, 2)
@TIME 1710621241 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        249
y                        157
Name: 143, dtype: object 1710621240 dif: 2 xy: 249 157 (2, 3)
@TIME 1710621241 time              1710621241
date     2024-03-16 21:34:01
time2             1710621241
x                        284
y                        155
Name: 144, dtype: object 1710621241 dif: 1 xy: 284 155 (2, 3)
1710621242 19798
1710621242 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
142  1710621240  2024-03-16 21:34:00  1710621240  215  154
143  1710621240  2024-03-16 21:34:00  1710621240  249  157
144  1710621241  2024-03-16 21:34:01  1710621241  284  155
145  1710621242  2024-03-16 21:34:02  1710621242  308  154
@TIME 1710621242 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        215
y                        154
Name: 142, dtype: object 1710621240 dif: 3 xy: 215 154 (2, 2)
@TIME 1710621242 time              1710621240
date     2024-03-16 21:34:00
time2             1710621240
x                        249
y                        157
Name: 143, dtype: object 1710621240 dif: 3 xy: 249 157 (2, 3)
@TIME 1710621242 time              1710621241
date     2024-03-16 21:34:01
time2             1710621241
x                        284
y                        155
Name: 144, dtype: object 1710621241 dif: 2 xy: 284 155 (2, 3)
@TIME 1710621242 time              1710621242
date     2024-03-16 21:34:02
time2             1710621242
x                        308
y                        154
Name: 145, dtype: object 1710621242 dif: 1 xy: 308 154 (2, 4)
1710621243 19798
1710621243 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
144  1710621241  2024-03-16 21:34:01  1710621241  284  155
145  1710621242  2024-03-16 21:34:02  1710621242  308  154
146  1710621243  2024-03-16 21:34:03  1710621243  324  161
@TIME 1710621243 time              1710621241
date     2024-03-16 21:34:01
time2             1710621241
x                        284
y                        155
Name: 144, dtype: object 1710621241 dif: 3 xy: 284 155 (2, 3)
@TIME 1710621243 time              1710621242
date     2024-03-16 21:34:02
time2             1710621242
x                        308
y                        154
Name: 145, dtype: object 1710621242 dif: 2 xy: 308 154 (2, 4)
@TIME 1710621243 time              1710621243
date     2024-03-16 21:34:03
time2             1710621243
x                        324
y                        161
Name: 146, dtype: object 1710621243 dif: 1 xy: 324 161 (2, 4)
1710621244 19798
1710621244 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
145  1710621242  2024-03-16 21:34:02  1710621242  308  154
146  1710621243  2024-03-16 21:34:03  1710621243  324  161
147  1710621244  2024-03-16 21:34:04  1710621244  323  160
@TIME 1710621244 time              1710621242
date     2024-03-16 21:34:02
time2             1710621242
x                        308
y                        154
Name: 145, dtype: object 1710621242 dif: 3 xy: 308 154 (2, 4)
@TIME 1710621244 time              1710621243
date     2024-03-16 21:34:03
time2             1710621243
x                        324
y                        161
Name: 146, dtype: object 1710621243 dif: 2 xy: 324 161 (2, 4)
@TIME 1710621244 time              1710621244
date     2024-03-16 21:34:04
time2             1710621244
x                        323
y                        160
Name: 147, dtype: object 1710621244 dif: 1 xy: 323 160 (2, 4)
1710621245 19798
1710621245 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
146  1710621243  2024-03-16 21:34:03  1710621243  324  161
147  1710621244  2024-03-16 21:34:04  1710621244  323  160
@TIME 1710621245 time              1710621243
date     2024-03-16 21:34:03
time2             1710621243
x                        324
y                        161
Name: 146, dtype: object 1710621243 dif: 3 xy: 324 161 (2, 4)
@TIME 1710621245 time              1710621244
date     2024-03-16 21:34:04
time2             1710621244
x                        323
y                        160
Name: 147, dtype: object 1710621244 dif: 2 xy: 323 160 (2, 4)
1710621246 19798
1710621246 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
147  1710621244  2024-03-16 21:34:04  1710621244  323  160
@TIME 1710621246 time              1710621244
date     2024-03-16 21:34:04
time2             1710621244
x                        323
y                        160
Name: 147, dtype: object 1710621244 dif: 3 xy: 323 160 (2, 4)
1710621247 19798
1710621247 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621247 time              1710621244
date     2024-03-16 21:34:04
time2             1710621244
x                        323
y                        160
Name: 147, dtype: object 1710621244 dif: 4 xy: 323 160 (2, 4)
1710621248 19798
1710621248 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
148  1710621248  2024-03-16 21:34:08  1710621248  323  160
@TIME 1710621248 time              1710621248
date     2024-03-16 21:34:08
time2             1710621248
x                        323
y                        160
Name: 148, dtype: object 1710621248 dif: 1 xy: 323 160 (2, 4)
1710621249 19798
1710621249 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
148  1710621248  2024-03-16 21:34:08  1710621248  323  160
149  1710621249  2024-03-16 21:34:09  1710621249  326  162
@TIME 1710621249 time              1710621248
date     2024-03-16 21:34:08
time2             1710621248
x                        323
y                        160
Name: 148, dtype: object 1710621248 dif: 2 xy: 323 160 (2, 4)
@TIME 1710621249 time              1710621249
date     2024-03-16 21:34:09
time2             1710621249
x                        326
y                        162
Name: 149, dtype: object 1710621249 dif: 1 xy: 326 162 (2, 4)
1710621250 19798
1710621250 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
148  1710621248  2024-03-16 21:34:08  1710621248  323  160
149  1710621249  2024-03-16 21:34:09  1710621249  326  162
150  1710621250  2024-03-16 21:34:10  1710621250  326  162
@TIME 1710621250 time              1710621248
date     2024-03-16 21:34:08
time2             1710621248
x                        323
y                        160
Name: 148, dtype: object 1710621248 dif: 3 xy: 323 160 (2, 4)
@TIME 1710621250 time              1710621249
date     2024-03-16 21:34:09
time2             1710621249
x                        326
y                        162
Name: 149, dtype: object 1710621249 dif: 2 xy: 326 162 (2, 4)
@TIME 1710621250 time              1710621250
date     2024-03-16 21:34:10
time2             1710621250
x                        326
y                        162
Name: 150, dtype: object 1710621250 dif: 1 xy: 326 162 (2, 4)
1710621251 19798
1710621251 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
149  1710621249  2024-03-16 21:34:09  1710621249  326  162
150  1710621250  2024-03-16 21:34:10  1710621250  326  162
151  1710621251  2024-03-16 21:34:11  1710621251  326  160
@TIME 1710621251 time              1710621249
date     2024-03-16 21:34:09
time2             1710621249
x                        326
y                        162
Name: 149, dtype: object 1710621249 dif: 3 xy: 326 162 (2, 4)
@TIME 1710621251 time              1710621250
date     2024-03-16 21:34:10
time2             1710621250
x                        326
y                        162
Name: 150, dtype: object 1710621250 dif: 2 xy: 326 162 (2, 4)
@TIME 1710621251 time              1710621251
date     2024-03-16 21:34:11
time2             1710621251
x                        326
y                        160
Name: 151, dtype: object 1710621251 dif: 1 xy: 326 160 (2, 4)
1710621252 19798
1710621252 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
150  1710621250  2024-03-16 21:34:10  1710621250  326  162
151  1710621251  2024-03-16 21:34:11  1710621251  326  160
152  1710621252  2024-03-16 21:34:12  1710621252  326  160
@TIME 1710621252 time              1710621250
date     2024-03-16 21:34:10
time2             1710621250
x                        326
y                        162
Name: 150, dtype: object 1710621250 dif: 3 xy: 326 162 (2, 4)
@TIME 1710621252 time              1710621251
date     2024-03-16 21:34:11
time2             1710621251
x                        326
y                        160
Name: 151, dtype: object 1710621251 dif: 2 xy: 326 160 (2, 4)
@TIME 1710621252 time              1710621252
date     2024-03-16 21:34:12
time2             1710621252
x                        326
y                        160
Name: 152, dtype: object 1710621252 dif: 1 xy: 326 160 (2, 4)
1710621253 19798
1710621253 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
151  1710621251  2024-03-16 21:34:11  1710621251  326  160
152  1710621252  2024-03-16 21:34:12  1710621252  326  160
153  1710621253  2024-03-16 21:34:13  1710621253  323  160
@TIME 1710621253 time              1710621251
date     2024-03-16 21:34:11
time2             1710621251
x                        326
y                        160
Name: 151, dtype: object 1710621251 dif: 3 xy: 326 160 (2, 4)
@TIME 1710621253 time              1710621252
date     2024-03-16 21:34:12
time2             1710621252
x                        326
y                        160
Name: 152, dtype: object 1710621252 dif: 2 xy: 326 160 (2, 4)
@TIME 1710621253 time              1710621253
date     2024-03-16 21:34:13
time2             1710621253
x                        323
y                        160
Name: 153, dtype: object 1710621253 dif: 1 xy: 323 160 (2, 4)
1710621254 19798
1710621254 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
152  1710621252  2024-03-16 21:34:12  1710621252  326  160
153  1710621253  2024-03-16 21:34:13  1710621253  323  160
154  1710621254  2024-03-16 21:34:14  1710621254  322  160
@TIME 1710621254 time              1710621252
date     2024-03-16 21:34:12
time2             1710621252
x                        326
y                        160
Name: 152, dtype: object 1710621252 dif: 3 xy: 326 160 (2, 4)
@TIME 1710621254 time              1710621253
date     2024-03-16 21:34:13
time2             1710621253
x                        323
y                        160
Name: 153, dtype: object 1710621253 dif: 2 xy: 323 160 (2, 4)
@TIME 1710621254 time              1710621254
date     2024-03-16 21:34:14
time2             1710621254
x                        322
y                        160
Name: 154, dtype: object 1710621254 dif: 1 xy: 322 160 (2, 4)
1710621255 19798
1710621255 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
153  1710621253  2024-03-16 21:34:13  1710621253  323  160
154  1710621254  2024-03-16 21:34:14  1710621254  322  160
155  1710621255  2024-03-16 21:34:15  1710621255  320  161
@TIME 1710621255 time              1710621253
date     2024-03-16 21:34:13
time2             1710621253
x                        323
y                        160
Name: 153, dtype: object 1710621253 dif: 3 xy: 323 160 (2, 4)
@TIME 1710621255 time              1710621254
date     2024-03-16 21:34:14
time2             1710621254
x                        322
y                        160
Name: 154, dtype: object 1710621254 dif: 2 xy: 322 160 (2, 4)
@TIME 1710621255 time              1710621255
date     2024-03-16 21:34:15
time2             1710621255
x                        320
y                        161
Name: 155, dtype: object 1710621255 dif: 1 xy: 320 161 (2, 4)
1710621256 19798
1710621256 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
154  1710621254  2024-03-16 21:34:14  1710621254  322  160
155  1710621255  2024-03-16 21:34:15  1710621255  320  161
156  1710621256  2024-03-16 21:34:16  1710621256  322  165
@TIME 1710621256 time              1710621254
date     2024-03-16 21:34:14
time2             1710621254
x                        322
y                        160
Name: 154, dtype: object 1710621254 dif: 3 xy: 322 160 (2, 4)
@TIME 1710621256 time              1710621255
date     2024-03-16 21:34:15
time2             1710621255
x                        320
y                        161
Name: 155, dtype: object 1710621255 dif: 2 xy: 320 161 (2, 4)
@TIME 1710621256 time              1710621256
date     2024-03-16 21:34:16
time2             1710621256
x                        322
y                        165
Name: 156, dtype: object 1710621256 dif: 1 xy: 322 165 (2, 4)
1710621257 19798
1710621257 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y

1710621261 19798
1710621261 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
159  1710621259  2024-03-16 21:34:19  1710621259  323  165
160  1710621260  2024-03-16 21:34:20  1710621260  321  162
161  1710621261  2024-03-16 21:34:21  1710621261  328  162
@TIME 1710621261 time              1710621259
date     2024-03-16 21:34:19
time2             1710621259
x                        323
y                        165
Name: 159, dtype: object 1710621259 dif: 3 xy: 323 165 (2, 4)
@TIME 1710621261 time              1710621260
date     2024-03-16 21:34:20
time2             1710621260
x                        321
y                        162
Name: 160, dtype: object 1710621260 dif: 2 xy: 321 162 (2, 4)
@TIME 1710621261 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                        328
y                        162
Name: 161, dtype: object 1710621261 dif: 1 xy: 328 162 (2, 4)
1710621262 19798
1710621262 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
160  1710621260  2024-03-16 21:34:20  1710621260  321  162
161  1710621261  2024-03-16 21:34:21  1710621261  328  162
162  1710621262  2024-03-16 21:34:22  1710621262  320  156
@TIME 1710621262 time              1710621260
date     2024-03-16 21:34:20
time2             1710621260
x                        321
y                        162
Name: 160, dtype: object 1710621260 dif: 3 xy: 321 162 (2, 4)
@TIME 1710621262 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                        328
y                        162
Name: 161, dtype: object 1710621261 dif: 2 xy: 328 162 (2, 4)
@TIME 1710621262 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                        320
y                        156
Name: 162, dtype: object 1710621262 dif: 1 xy: 320 156 (2, 4)
1710621263 19798
1710621263 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
161  1710621261  2024-03-16 21:34:21  1710621261  328  162
162  1710621262  2024-03-16 21:34:22  1710621262  320  156
163  1710621263  2024-03-16 21:34:23  1710621263  326  163
@TIME 1710621263 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                        328
y                        162
Name: 161, dtype: object 1710621261 dif: 3 xy: 328 162 (2, 4)
@TIME 1710621263 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                        320
y                        156
Name: 162, dtype: object 1710621262 dif: 2 xy: 320 156 (2, 4)
@TIME 1710621263 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        326
y                        163
Name: 163, dtype: object 1710621263 dif: 1 xy: 326 163 (2, 4)
1710621264 19798
1710621264 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
162  1710621262  2024-03-16 21:34:22  1710621262  320  156
163  1710621263  2024-03-16 21:34:23  1710621263  326  163
164  1710621264  2024-03-16 21:34:24  1710621264  325  154
@TIME 1710621264 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                        320
y                        156
Name: 162, dtype: object 1710621262 dif: 3 xy: 320 156 (2, 4)
@TIME 1710621264 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        326
y                        163
Name: 163, dtype: object 1710621263 dif: 2 xy: 326 163 (2, 4)
@TIME 1710621264 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        325
y                        154
Name: 164, dtype: object 1710621264 dif: 1 xy: 325 154 (2, 4)
1710621265 19798
1710621265 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
163  1710621263  2024-03-16 21:34:23  1710621263  326  163
164  1710621264  2024-03-16 21:34:24  1710621264  325  154
165  1710621265  2024-03-16 21:34:25  1710621265  325  167
@TIME 1710621265 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        326
y                        163
Name: 163, dtype: object 1710621263 dif: 3 xy: 326 163 (2, 4)
@TIME 1710621265 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        325
y                        154
Name: 164, dtype: object 1710621264 dif: 2 xy: 325 154 (2, 4)
@TIME 1710621265 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        325
y                        167
Name: 165, dtype: object 1710621265 dif: 1 xy: 325 167 (2, 4)
1710621266 19798
1710621266 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
164  1710621264  2024-03-16 21:34:24  1710621264  325  154
165  1710621265  2024-03-16 21:34:25  1710621265  325  167
166  1710621266  2024-03-16 21:34:26  1710621266  325  165
167  1710621266  2024-03-16 21:34:26  1710621266  325  161
@TIME 1710621266 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        325
y                        154
Name: 164, dtype: object 1710621264 dif: 3 xy: 325 154 (2, 4)
@TIME 1710621266 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        325
y                        167
Name: 165, dtype: object 1710621265 dif: 2 xy: 325 167 (2, 4)
@TIME 1710621266 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        165
Name: 166, dtype: object 1710621266 dif: 1 xy: 325 165 (2, 4)
@TIME 1710621266 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        161
Name: 167, dtype: object 1710621266 dif: 1 xy: 325 161 (2, 4)
1710621267 19798
1710621267 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
165  1710621265  2024-03-16 21:34:25  1710621265  325  167
166  1710621266  2024-03-16 21:34:26  1710621266  325  165
167  1710621266  2024-03-16 21:34:26  1710621266  325  161
@TIME 1710621267 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        325
y                        167
Name: 165, dtype: object 1710621265 dif: 3 xy: 325 167 (2, 4)
@TIME 1710621267 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        165
Name: 166, dtype: object 1710621266 dif: 2 xy: 325 165 (2, 4)
@TIME 1710621267 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        161
Name: 167, dtype: object 1710621266 dif: 2 xy: 325 161 (2, 4)
1710621268 19798
1710621268 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
166  1710621266  2024-03-16 21:34:26  1710621266  325  165
167  1710621266  2024-03-16 21:34:26  1710621266  325  161
@TIME 1710621268 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        165
Name: 166, dtype: object 1710621266 dif: 3 xy: 325 165 (2, 4)
@TIME 1710621268 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        161
Name: 167, dtype: object 1710621266 dif: 3 xy: 325 161 (2, 4)
1710621269 19798
1710621269 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621269 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        165
Name: 166, dtype: object 1710621266 dif: 4 xy: 325 165 (2, 4)
@TIME 1710621269 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        325
y                        161
Name: 167, dtype: object 1710621266 dif: 4 xy: 325 161 (2, 4)
1710621270 19798
1710621270 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
168  1710621270  2024-03-16 21:34:30  1710621270  322  169
@TIME 1710621270 time              1710621270
date     2024-03-16 21:34:30
time2             1710621270
x                        322
y                        169
Name: 168, dtype: object 1710621270 dif: 1 xy: 322 169 (2, 4)
1710621271 19798
1710621271 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
168  1710621270  2024-03-16 21:34:30  1710621270  322  169
169  1710621271  2024-03-16 21:34:31  1710621271  322  177
@TIME 1710621271 time              1710621270
date     2024-03-16 21:34:30
time2             1710621270
x                        322
y                        169
Name: 168, dtype: object 1710621270 dif: 2 xy: 322 169 (2, 4)
@TIME 1710621271 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        322
y                        177
Name: 169, dtype: object 1710621271 dif: 1 xy: 322 177 (2, 4)
1710621272 19798
1710621272 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
168  1710621270  2024-03-16 21:34:30  1710621270  322  169
169  1710621271  2024-03-16 21:34:31  1710621271  322  177
170  1710621272  2024-03-16 21:34:32  1710621272  320  196
@TIME 1710621272 time              1710621270
date     2024-03-16 21:34:30
time2             1710621270
x                        322
y                        169
Name: 168, dtype: object 1710621270 dif: 3 xy: 322 169 (2, 4)
@TIME 1710621272 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        322
y                        177
Name: 169, dtype: object 1710621271 dif: 2 xy: 322 177 (2, 4)
@TIME 1710621272 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        320
y                        196
Name: 170, dtype: object 1710621272 dif: 1 xy: 320 196 (2, 4)
1710621273 19798
1710621273 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
169  1710621271  2024-03-16 21:34:31  1710621271  322  177
170  1710621272  2024-03-16 21:34:32  1710621272  320  196
171  1710621273  2024-03-16 21:34:33  1710621273  320  228
172  1710621273  2024-03-16 21:34:33  1710621273  321  256
@TIME 1710621273 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        322
y                        177
Name: 169, dtype: object 1710621271 dif: 3 xy: 322 177 (2, 4)
@TIME 1710621273 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        320
y                        196
Name: 170, dtype: object 1710621272 dif: 2 xy: 320 196 (2, 4)
@TIME 1710621273 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        320
y                        228
Name: 171, dtype: object 1710621273 dif: 1 xy: 320 228 (2, 4)
@TIME 1710621273 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        321
y                        256
Name: 172, dtype: object 1710621273 dif: 1 xy: 321 256 (3, 4)
1710621274 19798
1710621274 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
170  1710621272  2024-03-16 21:34:32  1710621272  320  196
171  1710621273  2024-03-16 21:34:33  1710621273  320  228
172  1710621273  2024-03-16 21:34:33  1710621273  321  256
173  1710621274  2024-03-16 21:34:34  1710621274  320  295
@TIME 1710621274 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        320
y                        196
Name: 170, dtype: object 1710621272 dif: 3 xy: 320 196 (2, 4)
@TIME 1710621274 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        320
y                        228
Name: 171, dtype: object 1710621273 dif: 2 xy: 320 228 (2, 4)
@TIME 1710621274 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        321
y                        256
Name: 172, dtype: object 1710621273 dif: 2 xy: 321 256 (3, 4)
@TIME 1710621274 time              1710621274
date     2024-03-16 21:34:34
time2             1710621274
x                        320
y                        295
Name: 173, dtype: object 1710621274 dif: 1 xy: 320 295 (3, 4)
1710621275 19798
1710621275 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
171  1710621273  2024-03-16 21:34:33  1710621273  320  228
172  1710621273  2024-03-16 21:34:33  1710621273  321  256
173  1710621274  2024-03-16 21:34:34  1710621274  320  295
@TIME 1710621275 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        320
y                        228
Name: 171, dtype: object 1710621273 dif: 3 xy: 320 228 (2, 4)
@TIME 1710621275 time              1710621273
date     2024-03-16 21:34:33
time2             1710621273
x                        321
y                        256
Name: 172, dtype: object 1710621273 dif: 3 xy: 321 256 (3, 4)
@TIME 1710621275 time              1710621274
date     2024-03-16 21:34:34
time2             1710621274
x                        320
y                        295
Name: 173, dtype: object 1710621274 dif: 2 xy: 320 295 (3, 4)
1710621276 19798
1710621276 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
173  1710621274  2024-03-16 21:34:34  1710621274  320  295
@TIME 1710621276 time              1710621274
date     2024-03-16 21:34:34
time2             1710621274
x                        320
y                        295
Name: 173, dtype: object 1710621274 dif: 3 xy: 320 295 (3, 4)
1710621277 19798
1710621277 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
174  1710621277  2024-03-16 21:34:37  1710621277  320  325
175  1710621277  2024-03-16 21:34:37  1710621277  325  349
@TIME 1710621277 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        320
y                        325
Name: 174, dtype: object 1710621277 dif: 1 xy: 320 325 (4, 4)
@TIME 1710621277 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        325
y                        349
Name: 175, dtype: object 1710621277 dif: 1 xy: 325 349 (4, 4)
1710621278 19798
1710621278 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
174  1710621277  2024-03-16 21:34:37  1710621277  320  325
175  1710621277  2024-03-16 21:34:37  1710621277  325  349
@TIME 1710621278 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        320
y                        325
Name: 174, dtype: object 1710621277 dif: 2 xy: 320 325 (4, 4)
@TIME 1710621278 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        325
y                        349
Name: 175, dtype: object 1710621277 dif: 2 xy: 325 349 (4, 4)
1710621279 19798
1710621279 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
174  1710621277  2024-03-16 21:34:37  1710621277  320  325
175  1710621277  2024-03-16 21:34:37  1710621277  325  349
@TIME 1710621279 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        320
y                        325
Name: 174, dtype: object 1710621277 dif: 3 xy: 320 325 (4, 4)
@TIME 1710621279 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        325
y                        349
Name: 175, dtype: object 1710621277 dif: 3 xy: 325 349 (4, 4)
1710621280 19798
1710621280 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621280 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        320
y                        325
Name: 174, dtype: object 1710621277 dif: 4 xy: 320 325 (4, 4)
@TIME 1710621280 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        325
y                        349
Name: 175, dtype: object 1710621277 dif: 4 xy: 325 349 (4, 4)
1710621281 19798
1710621281 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621281 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        320
y                        325
Name: 174, dtype: object 1710621277 dif: 5 xy: 320 325 (4, 4)
@TIME 1710621281 time              1710621277
date     2024-03-16 21:34:37
time2             1710621277
x                        325
y                        349
Name: 175, dtype: object 1710621277 dif: 5 xy: 325 349 (4, 4)
1710621282 19798
1710621282 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
176  1710621282  2024-03-16 21:34:42  1710621282  325  378
@TIME 1710621282 time              1710621282
date     2024-03-16 21:34:42
time2             1710621282
x                        325
y                        378
Name: 176, dtype: object 1710621282 dif: 1 xy: 325 378 (4, 4)
1710621283 19798
1710621283 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
176  1710621282  2024-03-16 21:34:42  1710621282  325  378
177  1710621283  2024-03-16 21:34:43  1710621283  325  390
@TIME 1710621283 time              1710621282
date     2024-03-16 21:34:42
time2             1710621282
x                        325
y                        378
Name: 176, dtype: object 1710621282 dif: 2 xy: 325 378 (4, 4)
@TIME 1710621283 time              1710621283
date     2024-03-16 21:34:43
time2             1710621283
x                        325
y                        390
Name: 177, dtype: object 1710621283 dif: 1 xy: 325 390 (5, 4)
1710621284 19798
1710621284 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
176  1710621282  2024-03-16 21:34:42  1710621282  325  378
177  1710621283  2024-03-16 21:34:43  1710621283  325  390
178  1710621284  2024-03-16 21:34:44  1710621284  325  398
179  1710621284  2024-03-16 21:34:44  1710621284  325  398
@TIME 1710621284 time              1710621282
date     2024-03-16 21:34:42
time2             1710621282
x                        325
y                        378
Name: 176, dtype: object 1710621282 dif: 3 xy: 325 378 (4, 4)
@TIME 1710621284 time              1710621283
date     2024-03-16 21:34:43
time2             1710621283
x                        325
y                        390
Name: 177, dtype: object 1710621283 dif: 2 xy: 325 390 (5, 4)
@TIME 1710621284 time              1710621284
date     2024-03-16 21:34:44
time2             1710621284
x                        325
y                        398
Name: 178, dtype: object 1710621284 dif: 1 xy: 325 398 (5, 4)

1710621331 19798
1710621331 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
220  1710621329  2024-03-16 21:35:29  1710621329  324  405
221  1710621331  2024-03-16 21:35:31  1710621331  324  398
@TIME 1710621331 time              1710621329
date     2024-03-16 21:35:29
time2             1710621329
x                        324
y                        405
Name: 220, dtype: object 1710621329 dif: 3 xy: 324 405 (5, 4)
@TIME 1710621331 time              1710621331
date     2024-03-16 21:35:31
time2             1710621331
x                        324
y                        398
Name: 221, dtype: object 1710621331 dif: 1 xy: 324 398 (5, 4)
1710621332 19798
1710621332 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
221  1710621331  2024-03-16 21:35:31  1710621331  324  398
222  1710621332  2024-03-16 21:35:32  1710621332  324  405
@TIME 1710621332 time              1710621331
date     2024-03-16 21:35:31
time2             1710621331
x                        324
y                        398
Name: 221, dtype: object 1710621331 dif: 2 xy: 324 398 (5, 4)
@TIME 1710621332 time              1710621332
date     2024-03-16 21:35:32
time2             1710621332
x                        324
y                        405
Name: 222, dtype: object 1710621332 dif: 1 xy: 324 405 (5, 4)
1710621333 19798
1710621333 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
221  1710621331  2024-03-16 21:35:31  1710621331  324  398
222  1710621332  2024-03-16 21:35:32  1710621332  324  405
@TIME 1710621333 time              1710621331
date     2024-03-16 21:35:31
time2             1710621331
x                        324
y                        398
Name: 221, dtype: object 1710621331 dif: 3 xy: 324 398 (5, 4)
@TIME 1710621333 time              1710621332
date     2024-03-16 21:35:32
time2             1710621332
x                        324
y                        405
Name: 222, dtype: object 1710621332 dif: 2 xy: 324 405 (5, 4)
1710621334 19798
1710621334 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
222  1710621332  2024-03-16 21:35:32  1710621332  324  405
223  1710621334  2024-03-16 21:35:34  1710621334  324  397
@TIME 1710621334 time              1710621332
date     2024-03-16 21:35:32
time2             1710621332
x                        324
y                        405
Name: 222, dtype: object 1710621332 dif: 3 xy: 324 405 (5, 4)
@TIME 1710621334 time              1710621334
date     2024-03-16 21:35:34
time2             1710621334
x                        324
y                        397
Name: 223, dtype: object 1710621334 dif: 1 xy: 324 397 (5, 4)
1710621335 19798
1710621335 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
223  1710621334  2024-03-16 21:35:34  1710621334  324  397
224  1710621335  2024-03-16 21:35:35  1710621335  324  402
@TIME 1710621335 time              1710621334
date     2024-03-16 21:35:34
time2             1710621334
x                        324
y                        397
Name: 223, dtype: object 1710621334 dif: 2 xy: 324 397 (5, 4)
@TIME 1710621335 time              1710621335
date     2024-03-16 21:35:35
time2             1710621335
x                        324
y                        402
Name: 224, dtype: object 1710621335 dif: 1 xy: 324 402 (5, 4)
1710621336 19798
1710621336 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
223  1710621334  2024-03-16 21:35:34  1710621334  324  397
224  1710621335  2024-03-16 21:35:35  1710621335  324  402
225  1710621336  2024-03-16 21:35:36  1710621336  324  398
@TIME 1710621336 time              1710621334
date     2024-03-16 21:35:34
time2             1710621334
x                        324
y                        397
Name: 223, dtype: object 1710621334 dif: 3 xy: 324 397 (5, 4)
@TIME 1710621336 time              1710621335
date     2024-03-16 21:35:35
time2             1710621335
x                        324
y                        402
Name: 224, dtype: object 1710621335 dif: 2 xy: 324 402 (5, 4)
@TIME 1710621336 time              1710621336
date     2024-03-16 21:35:36
time2             1710621336
x                        324
y                        398
Name: 225, dtype: object 1710621336 dif: 1 xy: 324 398 (5, 4)
1710621337 19798
1710621337 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
224  1710621335  2024-03-16 21:35:35  1710621335  324  402
225  1710621336  2024-03-16 21:35:36  1710621336  324  398
@TIME 1710621337 time              1710621335
date     2024-03-16 21:35:35
time2             1710621335
x                        324
y                        402
Name: 224, dtype: object 1710621335 dif: 3 xy: 324 402 (5, 4)
@TIME 1710621337 time              1710621336
date     2024-03-16 21:35:36
time2             1710621336
x                        324
y                        398
Name: 225, dtype: object 1710621336 dif: 2 xy: 324 398 (5, 4)
1710621338 19798
1710621338 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
225  1710621336  2024-03-16 21:35:36  1710621336  324  398
226  1710621338  2024-03-16 21:35:38  1710621338  324  395
@TIME 1710621338 time              1710621336
date     2024-03-16 21:35:36
time2             1710621336
x                        324
y                        398
Name: 225, dtype: object 1710621336 dif: 3 xy: 324 398 (5, 4)
@TIME 1710621338 time              1710621338
date     2024-03-16 21:35:38
time2             1710621338
x                        324
y                        395
Name: 226, dtype: object 1710621338 dif: 1 xy: 324 395 (5, 4)
1710621339 19798
1710621339 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
226  1710621338  2024-03-16 21:35:38  1710621338  324  395
@TIME 1710621339 time              1710621338
date     2024-03-16 21:35:38
time2             1710621338
x                        324
y                        395
Name: 226, dtype: object 1710621338 dif: 2 xy: 324 395 (5, 4)
1710621340 19798
1710621340 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
226  1710621338  2024-03-16 21:35:38  1710621338  324  395
227  1710621340  2024-03-16 21:35:40  1710621340  324  402
@TIME 1710621340 time              1710621338
date     2024-03-16 21:35:38
time2             1710621338
x                        324
y                        395
Name: 226, dtype: object 1710621338 dif: 3 xy: 324 395 (5, 4)
@TIME 1710621340 time              1710621340
date     2024-03-16 21:35:40
time2             1710621340
x                        324
y                        402
Name: 227, dtype: object 1710621340 dif: 1 xy: 324 402 (5, 4)
1710621341 19798
1710621341 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
227  1710621340  2024-03-16 21:35:40  1710621340  324  402
228  1710621341  2024-03-16 21:35:41  1710621341  324  399
@TIME 1710621341 time              1710621340
date     2024-03-16 21:35:40
time2             1710621340
x                        324
y                        402
Name: 227, dtype: object 1710621340 dif: 2 xy: 324 402 (5, 4)
@TIME 1710621341 time              1710621341
date     2024-03-16 21:35:41
time2             1710621341
x                        324
y                        399
Name: 228, dtype: object 1710621341 dif: 1 xy: 324 399 (5, 4)
1710621342 19798
1710621342 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
227  1710621340  2024-03-16 21:35:40  1710621340  324  402
228  1710621341  2024-03-16 21:35:41  1710621341  324  399
229  1710621342  2024-03-16 21:35:42  1710621342  324  396
@TIME 1710621342 time              1710621340
date     2024-03-16 21:35:40
time2             1710621340
x                        324
y                        402
Name: 227, dtype: object 1710621340 dif: 3 xy: 324 402 (5, 4)
@TIME 1710621342 time              1710621341
date     2024-03-16 21:35:41
time2             1710621341
x                        324
y                        399
Name: 228, dtype: object 1710621341 dif: 2 xy: 324 399 (5, 4)
@TIME 1710621342 time              1710621342
date     2024-03-16 21:35:42
time2             1710621342
x                        324
y                        396
Name: 229, dtype: object 1710621342 dif: 1 xy: 324 396 (5, 4)
1710621343 19798
1710621343 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
228  1710621341  2024-03-16 21:35:41  1710621341  324  399
229  1710621342  2024-03-16 21:35:42  1710621342  324  396
230  1710621343  2024-03-16 21:35:43  1710621343  324  399
231  1710621343  2024-03-16 21:35:43  1710621343  324  401
@TIME 1710621343 time              1710621341
date     2024-03-16 21:35:41
time2             1710621341
x                        324
y                        399
Name: 228, dtype: object 1710621341 dif: 3 xy: 324 399 (5, 4)
@TIME 1710621343 time              1710621342
date     2024-03-16 21:35:42
time2             1710621342
x                        324
y                        396
Name: 229, dtype: object 1710621342 dif: 2 xy: 324 396 (5, 4)
@TIME 1710621343 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 1 xy: 324 399 (5, 4)
@TIME 1710621343 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 1 xy: 324 401 (5, 4)
1710621344 19798
1710621344 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
229  1710621342  2024-03-16 21:35:42  1710621342  324  396
230  1710621343  2024-03-16 21:35:43  1710621343  324  399
231  1710621343  2024-03-16 21:35:43  1710621343  324  401
@TIME 1710621344 time              1710621342
date     2024-03-16 21:35:42
time2             1710621342
x                        324
y                        396
Name: 229, dtype: object 1710621342 dif: 3 xy: 324 396 (5, 4)
@TIME 1710621344 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 2 xy: 324 399 (5, 4)
@TIME 1710621344 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 2 xy: 324 401 (5, 4)
1710621345 19798
1710621345 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
230  1710621343  2024-03-16 21:35:43  1710621343  324  399
231  1710621343  2024-03-16 21:35:43  1710621343  324  401
@TIME 1710621345 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 3 xy: 324 399 (5, 4)
@TIME 1710621345 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 3 xy: 324 401 (5, 4)
1710621346 19798
1710621346 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621346 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 4 xy: 324 399 (5, 4)
@TIME 1710621346 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 4 xy: 324 401 (5, 4)
1710621347 19798
1710621347 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621347 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 5 xy: 324 399 (5, 4)
@TIME 1710621347 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 5 xy: 324 401 (5, 4)
1710621348 19798
1710621348 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621348 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 6 xy: 324 399 (5, 4)
@TIME 1710621348 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 6 xy: 324 401 (5, 4)
1710621349 19798
1710621349 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621349 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        399
Name: 230, dtype: object 1710621343 dif: 7 xy: 324 399 (5, 4)
@TIME 1710621349 time              1710621343
date     2024-03-16 21:35:43
time2             1710621343
x                        324
y                        401
Name: 231, dtype: object 1710621343 dif: 7 xy: 324 401 (5, 4)
1710621350 19798
1710621350 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
232  1710621350  2024-03-16 21:35:50  1710621350  232  415
@TIME 1710621350 time              1710621350
date     2024-03-16 21:35:50
time2             1710621350
x                        232
y                        415
Name: 232, dtype: object 1710621350 dif: 1 xy: 232 415 (5, 3)
1710621351 19798
1710621351 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
232  1710621350  2024-03-16 21:35:50  1710621350  232  415
233  1710621351  2024-03-16 21:35:51  1710621351  240  415
@TIME 1710621351 time              1710621350
date     2024-03-16 21:35:50
time2             1710621350
x                        232
y                        415
Name: 232, dtype: object 1710621350 dif: 2 xy: 232 415 (5, 3)
@TIME 1710621351 time              1710621351
date     2024-03-16 21:35:51
time2             1710621351
x                        240
y                        415
Name: 233, dtype: object 1710621351 dif: 1 xy: 240 415 (5, 3)
1710621352 19798
1710621352 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
232  1710621350  2024-03-16 21:35:50  1710621350  232  415
233  1710621351  2024-03-16 21:35:51  1710621351  240  415
234  1710621352  2024-03-16 21:35:52  1710621352  240  414
@TIME 1710621352 time              1710621350
date     2024-03-16 21:35:50
time2             1710621350
x                        232
y                        415
Name: 232, dtype: object 1710621350 dif: 3 xy: 232 415 (5, 3)
@TIME 1710621352 time              1710621351
date     2024-03-16 21:35:51
time2             1710621351
x                        240
y                        415
Name: 233, dtype: object 1710621351 dif: 2 xy: 240 415 (5, 3)
@TIME 1710621352 time              1710621352
date     2024-03-16 21:35:52
time2             1710621352
x                        240
y                        414
Name: 234, dtype: object 1710621352 dif: 1 xy: 240 414 (5, 3)
1710621353 19798
1710621353 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
233  1710621351  2024-03-16 21:35:51  1710621351  240  415
234  1710621352  2024-03-16 21:35:52  1710621352  240  414
235  1710621353  2024-03-16 21:35:53  1710621353  240  411
@TIME 1710621353 time              1710621351
date     2024-03-16 21:35:51
time2             1710621351
x                        240
y                        415
Name: 233, dtype: object 1710621351 dif: 3 xy: 240 415 (5, 3)
@TIME 1710621353 time              1710621352
date     2024-03-16 21:35:52
time2             1710621352
x                        240
y                        414
Name: 234, dtype: object 1710621352 dif: 2 xy: 240 414 (5, 3)
@TIME 1710621353 time              1710621353
date     2024-03-16 21:35:53
time2             1710621353
x                        240
y                        411
Name: 235, dtype: object 1710621353 dif: 1 xy: 240 411 (5, 3)
1710621354 19798
1710621354 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
234  1710621352  2024-03-16 21:35:52  1710621352  240  414
235  1710621353  2024-03-16 21:35:53  1710621353  240  411
236  1710621354  2024-03-16 21:35:54  1710621354  244  420
@TIME 1710621354 time              1710621352
date     2024-03-16 21:35:52
time2             1710621352
x                        240
y                        414
Name: 234, dtype: object 1710621352 dif: 3 xy: 240 414 (5, 3)
@TIME 1710621354 time              1710621353
date     2024-03-16 21:35:53
time2             1710621353
x                        240
y                        411
Name: 235, dtype: object 1710621353 dif: 2 xy: 240 411 (5, 3)
@TIME 1710621354 time              1710621354
date     2024-03-16 21:35:54
time2             1710621354
x                        244
y                        420
Name: 236, dtype: object 1710621354 dif: 1 xy: 244 420 (5, 3)
1710621355 19798
1710621355 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
235  1710621353  2024-03-16 21:35:53  1710621353  240  411
236  1710621354  2024-03-16 21:35:54  1710621354  244  420
237  1710621355  2024-03-16 21:35:55  1710621355  244  420
@TIME 1710621355 time              1710621353
date     2024-03-16 21:35:53
time2             1710621353
x                        240
y                        411
Name: 235, dtype: object 1710621353 dif: 3 xy: 240 411 (5, 3)
@TIME 1710621355 time              1710621354
date     2024-03-16 21:35:54
time2             1710621354
x                        244
y                        420
Name: 236, dtype: object 1710621354 dif: 2 xy: 244 420 (5, 3)
@TIME 1710621355 time              1710621355
date     2024-03-16 21:35:55
time2             1710621355
x                        244
y                        420
Name: 237, dtype: object 1710621355 dif: 1 xy: 244 420 (5, 3)
1710621356 19798
1710621356 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
236  1710621354  2024-03-16 21:35:54  1710621354  244  420
237  1710621355  2024-03-16 21:35:55  1710621355  244  420
238  1710621356  2024-03-16 21:35:56  1710621356  241  413
@TIME 1710621356 time              1710621354
date     2024-03-16 21:35:54
time2             1710621354
x                        244
y                        420
Name: 236, dtype: object 1710621354 dif: 3 xy: 244 420 (5, 3)
@TIME 1710621356 time              1710621355
date     2024-03-16 21:35:55
time2             1710621355
x                        244
y                        420
Name: 237, dtype: object 1710621355 dif: 2 xy: 244 420 (5, 3)
@TIME 1710621356 time              1710621356

1710621366 19798
1710621366 1710621088 1710621359
1710621366 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
247  1710621364  2024-03-16 21:36:04  1710621364  237  409
248  1710621365  2024-03-16 21:36:05  1710621365  238  401
249  1710621366  2024-03-16 21:36:06  1710621366  239  407
250  1710621366  2024-03-16 21:36:06  1710621366  239  412
@TIME 1710621366 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        237
y                        409
Name: 247, dtype: object 1710621364 dif: 3 xy: 237 409 (5, 3)
@TIME 1710621366 time              1710621365
date     2024-03-16 21:36:05
time2             1710621365
x                        238
y                        401
Name: 248, dtype: object 1710621365 dif: 2 xy: 238 401 (5, 3)
@TIME 1710621366 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        407
Name: 249, dtype: object 1710621366 dif: 1 xy: 239 407 (5, 3)
@TIME 1710621366 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        412
Name: 250, dtype: object 1710621366 dif: 1 xy: 239 412 (5, 3)
1710621367 19798
1710621367 1710621088 1710621359
1710621367 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
248  1710621365  2024-03-16 21:36:05  1710621365  238  401
249  1710621366  2024-03-16 21:36:06  1710621366  239  407
250  1710621366  2024-03-16 21:36:06  1710621366  239  412
251  1710621367  2024-03-16 21:36:07  1710621367  243  410
@TIME 1710621367 time              1710621365
date     2024-03-16 21:36:05
time2             1710621365
x                        238
y                        401
Name: 248, dtype: object 1710621365 dif: 3 xy: 238 401 (5, 3)
@TIME 1710621367 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        407
Name: 249, dtype: object 1710621366 dif: 2 xy: 239 407 (5, 3)
@TIME 1710621367 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        412
Name: 250, dtype: object 1710621366 dif: 2 xy: 239 412 (5, 3)
@TIME 1710621367 time              1710621367
date     2024-03-16 21:36:07
time2             1710621367
x                        243
y                        410
Name: 251, dtype: object 1710621367 dif: 1 xy: 243 410 (5, 3)
1710621368 19798
1710621368 1710621088 1710621359
1710621368 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
249  1710621366  2024-03-16 21:36:06  1710621366  239  407
250  1710621366  2024-03-16 21:36:06  1710621366  239  412
251  1710621367  2024-03-16 21:36:07  1710621367  243  410
252  1710621368  2024-03-16 21:36:08  1710621368  240  409
@TIME 1710621368 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        407
Name: 249, dtype: object 1710621366 dif: 3 xy: 239 407 (5, 3)
@TIME 1710621368 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        239
y                        412
Name: 250, dtype: object 1710621366 dif: 3 xy: 239 412 (5, 3)
@TIME 1710621368 time              1710621367
date     2024-03-16 21:36:07
time2             1710621367
x                        243
y                        410
Name: 251, dtype: object 1710621367 dif: 2 xy: 243 410 (5, 3)
@TIME 1710621368 time              1710621368
date     2024-03-16 21:36:08
time2             1710621368
x                        240
y                        409
Name: 252, dtype: object 1710621368 dif: 1 xy: 240 409 (5, 3)
1710621369 19798
1710621369 1710621088 1710621359
1710621369 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
251  1710621367  2024-03-16 21:36:07  1710621367  243  410
252  1710621368  2024-03-16 21:36:08  1710621368  240  409
253  1710621369  2024-03-16 21:36:09  1710621369  239  405
@TIME 1710621369 time              1710621367
date     2024-03-16 21:36:07
time2             1710621367
x                        243
y                        410
Name: 251, dtype: object 1710621367 dif: 3 xy: 243 410 (5, 3)
@TIME 1710621369 time              1710621368
date     2024-03-16 21:36:08
time2             1710621368
x                        240
y                        409
Name: 252, dtype: object 1710621368 dif: 2 xy: 240 409 (5, 3)
@TIME 1710621369 time              1710621369
date     2024-03-16 21:36:09
time2             1710621369
x                        239
y                        405
Name: 253, dtype: object 1710621369 dif: 1 xy: 239 405 (5, 3)
1710621370 19798
1710621370 1710621088 1710621359
1710621370 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
252  1710621368  2024-03-16 21:36:08  1710621368  240  409
253  1710621369  2024-03-16 21:36:09  1710621369  239  405
254  1710621370  2024-03-16 21:36:10  1710621370  239  400
@TIME 1710621370 time              1710621368
date     2024-03-16 21:36:08
time2             1710621368
x                        240
y                        409
Name: 252, dtype: object 1710621368 dif: 3 xy: 240 409 (5, 3)
@TIME 1710621370 time              1710621369
date     2024-03-16 21:36:09
time2             1710621369
x                        239
y                        405
Name: 253, dtype: object 1710621369 dif: 2 xy: 239 405 (5, 3)
@TIME 1710621370 time              1710621370
date     2024-03-16 21:36:10
time2             1710621370
x                        239
y                        400
Name: 254, dtype: object 1710621370 dif: 1 xy: 239 400 (5, 3)
1710621371 19798
1710621371 1710621088 1710621359
1710621371 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
253  1710621369  2024-03-16 21:36:09  1710621369  239  405
254  1710621370  2024-03-16 21:36:10  1710621370  239  400
255  1710621371  2024-03-16 21:36:11  1710621371  239  409
@TIME 1710621371 time              1710621369
date     2024-03-16 21:36:09
time2             1710621369
x                        239
y                        405
Name: 253, dtype: object 1710621369 dif: 3 xy: 239 405 (5, 3)
@TIME 1710621371 time              1710621370
date     2024-03-16 21:36:10
time2             1710621370
x                        239
y                        400
Name: 254, dtype: object 1710621370 dif: 2 xy: 239 400 (5, 3)
@TIME 1710621371 time              1710621371
date     2024-03-16 21:36:11
time2             1710621371
x                        239
y                        409
Name: 255, dtype: object 1710621371 dif: 1 xy: 239 409 (5, 3)
1710621372 19798
1710621372 1710621088 1710621359
1710621372 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
254  1710621370  2024-03-16 21:36:10  1710621370  239  400
255  1710621371  2024-03-16 21:36:11  1710621371  239  409
256  1710621372  2024-03-16 21:36:12  1710621372  239  411
@TIME 1710621372 time              1710621370
date     2024-03-16 21:36:10
time2             1710621370
x                        239
y                        400
Name: 254, dtype: object 1710621370 dif: 3 xy: 239 400 (5, 3)
@TIME 1710621372 time              1710621371
date     2024-03-16 21:36:11
time2             1710621371
x                        239
y                        409
Name: 255, dtype: object 1710621371 dif: 2 xy: 239 409 (5, 3)
@TIME 1710621372 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        239
y                        411
Name: 256, dtype: object 1710621372 dif: 1 xy: 239 411 (5, 3)
1710621373 19798
1710621373 1710621088 1710621359
1710621373 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
255  1710621371  2024-03-16 21:36:11  1710621371  239  409
256  1710621372  2024-03-16 21:36:12  1710621372  239  411
257  1710621373  2024-03-16 21:36:13  1710621373  239  399
@TIME 1710621373 time              1710621371
date     2024-03-16 21:36:11
time2             1710621371
x                        239
y                        409
Name: 255, dtype: object 1710621371 dif: 3 xy: 239 409 (5, 3)
@TIME 1710621373 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        239
y                        411
Name: 256, dtype: object 1710621372 dif: 2 xy: 239 411 (5, 3)
@TIME 1710621373 time              1710621373
date     2024-03-16 21:36:13
time2             1710621373
x                        239
y                        399
Name: 257, dtype: object 1710621373 dif: 1 xy: 239 399 (5, 3)
1710621374 19798
1710621374 1710621088 1710621359
1710621374 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
256  1710621372  2024-03-16 21:36:12  1710621372  239  411
257  1710621373  2024-03-16 21:36:13  1710621373  239  399
258  1710621374  2024-03-16 21:36:14  1710621374  239  410
@TIME 1710621374 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        239
y                        411
Name: 256, dtype: object 1710621372 dif: 3 xy: 239 411 (5, 3)
@TIME 1710621374 time              1710621373
date     2024-03-16 21:36:13
time2             1710621373
x                        239
y                        399
Name: 257, dtype: object 1710621373 dif: 2 xy: 239 399 (5, 3)
@TIME 1710621374 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        239
y                        410
Name: 258, dtype: object 1710621374 dif: 1 xy: 239 410 (5, 3)
1710621375 19798
1710621375 1710621088 1710621359
1710621375 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
257  1710621373  2024-03-16 21:36:13  1710621373  239  399
258  1710621374  2024-03-16 21:36:14  1710621374  239  410
259  1710621375  2024-03-16 21:36:15  1710621375  239  407
@TIME 1710621375 time              1710621373
date     2024-03-16 21:36:13
time2             1710621373
x                        239
y                        399
Name: 257, dtype: object 1710621373 dif: 3 xy: 239 399 (5, 3)
@TIME 1710621375 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        239
y                        410
Name: 258, dtype: object 1710621374 dif: 2 xy: 239 410 (5, 3)
@TIME 1710621375 time              1710621375
date     2024-03-16 21:36:15
time2             1710621375
x                        239
y                        407
Name: 259, dtype: object 1710621375 dif: 1 xy: 239 407 (5, 3)
1710621376 19798
1710621376 1710621088 1710621359
1710621376 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
258  1710621374  2024-03-16 21:36:14  1710621374  239  410
259  1710621375  2024-03-16 21:36:15  1710621375  239  407
260  1710621376  2024-03-16 21:36:16  1710621376  239  403
@TIME 1710621376 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        239
y                        410
Name: 258, dtype: object 1710621374 dif: 3 xy: 239 410 (5, 3)
@TIME 1710621376 time              1710621375
date     2024-03-16 21:36:15
time2             1710621375
x                        239
y                        407
Name: 259, dtype: object 1710621375 dif: 2 xy: 239 407 (5, 3)
@TIME 1710621376 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        403
Name: 260, dtype: object 1710621376 dif: 1 xy: 239 403 (5, 3)
1710621377 19798
1710621377 1710621088 1710621359
1710621377 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
259  1710621375  2024-03-16 21:36:15  1710621375  239  407
260  1710621376  2024-03-16 21:36:16  1710621376  239  403
261  1710621377  2024-03-16 21:36:17  1710621377  239  398
@TIME 1710621377 time              1710621375
date     2024-03-16 21:36:15
time2             1710621375
x                        239
y                        407
Name: 259, dtype: object 1710621375 dif: 3 xy: 239 407 (5, 3)
@TIME 1710621377 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        403
Name: 260, dtype: object 1710621376 dif: 2 xy: 239 403 (5, 3)
@TIME 1710621377 time              1710621377
date     2024-03-16 21:36:17
time2             1710621377
x                        239
y                        398
Name: 261, dtype: object 1710621377 dif: 1 xy: 239 398 (5, 3)
1710621378 19798
1710621378 1710621088 1710621359
1710621378 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
260  1710621376  2024-03-16 21:36:16  1710621376  239  403
261  1710621377  2024-03-16 21:36:17  1710621377  239  398
262  1710621378  2024-03-16 21:36:18  1710621378  240  405
@TIME 1710621378 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        403
Name: 260, dtype: object 1710621376 dif: 3 xy: 239 403 (5, 3)
@TIME 1710621378 time              1710621377
date     2024-03-16 21:36:17
time2             1710621377
x                        239
y                        398
Name: 261, dtype: object 1710621377 dif: 2 xy: 239 398 (5, 3)
@TIME 1710621378 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        240
y                        405
Name: 262, dtype: object 1710621378 dif: 1 xy: 240 405 (5, 3)
1710621379 19798
1710621379 1710621088 1710621359
1710621379 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
261  1710621377  2024-03-16 21:36:17  1710621377  239  398
262  1710621378  2024-03-16 21:36:18  1710621378  240  405
263  1710621379  2024-03-16 21:36:19  1710621379  240  401
@TIME 1710621379 time              1710621377
date     2024-03-16 21:36:17
time2             1710621377
x                        239
y                        398
Name: 261, dtype: object 1710621377 dif: 3 xy: 239 398 (5, 3)
@TIME 1710621379 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        240
y                        405
Name: 262, dtype: object 1710621378 dif: 2 xy: 240 405 (5, 3)
@TIME 1710621379 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        240
y                        401
Name: 263, dtype: object 1710621379 dif: 1 xy: 240 401 (5, 3)
1710621380 19798
1710621380 1710621088 1710621359
1710621380 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
262  1710621378  2024-03-16 21:36:18  1710621378  240  405
263  1710621379  2024-03-16 21:36:19  1710621379  240  401
@TIME 1710621380 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        240
y                        405
Name: 262, dtype: object 1710621378 dif: 3 xy: 240 405 (5, 3)
@TIME 1710621380 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        240
y                        401
Name: 263, dtype: object 1710621379 dif: 2 xy: 240 401 (5, 3)
1710621381 19798
1710621381 1710621088 1710621359
1710621381 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
263  1710621379  2024-03-16 21:36:19  1710621379  240  401
264  1710621381  2024-03-16 21:36:21  1710621381  240  405
@TIME 1710621381 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        240
y                        401
Name: 263, dtype: object 1710621379 dif: 3 xy: 240 401 (5, 3)
@TIME 1710621381 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        240
y                        405
Name: 264, dtype: object 1710621381 dif: 1 xy: 240 405 (5, 3)
1710621382 19798
1710621382 1710621088 1710621359
1710621382 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
264  1710621381  2024-03-16 21:36:21  1710621381  240  405
@TIME 1710621382 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        240
y                        405
Name: 264, dtype: object 1710621381 dif: 2 xy: 240 405 (5, 3)
1710621383 19798
1710621383 1710621088 1710621359
1710621383 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
264  1710621381  2024-03-16 21:36:21  1710621381  240  405
@TIME 1710621383 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        240
y                        405
Name: 264, dtype: object 1710621381 dif: 3 xy: 240 405 (5, 3)
1710621384 19798
1710621384 1710621088 1710621359
1710621384 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621384 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        240
y                        405
Name: 264, dtype: object 1710621381 dif: 4 xy: 240 405 (5, 3)
1710621385 19798
1710621385 1710621088 1710621359
1710621385 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
265  1710621385  2024-03-16 21:36:25  1710621385  240  401
266  1710621385  2024-03-16 21:36:25  1710621385  240  401
@TIME 1710621385 time              1710621385
date     2024-03-16 21:36:25
time2             1710621385
x                        240
y                        401
Name: 265, dtype: object 1710621385 dif: 1 xy: 240 401 (5, 3)
@TIME 1710621385 time              1710621385
date     2024-03-16 21:36:25
time2             1710621385
x                        240
y                        401
Name: 266, dtype: object 1710621385 dif: 1 xy: 240 401 (5, 3)
1710621386 19798
1710621386 1710621088 1710621359
1710621386 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
265  1710621385  2024-03-16 21:36:25  1710621385  240  401
266  1710621385  2024-03-16 21:36:25  1710621385  240  401
267  1710621386  2024-03-16 21:36:26  1710621386  240  409
@TIME 1710621386 time              1710621385
date     2024-03-16 21:36:25
time2             1710621385
x                        240
y                        401
Name: 265, dtype: object 1710621385 dif: 2 xy: 240 401 (5, 3)
@TIME 1710621386 time              1710621385
date     2024-03-16 21:36:25
time2             1710621385
x                        240
y                        401
Name: 266, dtype: object 1710621385 dif: 2 xy: 240 401 (5, 3)
@TIME 1710621386 time              1710621386
date     2024-03-16 21:36:26
time2             1710621386
x                        240
y                        409
Name: 267, dtype: object 1710621386 dif: 1 xy: 240 409 (5, 3)
1710621387 19798
1710621387 1710621088 1710621359
1710621387 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
265  1710621385  2024-03-16 21:36:25  1710621385  240  401
266  1710621385  2024-03-16 21:36:25  1710621385  240  401
267  1710621386  2024-03-16 21:36:26  1710621386  240  409
@TIME 1710621387 time              1710621385
date     2024-03-16 21:36:25
time2             1710621385
x                        240
y                        401

DF            time                 date       time2    x    y
301  1710621423  2024-03-16 21:37:03  1710621423  237  407
@TIME 1710621425 time              1710621423
date     2024-03-16 21:37:03
time2             1710621423
x                        237
y                        407
Name: 301, dtype: object 1710621423 dif: 3 xy: 237 407 (5, 3)
1710621426 19798
1710621426 1710621088 1710621359
1710621426 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
302  1710621426  2024-03-16 21:37:06  1710621426  229  378
@TIME 1710621426 time              1710621426
date     2024-03-16 21:37:06
time2             1710621426
x                        229
y                        378
Name: 302, dtype: object 1710621426 dif: 1 xy: 229 378 (4, 2)
1710621427 19798
1710621427 1710621088 1710621359
1710621427 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
302  1710621426  2024-03-16 21:37:06  1710621426  229  378
303  1710621427  2024-03-16 21:37:07  1710621427  215  357
@TIME 1710621427 time              1710621426
date     2024-03-16 21:37:06
time2             1710621426
x                        229
y                        378
Name: 302, dtype: object 1710621426 dif: 2 xy: 229 378 (4, 2)
@TIME 1710621427 time              1710621427
date     2024-03-16 21:37:07
time2             1710621427
x                        215
y                        357
Name: 303, dtype: object 1710621427 dif: 1 xy: 215 357 (4, 2)
1710621428 19798
1710621428 1710621088 1710621359
1710621428 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
302  1710621426  2024-03-16 21:37:06  1710621426  229  378
303  1710621427  2024-03-16 21:37:07  1710621427  215  357
304  1710621428  2024-03-16 21:37:08  1710621428  209  338
@TIME 1710621428 time              1710621426
date     2024-03-16 21:37:06
time2             1710621426
x                        229
y                        378
Name: 302, dtype: object 1710621426 dif: 3 xy: 229 378 (4, 2)
@TIME 1710621428 time              1710621427
date     2024-03-16 21:37:07
time2             1710621427
x                        215
y                        357
Name: 303, dtype: object 1710621427 dif: 2 xy: 215 357 (4, 2)
@TIME 1710621428 time              1710621428
date     2024-03-16 21:37:08
time2             1710621428
x                        209
y                        338
Name: 304, dtype: object 1710621428 dif: 1 xy: 209 338 (4, 2)
1710621429 19798
1710621429 1710621088 1710621359
1710621429 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
303  1710621427  2024-03-16 21:37:07  1710621427  215  357
304  1710621428  2024-03-16 21:37:08  1710621428  209  338
305  1710621429  2024-03-16 21:37:09  1710621429  197  328
@TIME 1710621429 time              1710621427
date     2024-03-16 21:37:07
time2             1710621427
x                        215
y                        357
Name: 303, dtype: object 1710621427 dif: 3 xy: 215 357 (4, 2)
@TIME 1710621429 time              1710621428
date     2024-03-16 21:37:08
time2             1710621428
x                        209
y                        338
Name: 304, dtype: object 1710621428 dif: 2 xy: 209 338 (4, 2)
@TIME 1710621429 time              1710621429
date     2024-03-16 21:37:09
time2             1710621429
x                        197
y                        328
Name: 305, dtype: object 1710621429 dif: 1 xy: 197 328 (4, 2)
1710621430 19798
1710621430 1710621088 1710621359
1710621430 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
304  1710621428  2024-03-16 21:37:08  1710621428  209  338
305  1710621429  2024-03-16 21:37:09  1710621429  197  328
306  1710621430  2024-03-16 21:37:10  1710621430  173  315
@TIME 1710621430 time              1710621428
date     2024-03-16 21:37:08
time2             1710621428
x                        209
y                        338
Name: 304, dtype: object 1710621428 dif: 3 xy: 209 338 (4, 2)
@TIME 1710621430 time              1710621429
date     2024-03-16 21:37:09
time2             1710621429
x                        197
y                        328
Name: 305, dtype: object 1710621429 dif: 2 xy: 197 328 (4, 2)
@TIME 1710621430 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 1 xy: 173 315 (4, 2)
1710621431 19798
1710621431 1710621088 1710621359
1710621431 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
305  1710621429  2024-03-16 21:37:09  1710621429  197  328
306  1710621430  2024-03-16 21:37:10  1710621430  173  315
@TIME 1710621431 time              1710621429
date     2024-03-16 21:37:09
time2             1710621429
x                        197
y                        328
Name: 305, dtype: object 1710621429 dif: 3 xy: 197 328 (4, 2)
@TIME 1710621431 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 2 xy: 173 315 (4, 2)
1710621432 19798
1710621432 1710621088 1710621359
1710621432 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
306  1710621430  2024-03-16 21:37:10  1710621430  173  315
@TIME 1710621432 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 3 xy: 173 315 (4, 2)
1710621433 19798
1710621433 1710621088 1710621359
1710621433 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621433 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 4 xy: 173 315 (4, 2)
1710621434 19798
1710621434 1710621088 1710621359
1710621434 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621434 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 5 xy: 173 315 (4, 2)
1710621435 19798
1710621435 1710621088 1710621359
1710621435 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621435 time              1710621430
date     2024-03-16 21:37:10
time2             1710621430
x                        173
y                        315
Name: 306, dtype: object 1710621430 dif: 6 xy: 173 315 (4, 2)
1710621436 19798
1710621436 1710621088 1710621359
1710621436 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
307  1710621436  2024-03-16 21:37:16  1710621436  160  300
@TIME 1710621436 time              1710621436
date     2024-03-16 21:37:16
time2             1710621436
x                        160
y                        300
Name: 307, dtype: object 1710621436 dif: 1 xy: 160 300 (3, 2)
1710621437 19798
1710621437 1710621088 1710621359
1710621437 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
307  1710621436  2024-03-16 21:37:16  1710621436  160  300
308  1710621437  2024-03-16 21:37:17  1710621437  163  306
@TIME 1710621437 time              1710621436
date     2024-03-16 21:37:16
time2             1710621436
x                        160
y                        300
Name: 307, dtype: object 1710621436 dif: 2 xy: 160 300 (3, 2)
@TIME 1710621437 time              1710621437
date     2024-03-16 21:37:17
time2             1710621437
x                        163
y                        306
Name: 308, dtype: object 1710621437 dif: 1 xy: 163 306 (3, 2)
1710621438 19798
1710621438 1710621088 1710621359
1710621438 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
307  1710621436  2024-03-16 21:37:16  1710621436  160  300
308  1710621437  2024-03-16 21:37:17  1710621437  163  306
309  1710621438  2024-03-16 21:37:18  1710621438  163  306
@TIME 1710621438 time              1710621436
date     2024-03-16 21:37:16
time2             1710621436
x                        160
y                        300
Name: 307, dtype: object 1710621436 dif: 3 xy: 160 300 (3, 2)
@TIME 1710621438 time              1710621437
date     2024-03-16 21:37:17
time2             1710621437
x                        163
y                        306
Name: 308, dtype: object 1710621437 dif: 2 xy: 163 306 (3, 2)
@TIME 1710621438 time              1710621438
date     2024-03-16 21:37:18
time2             1710621438
x                        163
y                        306
Name: 309, dtype: object 1710621438 dif: 1 xy: 163 306 (3, 2)
1710621439 19798
1710621439 1710621088 1710621359
1710621439 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
308  1710621437  2024-03-16 21:37:17  1710621437  163  306
309  1710621438  2024-03-16 21:37:18  1710621438  163  306
310  1710621439  2024-03-16 21:37:19  1710621439  163  305
@TIME 1710621439 time              1710621437
date     2024-03-16 21:37:17
time2             1710621437
x                        163
y                        306
Name: 308, dtype: object 1710621437 dif: 3 xy: 163 306 (3, 2)
@TIME 1710621439 time              1710621438
date     2024-03-16 21:37:18
time2             1710621438
x                        163
y                        306
Name: 309, dtype: object 1710621438 dif: 2 xy: 163 306 (3, 2)
@TIME 1710621439 time              1710621439
date     2024-03-16 21:37:19
time2             1710621439
x                        163
y                        305
Name: 310, dtype: object 1710621439 dif: 1 xy: 163 305 (3, 2)
1710621440 19798
1710621440 1710621088 1710621359
1710621440 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
309  1710621438  2024-03-16 21:37:18  1710621438  163  306
310  1710621439  2024-03-16 21:37:19  1710621439  163  305
311  1710621440  2024-03-16 21:37:20  1710621440  161  309
@TIME 1710621440 time              1710621438
date     2024-03-16 21:37:18
time2             1710621438
x                        163
y                        306
Name: 309, dtype: object 1710621438 dif: 3 xy: 163 306 (3, 2)
@TIME 1710621440 time              1710621439
date     2024-03-16 21:37:19
time2             1710621439
x                        163
y                        305
Name: 310, dtype: object 1710621439 dif: 2 xy: 163 305 (3, 2)
@TIME 1710621440 time              1710621440
date     2024-03-16 21:37:20
time2             1710621440
x                        161
y                        309
Name: 311, dtype: object 1710621440 dif: 1 xy: 161 309 (4, 2)
1710621441 19798
1710621441 1710621088 1710621359
1710621441 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
310  1710621439  2024-03-16 21:37:19  1710621439  163  305
311  1710621440  2024-03-16 21:37:20  1710621440  161  309
312  1710621441  2024-03-16 21:37:21  1710621441  160  305
@TIME 1710621441 time              1710621439
date     2024-03-16 21:37:19
time2             1710621439
x                        163
y                        305
Name: 310, dtype: object 1710621439 dif: 3 xy: 163 305 (3, 2)
@TIME 1710621441 time              1710621440
date     2024-03-16 21:37:20
time2             1710621440
x                        161
y                        309
Name: 311, dtype: object 1710621440 dif: 2 xy: 161 309 (4, 2)
@TIME 1710621441 time              1710621441
date     2024-03-16 21:37:21
time2             1710621441
x                        160
y                        305
Name: 312, dtype: object 1710621441 dif: 1 xy: 160 305 (3, 2)
1710621442 19798
1710621442 1710621088 1710621359
1710621442 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
311  1710621440  2024-03-16 21:37:20  1710621440  161  309
312  1710621441  2024-03-16 21:37:21  1710621441  160  305
313  1710621442  2024-03-16 21:37:22  1710621442  160  309
@TIME 1710621442 time              1710621440
date     2024-03-16 21:37:20
time2             1710621440
x                        161
y                        309
Name: 311, dtype: object 1710621440 dif: 3 xy: 161 309 (4, 2)
@TIME 1710621442 time              1710621441
date     2024-03-16 21:37:21
time2             1710621441
x                        160
y                        305
Name: 312, dtype: object 1710621441 dif: 2 xy: 160 305 (3, 2)
@TIME 1710621442 time              1710621442
date     2024-03-16 21:37:22
time2             1710621442
x                        160
y                        309
Name: 313, dtype: object 1710621442 dif: 1 xy: 160 309 (4, 2)
1710621443 19798
1710621443 1710621088 1710621359
1710621443 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
312  1710621441  2024-03-16 21:37:21  1710621441  160  305
313  1710621442  2024-03-16 21:37:22  1710621442  160  309
314  1710621443  2024-03-16 21:37:23  1710621443  159  312
@TIME 1710621443 time              1710621441
date     2024-03-16 21:37:21
time2             1710621441
x                        160
y                        305
Name: 312, dtype: object 1710621441 dif: 3 xy: 160 305 (3, 2)
@TIME 1710621443 time              1710621442
date     2024-03-16 21:37:22
time2             1710621442
x                        160
y                        309
Name: 313, dtype: object 1710621442 dif: 2 xy: 160 309 (4, 2)
@TIME 1710621443 time              1710621443
date     2024-03-16 21:37:23
time2             1710621443
x                        159
y                        312
Name: 314, dtype: object 1710621443 dif: 1 xy: 159 312 (4, 2)
1710621444 19798
1710621444 1710621088 1710621359
1710621444 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
313  1710621442  2024-03-16 21:37:22  1710621442  160  309
314  1710621443  2024-03-16 21:37:23  1710621443  159  312
315  1710621444  2024-03-16 21:37:24  1710621444  159  307
316  1710621444  2024-03-16 21:37:24  1710621444  159  309
@TIME 1710621444 time              1710621442
date     2024-03-16 21:37:22
time2             1710621442
x                        160
y                        309
Name: 313, dtype: object 1710621442 dif: 3 xy: 160 309 (4, 2)
@TIME 1710621444 time              1710621443
date     2024-03-16 21:37:23
time2             1710621443
x                        159
y                        312
Name: 314, dtype: object 1710621443 dif: 2 xy: 159 312 (4, 2)
@TIME 1710621444 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        307
Name: 315, dtype: object 1710621444 dif: 1 xy: 159 307 (3, 2)
@TIME 1710621444 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        309
Name: 316, dtype: object 1710621444 dif: 1 xy: 159 309 (4, 2)
1710621445 19798
1710621445 1710621088 1710621359
1710621445 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
314  1710621443  2024-03-16 21:37:23  1710621443  159  312
315  1710621444  2024-03-16 21:37:24  1710621444  159  307
316  1710621444  2024-03-16 21:37:24  1710621444  159  309
317  1710621445  2024-03-16 21:37:25  1710621445  162  317
@TIME 1710621445 time              1710621443
date     2024-03-16 21:37:23
time2             1710621443
x                        159
y                        312
Name: 314, dtype: object 1710621443 dif: 3 xy: 159 312 (4, 2)
@TIME 1710621445 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        307
Name: 315, dtype: object 1710621444 dif: 2 xy: 159 307 (3, 2)
@TIME 1710621445 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        309
Name: 316, dtype: object 1710621444 dif: 2 xy: 159 309 (4, 2)
@TIME 1710621445 time              1710621445
date     2024-03-16 21:37:25
time2             1710621445
x                        162
y                        317
Name: 317, dtype: object 1710621445 dif: 1 xy: 162 317 (4, 2)
1710621446 19798
1710621446 1710621088 1710621359
1710621446 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
315  1710621444  2024-03-16 21:37:24  1710621444  159  307
316  1710621444  2024-03-16 21:37:24  1710621444  159  309
317  1710621445  2024-03-16 21:37:25  1710621445  162  317
318  1710621446  2024-03-16 21:37:26  1710621446  162  311
@TIME 1710621446 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        307
Name: 315, dtype: object 1710621444 dif: 3 xy: 159 307 (3, 2)
@TIME 1710621446 time              1710621444
date     2024-03-16 21:37:24
time2             1710621444
x                        159
y                        309
Name: 316, dtype: object 1710621444 dif: 3 xy: 159 309 (4, 2)
@TIME 1710621446 time              1710621445
date     2024-03-16 21:37:25
time2             1710621445
x                        162
y                        317
Name: 317, dtype: object 1710621445 dif: 2 xy: 162 317 (4, 2)
@TIME 1710621446 time              1710621446
date     2024-03-16 21:37:26
time2             1710621446
x                        162
y                        311
Name: 318, dtype: object 1710621446 dif: 1 xy: 162 311 (4, 2)
1710621447 19798
1710621447 1710621088 1710621359
1710621447 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
317  1710621445  2024-03-16 21:37:25  1710621445  162  317
318  1710621446  2024-03-16 21:37:26  1710621446  162  311
319  1710621447  2024-03-16 21:37:27  1710621447  162  311
@TIME 1710621447 time              1710621445
date     2024-03-16 21:37:25
time2             1710621445
x                        162
y                        317
Name: 317, dtype: object 1710621445 dif: 3 xy: 162 317 (4, 2)
@TIME 1710621447 time              1710621446
date     2024-03-16 21:37:26
time2             1710621446
x                        162
y                        311
Name: 318, dtype: object 1710621446 dif: 2 xy: 162 311 (4, 2)
@TIME 1710621447 time              1710621447
date     2024-03-16 21:37:27
time2             1710621447
x                        162
y                        311
Name: 319, dtype: object 1710621447 dif: 1 xy: 162 311 (4, 2)
1710621448 19798
1710621448 1710621088 1710621359
1710621448 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
318  1710621446  2024-03-16 21:37:26  1710621446  162  311
319  1710621447  2024-03-16 21:37:27  1710621447  162  311
320  1710621448  2024-03-16 21:37:28  1710621448  159  311
@TIME 1710621448 time              1710621446
date     2024-03-16 21:37:26
time2             1710621446
x                        162
y                        311
Name: 318, dtype: object 1710621446 dif: 3 xy: 162 311 (4, 2)
@TIME 1710621448 time              1710621447
date     2024-03-16 21:37:27
time2             1710621447
x                        162
y                        311

1710621463 19798
1710621463 1710621088 1710621359
1710621463 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
333  1710621461  2024-03-16 21:37:41  1710621461  159  311
334  1710621463  2024-03-16 21:37:43  1710621463  159  311
@TIME 1710621463 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                        159
y                        311
Name: 333, dtype: object 1710621461 dif: 3 xy: 159 311 (4, 2)
@TIME 1710621463 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                        159
y                        311
Name: 334, dtype: object 1710621463 dif: 1 xy: 159 311 (4, 2)
1710621464 19798
1710621464 1710621088 1710621359
1710621464 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
334  1710621463  2024-03-16 21:37:43  1710621463  159  311
335  1710621464  2024-03-16 21:37:44  1710621464  159  313
@TIME 1710621464 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                        159
y                        311
Name: 334, dtype: object 1710621463 dif: 2 xy: 159 311 (4, 2)
@TIME 1710621464 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                        159
y                        313
Name: 335, dtype: object 1710621464 dif: 1 xy: 159 313 (4, 2)
1710621465 19798
1710621465 1710621088 1710621359
1710621465 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
334  1710621463  2024-03-16 21:37:43  1710621463  159  311
335  1710621464  2024-03-16 21:37:44  1710621464  159  313
336  1710621465  2024-03-16 21:37:45  1710621465  160  318
@TIME 1710621465 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                        159
y                        311
Name: 334, dtype: object 1710621463 dif: 3 xy: 159 311 (4, 2)
@TIME 1710621465 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                        159
y                        313
Name: 335, dtype: object 1710621464 dif: 2 xy: 159 313 (4, 2)
@TIME 1710621465 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                        160
y                        318
Name: 336, dtype: object 1710621465 dif: 1 xy: 160 318 (4, 2)
1710621466 19798
1710621466 1710621088 1710621359
1710621466 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
335  1710621464  2024-03-16 21:37:44  1710621464  159  313
336  1710621465  2024-03-16 21:37:45  1710621465  160  318
@TIME 1710621466 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                        159
y                        313
Name: 335, dtype: object 1710621464 dif: 3 xy: 159 313 (4, 2)
@TIME 1710621466 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                        160
y                        318
Name: 336, dtype: object 1710621465 dif: 2 xy: 160 318 (4, 2)
1710621467 19798
1710621467 1710621088 1710621359
1710621467 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
336  1710621465  2024-03-16 21:37:45  1710621465  160  318
337  1710621467  2024-03-16 21:37:47  1710621467  160  315
@TIME 1710621467 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                        160
y                        318
Name: 336, dtype: object 1710621465 dif: 3 xy: 160 318 (4, 2)
@TIME 1710621467 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                        160
y                        315
Name: 337, dtype: object 1710621467 dif: 1 xy: 160 315 (4, 2)
1710621468 19798
1710621468 1710621088 1710621359
1710621468 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
337  1710621467  2024-03-16 21:37:47  1710621467  160  315
338  1710621468  2024-03-16 21:37:48  1710621468  160  313
@TIME 1710621468 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                        160
y                        315
Name: 337, dtype: object 1710621467 dif: 2 xy: 160 315 (4, 2)
@TIME 1710621468 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                        160
y                        313
Name: 338, dtype: object 1710621468 dif: 1 xy: 160 313 (4, 2)
1710621469 19798
1710621469 1710621088 1710621359
1710621469 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
337  1710621467  2024-03-16 21:37:47  1710621467  160  315
338  1710621468  2024-03-16 21:37:48  1710621468  160  313
339  1710621469  2024-03-16 21:37:49  1710621469  161  308
@TIME 1710621469 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                        160
y                        315
Name: 337, dtype: object 1710621467 dif: 3 xy: 160 315 (4, 2)
@TIME 1710621469 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                        160
y                        313
Name: 338, dtype: object 1710621468 dif: 2 xy: 160 313 (4, 2)
@TIME 1710621469 time              1710621469
date     2024-03-16 21:37:49
time2             1710621469
x                        161
y                        308
Name: 339, dtype: object 1710621469 dif: 1 xy: 161 308 (4, 2)
1710621470 19798
1710621470 1710621088 1710621359
1710621470 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
338  1710621468  2024-03-16 21:37:48  1710621468  160  313
339  1710621469  2024-03-16 21:37:49  1710621469  161  308
340  1710621470  2024-03-16 21:37:50  1710621470  159  317
@TIME 1710621470 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                        160
y                        313
Name: 338, dtype: object 1710621468 dif: 3 xy: 160 313 (4, 2)
@TIME 1710621470 time              1710621469
date     2024-03-16 21:37:49
time2             1710621469
x                        161
y                        308
Name: 339, dtype: object 1710621469 dif: 2 xy: 161 308 (4, 2)
@TIME 1710621470 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                        159
y                        317
Name: 340, dtype: object 1710621470 dif: 1 xy: 159 317 (4, 2)
1710621471 19798
1710621471 1710621088 1710621359
1710621471 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
339  1710621469  2024-03-16 21:37:49  1710621469  161  308
340  1710621470  2024-03-16 21:37:50  1710621470  159  317
341  1710621471  2024-03-16 21:37:51  1710621471  159  313
@TIME 1710621471 time              1710621469
date     2024-03-16 21:37:49
time2             1710621469
x                        161
y                        308
Name: 339, dtype: object 1710621469 dif: 3 xy: 161 308 (4, 2)
@TIME 1710621471 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                        159
y                        317
Name: 340, dtype: object 1710621470 dif: 2 xy: 159 317 (4, 2)
@TIME 1710621471 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                        159
y                        313
Name: 341, dtype: object 1710621471 dif: 1 xy: 159 313 (4, 2)
1710621472 19798
1710621472 1710621088 1710621359
1710621472 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
340  1710621470  2024-03-16 21:37:50  1710621470  159  317
341  1710621471  2024-03-16 21:37:51  1710621471  159  313
342  1710621472  2024-03-16 21:37:52  1710621472  159  309
@TIME 1710621472 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                        159
y                        317
Name: 340, dtype: object 1710621470 dif: 3 xy: 159 317 (4, 2)
@TIME 1710621472 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                        159
y                        313
Name: 341, dtype: object 1710621471 dif: 2 xy: 159 313 (4, 2)
@TIME 1710621472 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                        159
y                        309
Name: 342, dtype: object 1710621472 dif: 1 xy: 159 309 (4, 2)
1710621473 19798
1710621473 1710621088 1710621359
1710621473 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
341  1710621471  2024-03-16 21:37:51  1710621471  159  313
342  1710621472  2024-03-16 21:37:52  1710621472  159  309
343  1710621473  2024-03-16 21:37:53  1710621473  159  314
@TIME 1710621473 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                        159
y                        313
Name: 341, dtype: object 1710621471 dif: 3 xy: 159 313 (4, 2)
@TIME 1710621473 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                        159
y                        309
Name: 342, dtype: object 1710621472 dif: 2 xy: 159 309 (4, 2)
@TIME 1710621473 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                        159
y                        314
Name: 343, dtype: object 1710621473 dif: 1 xy: 159 314 (4, 2)
1710621474 19798
1710621474 1710621088 1710621359
1710621474 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
342  1710621472  2024-03-16 21:37:52  1710621472  159  309
343  1710621473  2024-03-16 21:37:53  1710621473  159  314
344  1710621474  2024-03-16 21:37:54  1710621474  159  309
@TIME 1710621474 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                        159
y                        309
Name: 342, dtype: object 1710621472 dif: 3 xy: 159 309 (4, 2)
@TIME 1710621474 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                        159
y                        314
Name: 343, dtype: object 1710621473 dif: 2 xy: 159 314 (4, 2)
@TIME 1710621474 time              1710621474
date     2024-03-16 21:37:54
time2             1710621474
x                        159
y                        309
Name: 344, dtype: object 1710621474 dif: 1 xy: 159 309 (4, 2)
1710621475 19798
1710621475 1710621088 1710621359
1710621475 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
343  1710621473  2024-03-16 21:37:53  1710621473  159  314
344  1710621474  2024-03-16 21:37:54  1710621474  159  309
345  1710621475  2024-03-16 21:37:55  1710621475  160  314
@TIME 1710621475 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                        159
y                        314
Name: 343, dtype: object 1710621473 dif: 3 xy: 159 314 (4, 2)
@TIME 1710621475 time              1710621474
date     2024-03-16 21:37:54
time2             1710621474
x                        159
y                        309
Name: 344, dtype: object 1710621474 dif: 2 xy: 159 309 (4, 2)
@TIME 1710621475 time              1710621475
date     2024-03-16 21:37:55
time2             1710621475
x                        160
y                        314
Name: 345, dtype: object 1710621475 dif: 1 xy: 160 314 (4, 2)
1710621476 19798
1710621476 1710621088 1710621359
1710621476 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
344  1710621474  2024-03-16 21:37:54  1710621474  159  309
345  1710621475  2024-03-16 21:37:55  1710621475  160  314
346  1710621476  2024-03-16 21:37:56  1710621476  167  305
@TIME 1710621476 time              1710621474
date     2024-03-16 21:37:54
time2             1710621474
x                        159
y                        309
Name: 344, dtype: object 1710621474 dif: 3 xy: 159 309 (4, 2)
@TIME 1710621476 time              1710621475
date     2024-03-16 21:37:55
time2             1710621475
x                        160
y                        314
Name: 345, dtype: object 1710621475 dif: 2 xy: 160 314 (4, 2)
@TIME 1710621476 time              1710621476
date     2024-03-16 21:37:56
time2             1710621476
x                        167
y                        305
Name: 346, dtype: object 1710621476 dif: 1 xy: 167 305 (3, 2)
1710621477 19798
1710621477 1710621088 1710621359
1710621477 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
345  1710621475  2024-03-16 21:37:55  1710621475  160  314
346  1710621476  2024-03-16 21:37:56  1710621476  167  305
347  1710621477  2024-03-16 21:37:57  1710621477  164  309
@TIME 1710621477 time              1710621475
date     2024-03-16 21:37:55
time2             1710621475
x                        160
y                        314
Name: 345, dtype: object 1710621475 dif: 3 xy: 160 314 (4, 2)
@TIME 1710621477 time              1710621476
date     2024-03-16 21:37:56
time2             1710621476
x                        167
y                        305
Name: 346, dtype: object 1710621476 dif: 2 xy: 167 305 (3, 2)
@TIME 1710621477 time              1710621477
date     2024-03-16 21:37:57
time2             1710621477
x                        164
y                        309
Name: 347, dtype: object 1710621477 dif: 1 xy: 164 309 (4, 2)
1710621478 19798
1710621478 1710621088 1710621359
1710621478 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
346  1710621476  2024-03-16 21:37:56  1710621476  167  305
347  1710621477  2024-03-16 21:37:57  1710621477  164  309
@TIME 1710621478 time              1710621476
date     2024-03-16 21:37:56
time2             1710621476
x                        167
y                        305
Name: 346, dtype: object 1710621476 dif: 3 xy: 167 305 (3, 2)
@TIME 1710621478 time              1710621477
date     2024-03-16 21:37:57
time2             1710621477
x                        164
y                        309
Name: 347, dtype: object 1710621477 dif: 2 xy: 164 309 (4, 2)
1710621479 19798
1710621479 1710621088 1710621359
1710621479 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
347  1710621477  2024-03-16 21:37:57  1710621477  164  309
348  1710621479  2024-03-16 21:37:59  1710621479  163  313
@TIME 1710621479 time              1710621477
date     2024-03-16 21:37:57
time2             1710621477
x                        164
y                        309
Name: 347, dtype: object 1710621477 dif: 3 xy: 164 309 (4, 2)
@TIME 1710621479 time              1710621479
date     2024-03-16 21:37:59
time2             1710621479
x                        163
y                        313
Name: 348, dtype: object 1710621479 dif: 1 xy: 163 313 (4, 2)
1710621480 19798
1710621480 1710621088 1710621359
1710621480 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
348  1710621479  2024-03-16 21:37:59  1710621479  163  313
349  1710621480  2024-03-16 21:38:00  1710621480  163  298
@TIME 1710621480 time              1710621479
date     2024-03-16 21:37:59
time2             1710621479
x                        163
y                        313
Name: 348, dtype: object 1710621479 dif: 2 xy: 163 313 (4, 2)
@TIME 1710621480 time              1710621480
date     2024-03-16 21:38:00
time2             1710621480
x                        163
y                        298
Name: 349, dtype: object 1710621480 dif: 1 xy: 163 298 (3, 2)
1710621481 19798
1710621481 1710621088 1710621359
1710621481 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
348  1710621479  2024-03-16 21:37:59  1710621479  163  313
349  1710621480  2024-03-16 21:38:00  1710621480  163  298
350  1710621481  2024-03-16 21:38:01  1710621481  161  307
@TIME 1710621481 time              1710621479
date     2024-03-16 21:37:59
time2             1710621479
x                        163
y                        313
Name: 348, dtype: object 1710621479 dif: 3 xy: 163 313 (4, 2)
@TIME 1710621481 time              1710621480
date     2024-03-16 21:38:00
time2             1710621480
x                        163
y                        298
Name: 349, dtype: object 1710621480 dif: 2 xy: 163 298 (3, 2)
@TIME 1710621481 time              1710621481
date     2024-03-16 21:38:01
time2             1710621481
x                        161
y                        307
Name: 350, dtype: object 1710621481 dif: 1 xy: 161 307 (3, 2)
1710621482 19798
1710621482 1710621088 1710621359
1710621482 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
349  1710621480  2024-03-16 21:38:00  1710621480  163  298
350  1710621481  2024-03-16 21:38:01  1710621481  161  307
351  1710621482  2024-03-16 21:38:02  1710621482  160  313
@TIME 1710621482 time              1710621480
date     2024-03-16 21:38:00
time2             1710621480
x                        163
y                        298
Name: 349, dtype: object 1710621480 dif: 3 xy: 163 298 (3, 2)
@TIME 1710621482 time              1710621481
date     2024-03-16 21:38:01
time2             1710621481
x                        161
y                        307
Name: 350, dtype: object 1710621481 dif: 2 xy: 161 307 (3, 2)
@TIME 1710621482 time              1710621482
date     2024-03-16 21:38:02
time2             1710621482
x                        160
y                        313
Name: 351, dtype: object 1710621482 dif: 1 xy: 160 313 (4, 2)
1710621483 19798
1710621483 1710621088 1710621359
1710621483 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
350  1710621481  2024-03-16 21:38:01  1710621481  161  307
351  1710621482  2024-03-16 21:38:02  1710621482  160  313
@TIME 1710621483 time              1710621481
date     2024-03-16 21:38:01
time2             1710621481
x                        161
y                        307
Name: 350, dtype: object 1710621481 dif: 3 xy: 161 307 (3, 2)
@TIME 1710621483 time              1710621482
date     2024-03-16 21:38:02
time2             1710621482
x                        160
y                        313
Name: 351, dtype: object 1710621482 dif: 2 xy: 160 313 (4, 2)
1710621484 19798
1710621484 1710621088 1710621359
1710621484 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
351  1710621482  2024-03-16 21:38:02  1710621482  160  313
352  1710621484  2024-03-16 21:38:04  1710621484  160  320
@TIME 1710621484 time              1710621482
date     2024-03-16 21:38:02
time2             1710621482
x                        160
y                        313
Name: 351, dtype: object 1710621482 dif: 3 xy: 160 313 (4, 2)
@TIME 1710621484 time              1710621484
date     2024-03-16 21:38:04
time2             1710621484
x                        160
y                        320
Name: 352, dtype: object 1710621484 dif: 1 xy: 160 320 (4, 2)
1710621485 19798
1710621485 1710621088 1710621359
1710621485 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
352  1710621484  2024-03-16 21:38:04  1710621484  160  320
353  1710621485  2024-03-16 21:38:05  1710621485  161  315
@TIME 1710621485 time              1710621484
date     2024-03-16 21:38:04
time2             1710621484
x                        160
y                        320
Name: 352, dtype: object 1710621484 dif: 2 xy: 160 320 (4, 2)
@TIME 1710621485 time              1710621485
date     2024-03-16 21:38:05
time2             1710621485
x                        161
y                        315

1710621522 19798
1710621522 1710621088 1710621359
1710621522 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
382  1710621520  2024-03-16 21:38:40  1710621520  161  308
383  1710621521  2024-03-16 21:38:41  1710621521  158  315
384  1710621522  2024-03-16 21:38:42  1710621522  160  315
@TIME 1710621522 time              1710621520
date     2024-03-16 21:38:40
time2             1710621520
x                        161
y                        308
Name: 382, dtype: object 1710621520 dif: 3 xy: 161 308 (4, 2)
@TIME 1710621522 time              1710621521
date     2024-03-16 21:38:41
time2             1710621521
x                        158
y                        315
Name: 383, dtype: object 1710621521 dif: 2 xy: 158 315 (4, 2)
@TIME 1710621522 time              1710621522
date     2024-03-16 21:38:42
time2             1710621522
x                        160
y                        315
Name: 384, dtype: object 1710621522 dif: 1 xy: 160 315 (4, 2)
1710621523 19798
1710621523 1710621088 1710621359
1710621523 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
383  1710621521  2024-03-16 21:38:41  1710621521  158  315
384  1710621522  2024-03-16 21:38:42  1710621522  160  315
385  1710621523  2024-03-16 21:38:43  1710621523  160  308
@TIME 1710621523 time              1710621521
date     2024-03-16 21:38:41
time2             1710621521
x                        158
y                        315
Name: 383, dtype: object 1710621521 dif: 3 xy: 158 315 (4, 2)
@TIME 1710621523 time              1710621522
date     2024-03-16 21:38:42
time2             1710621522
x                        160
y                        315
Name: 384, dtype: object 1710621522 dif: 2 xy: 160 315 (4, 2)
@TIME 1710621523 time              1710621523
date     2024-03-16 21:38:43
time2             1710621523
x                        160
y                        308
Name: 385, dtype: object 1710621523 dif: 1 xy: 160 308 (4, 2)
1710621524 19798
1710621524 1710621088 1710621359
1710621524 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
384  1710621522  2024-03-16 21:38:42  1710621522  160  315
385  1710621523  2024-03-16 21:38:43  1710621523  160  308
386  1710621524  2024-03-16 21:38:44  1710621524  161  316
@TIME 1710621524 time              1710621522
date     2024-03-16 21:38:42
time2             1710621522
x                        160
y                        315
Name: 384, dtype: object 1710621522 dif: 3 xy: 160 315 (4, 2)
@TIME 1710621524 time              1710621523
date     2024-03-16 21:38:43
time2             1710621523
x                        160
y                        308
Name: 385, dtype: object 1710621523 dif: 2 xy: 160 308 (4, 2)
@TIME 1710621524 time              1710621524
date     2024-03-16 21:38:44
time2             1710621524
x                        161
y                        316
Name: 386, dtype: object 1710621524 dif: 1 xy: 161 316 (4, 2)
1710621525 19798
1710621525 1710621088 1710621359
1710621525 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
385  1710621523  2024-03-16 21:38:43  1710621523  160  308
386  1710621524  2024-03-16 21:38:44  1710621524  161  316
387  1710621525  2024-03-16 21:38:45  1710621525  160  302
@TIME 1710621525 time              1710621523
date     2024-03-16 21:38:43
time2             1710621523
x                        160
y                        308
Name: 385, dtype: object 1710621523 dif: 3 xy: 160 308 (4, 2)
@TIME 1710621525 time              1710621524
date     2024-03-16 21:38:44
time2             1710621524
x                        161
y                        316
Name: 386, dtype: object 1710621524 dif: 2 xy: 161 316 (4, 2)
@TIME 1710621525 time              1710621525
date     2024-03-16 21:38:45
time2             1710621525
x                        160
y                        302
Name: 387, dtype: object 1710621525 dif: 1 xy: 160 302 (3, 2)
1710621526 19798
1710621526 1710621088 1710621359
1710621526 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
386  1710621524  2024-03-16 21:38:44  1710621524  161  316
387  1710621525  2024-03-16 21:38:45  1710621525  160  302
388  1710621526  2024-03-16 21:38:46  1710621526  163  312
@TIME 1710621526 time              1710621524
date     2024-03-16 21:38:44
time2             1710621524
x                        161
y                        316
Name: 386, dtype: object 1710621524 dif: 3 xy: 161 316 (4, 2)
@TIME 1710621526 time              1710621525
date     2024-03-16 21:38:45
time2             1710621525
x                        160
y                        302
Name: 387, dtype: object 1710621525 dif: 2 xy: 160 302 (3, 2)
@TIME 1710621526 time              1710621526
date     2024-03-16 21:38:46
time2             1710621526
x                        163
y                        312
Name: 388, dtype: object 1710621526 dif: 1 xy: 163 312 (4, 2)
1710621527 19798
1710621527 1710621088 1710621359
1710621527 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
387  1710621525  2024-03-16 21:38:45  1710621525  160  302
388  1710621526  2024-03-16 21:38:46  1710621526  163  312
389  1710621527  2024-03-16 21:38:47  1710621527  163  315
@TIME 1710621527 time              1710621525
date     2024-03-16 21:38:45
time2             1710621525
x                        160
y                        302
Name: 387, dtype: object 1710621525 dif: 3 xy: 160 302 (3, 2)
@TIME 1710621527 time              1710621526
date     2024-03-16 21:38:46
time2             1710621526
x                        163
y                        312
Name: 388, dtype: object 1710621526 dif: 2 xy: 163 312 (4, 2)
@TIME 1710621527 time              1710621527
date     2024-03-16 21:38:47
time2             1710621527
x                        163
y                        315
Name: 389, dtype: object 1710621527 dif: 1 xy: 163 315 (4, 2)
1710621528 19798
1710621528 1710621088 1710621359
1710621528 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
388  1710621526  2024-03-16 21:38:46  1710621526  163  312
389  1710621527  2024-03-16 21:38:47  1710621527  163  315
390  1710621528  2024-03-16 21:38:48  1710621528  164  306
@TIME 1710621528 time              1710621526
date     2024-03-16 21:38:46
time2             1710621526
x                        163
y                        312
Name: 388, dtype: object 1710621526 dif: 3 xy: 163 312 (4, 2)
@TIME 1710621528 time              1710621527
date     2024-03-16 21:38:47
time2             1710621527
x                        163
y                        315
Name: 389, dtype: object 1710621527 dif: 2 xy: 163 315 (4, 2)
@TIME 1710621528 time              1710621528
date     2024-03-16 21:38:48
time2             1710621528
x                        164
y                        306
Name: 390, dtype: object 1710621528 dif: 1 xy: 164 306 (3, 2)
1710621529 19798
1710621529 1710621088 1710621359
1710621529 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
389  1710621527  2024-03-16 21:38:47  1710621527  163  315
390  1710621528  2024-03-16 21:38:48  1710621528  164  306
@TIME 1710621529 time              1710621527
date     2024-03-16 21:38:47
time2             1710621527
x                        163
y                        315
Name: 389, dtype: object 1710621527 dif: 3 xy: 163 315 (4, 2)
@TIME 1710621529 time              1710621528
date     2024-03-16 21:38:48
time2             1710621528
x                        164
y                        306
Name: 390, dtype: object 1710621528 dif: 2 xy: 164 306 (3, 2)
1710621530 19798
1710621530 1710621088 1710621359
1710621530 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
390  1710621528  2024-03-16 21:38:48  1710621528  164  306
391  1710621530  2024-03-16 21:38:50  1710621530  164  306
@TIME 1710621530 time              1710621528
date     2024-03-16 21:38:48
time2             1710621528
x                        164
y                        306
Name: 390, dtype: object 1710621528 dif: 3 xy: 164 306 (3, 2)
@TIME 1710621530 time              1710621530
date     2024-03-16 21:38:50
time2             1710621530
x                        164
y                        306
Name: 391, dtype: object 1710621530 dif: 1 xy: 164 306 (3, 2)
1710621531 19798
1710621531 1710621088 1710621359
1710621531 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
391  1710621530  2024-03-16 21:38:50  1710621530  164  306
@TIME 1710621531 time              1710621530
date     2024-03-16 21:38:50
time2             1710621530
x                        164
y                        306
Name: 391, dtype: object 1710621530 dif: 2 xy: 164 306 (3, 2)
1710621532 19798
1710621532 1710621088 1710621359
1710621532 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
391  1710621530  2024-03-16 21:38:50  1710621530  164  306
@TIME 1710621532 time              1710621530
date     2024-03-16 21:38:50
time2             1710621530
x                        164
y                        306
Name: 391, dtype: object 1710621530 dif: 3 xy: 164 306 (3, 2)
1710621533 19798
1710621533 1710621088 1710621359
1710621533 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621533 time              1710621530
date     2024-03-16 21:38:50
time2             1710621530
x                        164
y                        306
Name: 391, dtype: object 1710621530 dif: 4 xy: 164 306 (3, 2)
1710621534 19798
1710621534 1710621088 1710621359
1710621534 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
392  1710621534  2024-03-16 21:38:54  1710621534  109  326
@TIME 1710621534 time              1710621534
date     2024-03-16 21:38:54
time2             1710621534
x                        109
y                        326
Name: 392, dtype: object 1710621534 dif: 1 xy: 109 326 (4, 1)
1710621535 19798
1710621535 1710621088 1710621359
1710621535 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
392  1710621534  2024-03-16 21:38:54  1710621534  109  326
393  1710621535  2024-03-16 21:38:55  1710621535   88  314
@TIME 1710621535 time              1710621534
date     2024-03-16 21:38:54
time2             1710621534
x                        109
y                        326
Name: 392, dtype: object 1710621534 dif: 2 xy: 109 326 (4, 1)
@TIME 1710621535 time              1710621535
date     2024-03-16 21:38:55
time2             1710621535
x                         88
y                        314
Name: 393, dtype: object 1710621535 dif: 1 xy: 88 314 (4, 1)
1710621536 19798
1710621536 1710621088 1710621359
1710621536 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
392  1710621534  2024-03-16 21:38:54  1710621534  109  326
393  1710621535  2024-03-16 21:38:55  1710621535   88  314
394  1710621536  2024-03-16 21:38:56  1710621536   76  286
@TIME 1710621536 time              1710621534
date     2024-03-16 21:38:54
time2             1710621534
x                        109
y                        326
Name: 392, dtype: object 1710621534 dif: 3 xy: 109 326 (4, 1)
@TIME 1710621536 time              1710621535
date     2024-03-16 21:38:55
time2             1710621535
x                         88
y                        314
Name: 393, dtype: object 1710621535 dif: 2 xy: 88 314 (4, 1)
@TIME 1710621536 time              1710621536
date     2024-03-16 21:38:56
time2             1710621536
x                         76
y                        286
Name: 394, dtype: object 1710621536 dif: 1 xy: 76 286 (3, 0)
1710621537 19798
1710621537 1710621088 1710621359
1710621537 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
393  1710621535  2024-03-16 21:38:55  1710621535  88  314
394  1710621536  2024-03-16 21:38:56  1710621536  76  286
395  1710621537  2024-03-16 21:38:57  1710621537  72  253
@TIME 1710621537 time              1710621535
date     2024-03-16 21:38:55
time2             1710621535
x                         88
y                        314
Name: 393, dtype: object 1710621535 dif: 3 xy: 88 314 (4, 1)
@TIME 1710621537 time              1710621536
date     2024-03-16 21:38:56
time2             1710621536
x                         76
y                        286
Name: 394, dtype: object 1710621536 dif: 2 xy: 76 286 (3, 0)
@TIME 1710621537 time              1710621537
date     2024-03-16 21:38:57
time2             1710621537
x                         72
y                        253
Name: 395, dtype: object 1710621537 dif: 1 xy: 72 253 (3, 0)
1710621538 19798
1710621538 1710621088 1710621359
1710621538 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
394  1710621536  2024-03-16 21:38:56  1710621536  76  286
395  1710621537  2024-03-16 21:38:57  1710621537  72  253
396  1710621538  2024-03-16 21:38:58  1710621538  71  236
@TIME 1710621538 time              1710621536
date     2024-03-16 21:38:56
time2             1710621536
x                         76
y                        286
Name: 394, dtype: object 1710621536 dif: 3 xy: 76 286 (3, 0)
@TIME 1710621538 time              1710621537
date     2024-03-16 21:38:57
time2             1710621537
x                         72
y                        253
Name: 395, dtype: object 1710621537 dif: 2 xy: 72 253 (3, 0)
@TIME 1710621538 time              1710621538
date     2024-03-16 21:38:58
time2             1710621538
x                         71
y                        236
Name: 396, dtype: object 1710621538 dif: 1 xy: 71 236 (3, 0)
1710621539 19798
1710621539 1710621088 1710621359
1710621539 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
395  1710621537  2024-03-16 21:38:57  1710621537  72  253
396  1710621538  2024-03-16 21:38:58  1710621538  71  236
397  1710621539  2024-03-16 21:38:59  1710621539  75  237
@TIME 1710621539 time              1710621537
date     2024-03-16 21:38:57
time2             1710621537
x                         72
y                        253
Name: 395, dtype: object 1710621537 dif: 3 xy: 72 253 (3, 0)
@TIME 1710621539 time              1710621538
date     2024-03-16 21:38:58
time2             1710621538
x                         71
y                        236
Name: 396, dtype: object 1710621538 dif: 2 xy: 71 236 (3, 0)
@TIME 1710621539 time              1710621539
date     2024-03-16 21:38:59
time2             1710621539
x                         75
y                        237
Name: 397, dtype: object 1710621539 dif: 1 xy: 75 237 (3, 0)
1710621540 19798
1710621540 1710621088 1710621359
1710621540 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
396  1710621538  2024-03-16 21:38:58  1710621538  71  236
397  1710621539  2024-03-16 21:38:59  1710621539  75  237
398  1710621540  2024-03-16 21:39:00  1710621540  81  239
@TIME 1710621540 time              1710621538
date     2024-03-16 21:38:58
time2             1710621538
x                         71
y                        236
Name: 396, dtype: object 1710621538 dif: 3 xy: 71 236 (3, 0)
@TIME 1710621540 time              1710621539
date     2024-03-16 21:38:59
time2             1710621539
x                         75
y                        237
Name: 397, dtype: object 1710621539 dif: 2 xy: 75 237 (3, 0)
@TIME 1710621540 time              1710621540
date     2024-03-16 21:39:00
time2             1710621540
x                         81
y                        239
Name: 398, dtype: object 1710621540 dif: 1 xy: 81 239 (3, 1)
1710621541 19798
1710621541 1710621088 1710621359
1710621541 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
397  1710621539  2024-03-16 21:38:59  1710621539  75  237
398  1710621540  2024-03-16 21:39:00  1710621540  81  239
399  1710621541  2024-03-16 21:39:01  1710621541  76  241
@TIME 1710621541 time              1710621539
date     2024-03-16 21:38:59
time2             1710621539
x                         75
y                        237
Name: 397, dtype: object 1710621539 dif: 3 xy: 75 237 (3, 0)
@TIME 1710621541 time              1710621540
date     2024-03-16 21:39:00
time2             1710621540
x                         81
y                        239
Name: 398, dtype: object 1710621540 dif: 2 xy: 81 239 (3, 1)
@TIME 1710621541 time              1710621541
date     2024-03-16 21:39:01
time2             1710621541
x                         76
y                        241
Name: 399, dtype: object 1710621541 dif: 1 xy: 76 241 (3, 0)
1710621542 19798
1710621542 1710621088 1710621359
1710621542 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
398  1710621540  2024-03-16 21:39:00  1710621540  81  239
399  1710621541  2024-03-16 21:39:01  1710621541  76  241
400  1710621542  2024-03-16 21:39:02  1710621542  84  241
@TIME 1710621542 time              1710621540
date     2024-03-16 21:39:00
time2             1710621540
x                         81
y                        239
Name: 398, dtype: object 1710621540 dif: 3 xy: 81 239 (3, 1)
@TIME 1710621542 time              1710621541
date     2024-03-16 21:39:01
time2             1710621541
x                         76
y                        241
Name: 399, dtype: object 1710621541 dif: 2 xy: 76 241 (3, 0)
@TIME 1710621542 time              1710621542
date     2024-03-16 21:39:02
time2             1710621542
x                         84
y                        241
Name: 400, dtype: object 1710621542 dif: 1 xy: 84 241 (3, 1)
1710621543 19798
1710621543 1710621088 1710621359
1710621543 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
399  1710621541  2024-03-16 21:39:01  1710621541  76  241
400  1710621542  2024-03-16 21:39:02  1710621542  84  241
401  1710621543  2024-03-16 21:39:03  1710621543  75  241
@TIME 1710621543 time              1710621541
date     2024-03-16 21:39:01
time2             1710621541
x                         76
y                        241
Name: 399, dtype: object 1710621541 dif: 3 xy: 76 241 (3, 0)
@TIME 1710621543 time              1710621542
date     2024-03-16 21:39:02
time2             1710621542
x                         84
y                        241
Name: 400, dtype: object 1710621542 dif: 2 xy: 84 241 (3, 1)
@TIME 1710621543 time              1710621543
date     2024-03-16 21:39:03
time2             1710621543
x                         75
y                        241
Name: 401, dtype: object 1710621543 dif: 1 xy: 75 241 (3, 0)
1710621544 19798
1710621544 1710621088 1710621359
1710621544 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
400  1710621542  2024-03-16 21:39:02  1710621542  84  241
401  1710621543  2024-03-16 21:39:03  1710621543  75  241
402  1710621544  2024-03-16 21:39:04  1710621544  78  241
403  1710621544  2024-03-16 21:39:04  1710621544  78  241
@TIME 1710621544 time              1710621542
date     2024-03-16 21:39:02
time2             1710621542
x                         84
y                        241
Name: 400, dtype: object 1710621542 dif: 3 xy: 84 241 (3, 1)
@TIME 1710621544 time              1710621543
date     2024-03-16 21:39:03
time2             1710621543
x                         75
y                        241
Name: 401, dtype: object 1710621543 dif: 2 xy: 75 241 (3, 0)
@TIME 1710621544 time              1710621544
date     2024-03-16 21:39:04
time2             1710621544
x                         78

1710621565 19798
1710621565 1710621088 1710621359
1710621565 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
422  1710621563  2024-03-16 21:39:23  1710621563  78  233
423  1710621564  2024-03-16 21:39:24  1710621564  78  226
424  1710621565  2024-03-16 21:39:25  1710621565  78  233
@TIME 1710621565 time              1710621563
date     2024-03-16 21:39:23
time2             1710621563
x                         78
y                        233
Name: 422, dtype: object 1710621563 dif: 3 xy: 78 233 (3, 1)
@TIME 1710621565 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                         78
y                        226
Name: 423, dtype: object 1710621564 dif: 2 xy: 78 226 (2, 1)
@TIME 1710621565 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                         78
y                        233
Name: 424, dtype: object 1710621565 dif: 1 xy: 78 233 (3, 1)
1710621566 19798
1710621566 1710621088 1710621359
1710621566 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
423  1710621564  2024-03-16 21:39:24  1710621564  78  226
424  1710621565  2024-03-16 21:39:25  1710621565  78  233
425  1710621566  2024-03-16 21:39:26  1710621566  78  233
@TIME 1710621566 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                         78
y                        226
Name: 423, dtype: object 1710621564 dif: 3 xy: 78 226 (2, 1)
@TIME 1710621566 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                         78
y                        233
Name: 424, dtype: object 1710621565 dif: 2 xy: 78 233 (3, 1)
@TIME 1710621566 time              1710621566
date     2024-03-16 21:39:26
time2             1710621566
x                         78
y                        233
Name: 425, dtype: object 1710621566 dif: 1 xy: 78 233 (3, 1)
1710621567 19798
1710621567 1710621088 1710621359
1710621567 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
424  1710621565  2024-03-16 21:39:25  1710621565  78  233
425  1710621566  2024-03-16 21:39:26  1710621566  78  233
426  1710621567  2024-03-16 21:39:27  1710621567  76  221
@TIME 1710621567 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                         78
y                        233
Name: 424, dtype: object 1710621565 dif: 3 xy: 78 233 (3, 1)
@TIME 1710621567 time              1710621566
date     2024-03-16 21:39:26
time2             1710621566
x                         78
y                        233
Name: 425, dtype: object 1710621566 dif: 2 xy: 78 233 (3, 1)
@TIME 1710621567 time              1710621567
date     2024-03-16 21:39:27
time2             1710621567
x                         76
y                        221
Name: 426, dtype: object 1710621567 dif: 1 xy: 76 221 (2, 0)
1710621568 19798
1710621568 1710621088 1710621359
1710621568 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
425  1710621566  2024-03-16 21:39:26  1710621566  78  233
426  1710621567  2024-03-16 21:39:27  1710621567  76  221
427  1710621568  2024-03-16 21:39:28  1710621568  78  229
@TIME 1710621568 time              1710621566
date     2024-03-16 21:39:26
time2             1710621566
x                         78
y                        233
Name: 425, dtype: object 1710621566 dif: 3 xy: 78 233 (3, 1)
@TIME 1710621568 time              1710621567
date     2024-03-16 21:39:27
time2             1710621567
x                         76
y                        221
Name: 426, dtype: object 1710621567 dif: 2 xy: 76 221 (2, 0)
@TIME 1710621568 time              1710621568
date     2024-03-16 21:39:28
time2             1710621568
x                         78
y                        229
Name: 427, dtype: object 1710621568 dif: 1 xy: 78 229 (2, 1)
1710621569 19798
1710621569 1710621088 1710621359
1710621569 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
426  1710621567  2024-03-16 21:39:27  1710621567  76  221
427  1710621568  2024-03-16 21:39:28  1710621568  78  229
428  1710621569  2024-03-16 21:39:29  1710621569  78  220
@TIME 1710621569 time              1710621567
date     2024-03-16 21:39:27
time2             1710621567
x                         76
y                        221
Name: 426, dtype: object 1710621567 dif: 3 xy: 76 221 (2, 0)
@TIME 1710621569 time              1710621568
date     2024-03-16 21:39:28
time2             1710621568
x                         78
y                        229
Name: 427, dtype: object 1710621568 dif: 2 xy: 78 229 (2, 1)
@TIME 1710621569 time              1710621569
date     2024-03-16 21:39:29
time2             1710621569
x                         78
y                        220
Name: 428, dtype: object 1710621569 dif: 1 xy: 78 220 (2, 1)
1710621570 19798
1710621570 1710621088 1710621359
1710621570 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
427  1710621568  2024-03-16 21:39:28  1710621568  78  229
428  1710621569  2024-03-16 21:39:29  1710621569  78  220
429  1710621570  2024-03-16 21:39:30  1710621570  80  257
@TIME 1710621570 time              1710621568
date     2024-03-16 21:39:28
time2             1710621568
x                         78
y                        229
Name: 427, dtype: object 1710621568 dif: 3 xy: 78 229 (2, 1)
@TIME 1710621570 time              1710621569
date     2024-03-16 21:39:29
time2             1710621569
x                         78
y                        220
Name: 428, dtype: object 1710621569 dif: 2 xy: 78 220 (2, 1)
@TIME 1710621570 time              1710621570
date     2024-03-16 21:39:30
time2             1710621570
x                         80
y                        257
Name: 429, dtype: object 1710621570 dif: 1 xy: 80 257 (3, 1)
1710621571 19798
1710621571 1710621088 1710621359
1710621571 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
428  1710621569  2024-03-16 21:39:29  1710621569  78  220
429  1710621570  2024-03-16 21:39:30  1710621570  80  257
430  1710621571  2024-03-16 21:39:31  1710621571  78  287
@TIME 1710621571 time              1710621569
date     2024-03-16 21:39:29
time2             1710621569
x                         78
y                        220
Name: 428, dtype: object 1710621569 dif: 3 xy: 78 220 (2, 1)
@TIME 1710621571 time              1710621570
date     2024-03-16 21:39:30
time2             1710621570
x                         80
y                        257
Name: 429, dtype: object 1710621570 dif: 2 xy: 80 257 (3, 1)
@TIME 1710621571 time              1710621571
date     2024-03-16 21:39:31
time2             1710621571
x                         78
y                        287
Name: 430, dtype: object 1710621571 dif: 1 xy: 78 287 (3, 1)
1710621572 19798
1710621572 1710621088 1710621359
1710621572 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
429  1710621570  2024-03-16 21:39:30  1710621570  80  257
430  1710621571  2024-03-16 21:39:31  1710621571  78  287
431  1710621572  2024-03-16 21:39:32  1710621572  84  322
@TIME 1710621572 time              1710621570
date     2024-03-16 21:39:30
time2             1710621570
x                         80
y                        257
Name: 429, dtype: object 1710621570 dif: 3 xy: 80 257 (3, 1)
@TIME 1710621572 time              1710621571
date     2024-03-16 21:39:31
time2             1710621571
x                         78
y                        287
Name: 430, dtype: object 1710621571 dif: 2 xy: 78 287 (3, 1)
@TIME 1710621572 time              1710621572
date     2024-03-16 21:39:32
time2             1710621572
x                         84
y                        322
Name: 431, dtype: object 1710621572 dif: 1 xy: 84 322 (4, 1)
1710621573 19798
1710621573 1710621088 1710621359
1710621573 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
430  1710621571  2024-03-16 21:39:31  1710621571  78  287
431  1710621572  2024-03-16 21:39:32  1710621572  84  322
432  1710621573  2024-03-16 21:39:33  1710621573  85  349
@TIME 1710621573 time              1710621571
date     2024-03-16 21:39:31
time2             1710621571
x                         78
y                        287
Name: 430, dtype: object 1710621571 dif: 3 xy: 78 287 (3, 1)
@TIME 1710621573 time              1710621572
date     2024-03-16 21:39:32
time2             1710621572
x                         84
y                        322
Name: 431, dtype: object 1710621572 dif: 2 xy: 84 322 (4, 1)
@TIME 1710621573 time              1710621573
date     2024-03-16 21:39:33
time2             1710621573
x                         85
y                        349
Name: 432, dtype: object 1710621573 dif: 1 xy: 85 349 (4, 1)
1710621574 19798
1710621574 1710621088 1710621359
1710621574 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
431  1710621572  2024-03-16 21:39:32  1710621572  84  322
432  1710621573  2024-03-16 21:39:33  1710621573  85  349
433  1710621574  2024-03-16 21:39:34  1710621574  88  385
@TIME 1710621574 time              1710621572
date     2024-03-16 21:39:32
time2             1710621572
x                         84
y                        322
Name: 431, dtype: object 1710621572 dif: 3 xy: 84 322 (4, 1)
@TIME 1710621574 time              1710621573
date     2024-03-16 21:39:33
time2             1710621573
x                         85
y                        349
Name: 432, dtype: object 1710621573 dif: 2 xy: 85 349 (4, 1)
@TIME 1710621574 time              1710621574
date     2024-03-16 21:39:34
time2             1710621574
x                         88
y                        385
Name: 433, dtype: object 1710621574 dif: 1 xy: 88 385 (5, 1)
1710621575 19798
1710621575 1710621088 1710621359
1710621575 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
432  1710621573  2024-03-16 21:39:33  1710621573  85  349
433  1710621574  2024-03-16 21:39:34  1710621574  88  385
@TIME 1710621575 time              1710621573
date     2024-03-16 21:39:33
time2             1710621573
x                         85
y                        349
Name: 432, dtype: object 1710621573 dif: 3 xy: 85 349 (4, 1)
@TIME 1710621575 time              1710621574
date     2024-03-16 21:39:34
time2             1710621574
x                         88
y                        385
Name: 433, dtype: object 1710621574 dif: 2 xy: 88 385 (5, 1)
1710621576 19798
1710621576 1710621088 1710621359
1710621576 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
433  1710621574  2024-03-16 21:39:34  1710621574  88  385
434  1710621576  2024-03-16 21:39:36  1710621576  92  410
@TIME 1710621576 time              1710621574
date     2024-03-16 21:39:34
time2             1710621574
x                         88
y                        385
Name: 433, dtype: object 1710621574 dif: 3 xy: 88 385 (5, 1)
@TIME 1710621576 time              1710621576
date     2024-03-16 21:39:36
time2             1710621576
x                         92
y                        410
Name: 434, dtype: object 1710621576 dif: 1 xy: 92 410 (5, 1)
1710621577 19798
1710621577 1710621088 1710621359
1710621577 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
434  1710621576  2024-03-16 21:39:36  1710621576  92  410
435  1710621577  2024-03-16 21:39:37  1710621577  92  437
@TIME 1710621577 time              1710621576
date     2024-03-16 21:39:36
time2             1710621576
x                         92
y                        410
Name: 434, dtype: object 1710621576 dif: 2 xy: 92 410 (5, 1)
@TIME 1710621577 time              1710621577
date     2024-03-16 21:39:37
time2             1710621577
x                         92
y                        437
Name: 435, dtype: object 1710621577 dif: 1 xy: 92 437 (5, 1)
1710621578 19798
1710621578 1710621088 1710621359
1710621578 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
434  1710621576  2024-03-16 21:39:36  1710621576  92  410
435  1710621577  2024-03-16 21:39:37  1710621577  92  437
@TIME 1710621578 time              1710621576
date     2024-03-16 21:39:36
time2             1710621576
x                         92
y                        410
Name: 434, dtype: object 1710621576 dif: 3 xy: 92 410 (5, 1)
@TIME 1710621578 time              1710621577
date     2024-03-16 21:39:37
time2             1710621577
x                         92
y                        437
Name: 435, dtype: object 1710621577 dif: 2 xy: 92 437 (5, 1)
1710621579 19798
1710621579 1710621088 1710621359
1710621579 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
435  1710621577  2024-03-16 21:39:37  1710621577  92  437
436  1710621579  2024-03-16 21:39:39  1710621579  92  437
@TIME 1710621579 time              1710621577
date     2024-03-16 21:39:37
time2             1710621577
x                         92
y                        437
Name: 435, dtype: object 1710621577 dif: 3 xy: 92 437 (5, 1)
@TIME 1710621579 time              1710621579
date     2024-03-16 21:39:39
time2             1710621579
x                         92
y                        437
Name: 436, dtype: object 1710621579 dif: 1 xy: 92 437 (5, 1)
1710621580 19798
1710621580 1710621088 1710621359
1710621580 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
436  1710621579  2024-03-16 21:39:39  1710621579  92  437
437  1710621580  2024-03-16 21:39:40  1710621580  89  437
@TIME 1710621580 time              1710621579
date     2024-03-16 21:39:39
time2             1710621579
x                         92
y                        437
Name: 436, dtype: object 1710621579 dif: 2 xy: 92 437 (5, 1)
@TIME 1710621580 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                         89
y                        437
Name: 437, dtype: object 1710621580 dif: 1 xy: 89 437 (5, 1)
1710621581 19798
1710621581 1710621088 1710621359
1710621581 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
436  1710621579  2024-03-16 21:39:39  1710621579  92  437
437  1710621580  2024-03-16 21:39:40  1710621580  89  437
438  1710621581  2024-03-16 21:39:41  1710621581  86  437
@TIME 1710621581 time              1710621579
date     2024-03-16 21:39:39
time2             1710621579
x                         92
y                        437
Name: 436, dtype: object 1710621579 dif: 3 xy: 92 437 (5, 1)
@TIME 1710621581 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                         89
y                        437
Name: 437, dtype: object 1710621580 dif: 2 xy: 89 437 (5, 1)
@TIME 1710621581 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                         86
y                        437
Name: 438, dtype: object 1710621581 dif: 1 xy: 86 437 (5, 1)
1710621582 19798
1710621582 1710621088 1710621359
1710621582 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
437  1710621580  2024-03-16 21:39:40  1710621580  89  437
438  1710621581  2024-03-16 21:39:41  1710621581  86  437
439  1710621582  2024-03-16 21:39:42  1710621582  84  427
@TIME 1710621582 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                         89
y                        437
Name: 437, dtype: object 1710621580 dif: 3 xy: 89 437 (5, 1)
@TIME 1710621582 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                         86
y                        437
Name: 438, dtype: object 1710621581 dif: 2 xy: 86 437 (5, 1)
@TIME 1710621582 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                         84
y                        427
Name: 439, dtype: object 1710621582 dif: 1 xy: 84 427 (5, 1)
1710621583 19798
1710621583 1710621088 1710621359
1710621583 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
438  1710621581  2024-03-16 21:39:41  1710621581  86  437
439  1710621582  2024-03-16 21:39:42  1710621582  84  427
440  1710621583  2024-03-16 21:39:43  1710621583  82  436
@TIME 1710621583 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                         86
y                        437
Name: 438, dtype: object 1710621581 dif: 3 xy: 86 437 (5, 1)
@TIME 1710621583 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                         84
y                        427
Name: 439, dtype: object 1710621582 dif: 2 xy: 84 427 (5, 1)
@TIME 1710621583 time              1710621583
date     2024-03-16 21:39:43
time2             1710621583
x                         82
y                        436
Name: 440, dtype: object 1710621583 dif: 1 xy: 82 436 (5, 1)
1710621584 19798
1710621584 1710621088 1710621359
1710621584 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
439  1710621582  2024-03-16 21:39:42  1710621582  84  427
440  1710621583  2024-03-16 21:39:43  1710621583  82  436
441  1710621584  2024-03-16 21:39:44  1710621584  84  431
@TIME 1710621584 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                         84
y                        427
Name: 439, dtype: object 1710621582 dif: 3 xy: 84 427 (5, 1)
@TIME 1710621584 time              1710621583
date     2024-03-16 21:39:43
time2             1710621583
x                         82
y                        436
Name: 440, dtype: object 1710621583 dif: 2 xy: 82 436 (5, 1)
@TIME 1710621584 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                         84
y                        431
Name: 441, dtype: object 1710621584 dif: 1 xy: 84 431 (5, 1)
1710621585 19798
1710621585 1710621088 1710621359
1710621585 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
440  1710621583  2024-03-16 21:39:43  1710621583  82  436
441  1710621584  2024-03-16 21:39:44  1710621584  84  431
@TIME 1710621585 time              1710621583
date     2024-03-16 21:39:43
time2             1710621583
x                         82
y                        436
Name: 440, dtype: object 1710621583 dif: 3 xy: 82 436 (5, 1)
@TIME 1710621585 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                         84
y                        431
Name: 441, dtype: object 1710621584 dif: 2 xy: 84 431 (5, 1)
1710621586 19798
1710621586 1710621088 1710621359
1710621586 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
441  1710621584  2024-03-16 21:39:44  1710621584  84  431
442  1710621586  2024-03-16 21:39:46  1710621586  84  437
@TIME 1710621586 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                         84
y                        431
Name: 441, dtype: object 1710621584 dif: 3 xy: 84 431 (5, 1)
@TIME 1710621586 time              1710621586
date     2024-03-16 21:39:46
time2             1710621586
x                         84
y                        437
Name: 442, dtype: object 1710621586 dif: 1 xy: 84 437 (5, 1)
1710621587 19798
1710621587 1710621088 1710621359
1710621587 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
442  1710621586  2024-03-16 21:39:46  1710621586  84  437

1710621615 19798
1710621615 1710621088 1710621359
1710621615 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
466  1710621613  2024-03-16 21:40:13  1710621613  77  249
467  1710621614  2024-03-16 21:40:14  1710621614  77  243
468  1710621615  2024-03-16 21:40:15  1710621615  78  250
@TIME 1710621615 time              1710621613
date     2024-03-16 21:40:13
time2             1710621613
x                         77
y                        249
Name: 466, dtype: object 1710621613 dif: 3 xy: 77 249 (3, 1)
@TIME 1710621615 time              1710621614
date     2024-03-16 21:40:14
time2             1710621614
x                         77
y                        243
Name: 467, dtype: object 1710621614 dif: 2 xy: 77 243 (3, 1)
@TIME 1710621615 time              1710621615
date     2024-03-16 21:40:15
time2             1710621615
x                         78
y                        250
Name: 468, dtype: object 1710621615 dif: 1 xy: 78 250 (3, 1)
1710621616 19798
1710621616 1710621088 1710621359
1710621616 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
467  1710621614  2024-03-16 21:40:14  1710621614  77  243
468  1710621615  2024-03-16 21:40:15  1710621615  78  250
469  1710621616  2024-03-16 21:40:16  1710621616  76  237
@TIME 1710621616 time              1710621614
date     2024-03-16 21:40:14
time2             1710621614
x                         77
y                        243
Name: 467, dtype: object 1710621614 dif: 3 xy: 77 243 (3, 1)
@TIME 1710621616 time              1710621615
date     2024-03-16 21:40:15
time2             1710621615
x                         78
y                        250
Name: 468, dtype: object 1710621615 dif: 2 xy: 78 250 (3, 1)
@TIME 1710621616 time              1710621616
date     2024-03-16 21:40:16
time2             1710621616
x                         76
y                        237
Name: 469, dtype: object 1710621616 dif: 1 xy: 76 237 (3, 0)
1710621617 19798
1710621617 1710621088 1710621359
1710621617 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
468  1710621615  2024-03-16 21:40:15  1710621615  78  250
469  1710621616  2024-03-16 21:40:16  1710621616  76  237
470  1710621617  2024-03-16 21:40:17  1710621617  80  246
@TIME 1710621617 time              1710621615
date     2024-03-16 21:40:15
time2             1710621615
x                         78
y                        250
Name: 468, dtype: object 1710621615 dif: 3 xy: 78 250 (3, 1)
@TIME 1710621617 time              1710621616
date     2024-03-16 21:40:16
time2             1710621616
x                         76
y                        237
Name: 469, dtype: object 1710621616 dif: 2 xy: 76 237 (3, 0)
@TIME 1710621617 time              1710621617
date     2024-03-16 21:40:17
time2             1710621617
x                         80
y                        246
Name: 470, dtype: object 1710621617 dif: 1 xy: 80 246 (3, 1)
1710621618 19798
1710621618 1710621088 1710621359
1710621618 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
469  1710621616  2024-03-16 21:40:16  1710621616  76  237
470  1710621617  2024-03-16 21:40:17  1710621617  80  246
@TIME 1710621618 time              1710621616
date     2024-03-16 21:40:16
time2             1710621616
x                         76
y                        237
Name: 469, dtype: object 1710621616 dif: 3 xy: 76 237 (3, 0)
@TIME 1710621618 time              1710621617
date     2024-03-16 21:40:17
time2             1710621617
x                         80
y                        246
Name: 470, dtype: object 1710621617 dif: 2 xy: 80 246 (3, 1)
1710621619 19798
1710621619 1710621088 1710621359
1710621619 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
470  1710621617  2024-03-16 21:40:17  1710621617  80  246
471  1710621619  2024-03-16 21:40:19  1710621619  80  245
@TIME 1710621619 time              1710621617
date     2024-03-16 21:40:17
time2             1710621617
x                         80
y                        246
Name: 470, dtype: object 1710621617 dif: 3 xy: 80 246 (3, 1)
@TIME 1710621619 time              1710621619
date     2024-03-16 21:40:19
time2             1710621619
x                         80
y                        245
Name: 471, dtype: object 1710621619 dif: 1 xy: 80 245 (3, 1)
1710621620 19798
1710621620 1710621088 1710621359
1710621620 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
471  1710621619  2024-03-16 21:40:19  1710621619  80  245
472  1710621620  2024-03-16 21:40:20  1710621620  80  245
473  1710621620  2024-03-16 21:40:20  1710621620  80  245
@TIME 1710621620 time              1710621619
date     2024-03-16 21:40:19
time2             1710621619
x                         80
y                        245
Name: 471, dtype: object 1710621619 dif: 2 xy: 80 245 (3, 1)
@TIME 1710621620 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 472, dtype: object 1710621620 dif: 1 xy: 80 245 (3, 1)
@TIME 1710621620 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 473, dtype: object 1710621620 dif: 1 xy: 80 245 (3, 1)
1710621621 19798
1710621621 1710621088 1710621359
1710621621 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
471  1710621619  2024-03-16 21:40:19  1710621619  80  245
472  1710621620  2024-03-16 21:40:20  1710621620  80  245
473  1710621620  2024-03-16 21:40:20  1710621620  80  245
474  1710621621  2024-03-16 21:40:21  1710621621  72  231
@TIME 1710621621 time              1710621619
date     2024-03-16 21:40:19
time2             1710621619
x                         80
y                        245
Name: 471, dtype: object 1710621619 dif: 3 xy: 80 245 (3, 1)
@TIME 1710621621 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 472, dtype: object 1710621620 dif: 2 xy: 80 245 (3, 1)
@TIME 1710621621 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 473, dtype: object 1710621620 dif: 2 xy: 80 245 (3, 1)
@TIME 1710621621 time              1710621621
date     2024-03-16 21:40:21
time2             1710621621
x                         72
y                        231
Name: 474, dtype: object 1710621621 dif: 1 xy: 72 231 (3, 0)
1710621622 19798
1710621622 1710621088 1710621359
1710621622 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
472  1710621620  2024-03-16 21:40:20  1710621620  80  245
473  1710621620  2024-03-16 21:40:20  1710621620  80  245
474  1710621621  2024-03-16 21:40:21  1710621621  72  231
475  1710621622  2024-03-16 21:40:22  1710621622  72  208
@TIME 1710621622 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 472, dtype: object 1710621620 dif: 3 xy: 80 245 (3, 1)
@TIME 1710621622 time              1710621620
date     2024-03-16 21:40:20
time2             1710621620
x                         80
y                        245
Name: 473, dtype: object 1710621620 dif: 3 xy: 80 245 (3, 1)
@TIME 1710621622 time              1710621621
date     2024-03-16 21:40:21
time2             1710621621
x                         72
y                        231
Name: 474, dtype: object 1710621621 dif: 2 xy: 72 231 (3, 0)
@TIME 1710621622 time              1710621622
date     2024-03-16 21:40:22
time2             1710621622
x                         72
y                        208
Name: 475, dtype: object 1710621622 dif: 1 xy: 72 208 (2, 0)
1710621623 19798
1710621623 1710621088 1710621359
1710621623 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
474  1710621621  2024-03-16 21:40:21  1710621621  72  231
475  1710621622  2024-03-16 21:40:22  1710621622  72  208
476  1710621623  2024-03-16 21:40:23  1710621623  72  179
@TIME 1710621623 time              1710621621
date     2024-03-16 21:40:21
time2             1710621621
x                         72
y                        231
Name: 474, dtype: object 1710621621 dif: 3 xy: 72 231 (3, 0)
@TIME 1710621623 time              1710621622
date     2024-03-16 21:40:22
time2             1710621622
x                         72
y                        208
Name: 475, dtype: object 1710621622 dif: 2 xy: 72 208 (2, 0)
@TIME 1710621623 time              1710621623
date     2024-03-16 21:40:23
time2             1710621623
x                         72
y                        179
Name: 476, dtype: object 1710621623 dif: 1 xy: 72 179 (2, 0)
1710621624 19798
1710621624 1710621088 1710621359
1710621624 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
475  1710621622  2024-03-16 21:40:22  1710621622  72  208
476  1710621623  2024-03-16 21:40:23  1710621623  72  179
477  1710621624  2024-03-16 21:40:24  1710621624  88  165
@TIME 1710621624 time              1710621622
date     2024-03-16 21:40:22
time2             1710621622
x                         72
y                        208
Name: 475, dtype: object 1710621622 dif: 3 xy: 72 208 (2, 0)
@TIME 1710621624 time              1710621623
date     2024-03-16 21:40:23
time2             1710621623
x                         72
y                        179
Name: 476, dtype: object 1710621623 dif: 2 xy: 72 179 (2, 0)
@TIME 1710621624 time              1710621624
date     2024-03-16 21:40:24
time2             1710621624
x                         88
y                        165
Name: 477, dtype: object 1710621624 dif: 1 xy: 88 165 (2, 1)
1710621625 19798
1710621625 1710621088 1710621359
1710621625 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
476  1710621623  2024-03-16 21:40:23  1710621623  72  179
477  1710621624  2024-03-16 21:40:24  1710621624  88  165
@TIME 1710621625 time              1710621623
date     2024-03-16 21:40:23
time2             1710621623
x                         72
y                        179
Name: 476, dtype: object 1710621623 dif: 3 xy: 72 179 (2, 0)
@TIME 1710621625 time              1710621624
date     2024-03-16 21:40:24
time2             1710621624
x                         88
y                        165
Name: 477, dtype: object 1710621624 dif: 2 xy: 88 165 (2, 1)
1710621626 19798
1710621626 1710621088 1710621359
1710621626 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
477  1710621624  2024-03-16 21:40:24  1710621624   88  165
478  1710621626  2024-03-16 21:40:26  1710621626  106  161
@TIME 1710621626 time              1710621624
date     2024-03-16 21:40:24
time2             1710621624
x                         88
y                        165
Name: 477, dtype: object 1710621624 dif: 3 xy: 88 165 (2, 1)
@TIME 1710621626 time              1710621626
date     2024-03-16 21:40:26
time2             1710621626
x                        106
y                        161
Name: 478, dtype: object 1710621626 dif: 1 xy: 106 161 (2, 1)
1710621627 19798
1710621627 1710621088 1710621359
1710621627 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
478  1710621626  2024-03-16 21:40:26  1710621626  106  161
479  1710621627  2024-03-16 21:40:27  1710621627  106  161
@TIME 1710621627 time              1710621626
date     2024-03-16 21:40:26
time2             1710621626
x                        106
y                        161
Name: 478, dtype: object 1710621626 dif: 2 xy: 106 161 (2, 1)
@TIME 1710621627 time              1710621627
date     2024-03-16 21:40:27
time2             1710621627
x                        106
y                        161
Name: 479, dtype: object 1710621627 dif: 1 xy: 106 161 (2, 1)
1710621628 19798
1710621628 1710621088 1710621359
1710621628 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
478  1710621626  2024-03-16 21:40:26  1710621626  106  161
479  1710621627  2024-03-16 21:40:27  1710621627  106  161
480  1710621628  2024-03-16 21:40:28  1710621628  113  161
@TIME 1710621628 time              1710621626
date     2024-03-16 21:40:26
time2             1710621626
x                        106
y                        161
Name: 478, dtype: object 1710621626 dif: 3 xy: 106 161 (2, 1)
@TIME 1710621628 time              1710621627
date     2024-03-16 21:40:27
time2             1710621627
x                        106
y                        161
Name: 479, dtype: object 1710621627 dif: 2 xy: 106 161 (2, 1)
@TIME 1710621628 time              1710621628
date     2024-03-16 21:40:28
time2             1710621628
x                        113
y                        161
Name: 480, dtype: object 1710621628 dif: 1 xy: 113 161 (2, 1)
1710621629 19798
1710621629 1710621088 1710621359
1710621629 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
479  1710621627  2024-03-16 21:40:27  1710621627  106  161
480  1710621628  2024-03-16 21:40:28  1710621628  113  161
481  1710621629  2024-03-16 21:40:29  1710621629  139  161
@TIME 1710621629 time              1710621627
date     2024-03-16 21:40:27
time2             1710621627
x                        106
y                        161
Name: 479, dtype: object 1710621627 dif: 3 xy: 106 161 (2, 1)
@TIME 1710621629 time              1710621628
date     2024-03-16 21:40:28
time2             1710621628
x                        113
y                        161
Name: 480, dtype: object 1710621628 dif: 2 xy: 113 161 (2, 1)
@TIME 1710621629 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        139
y                        161
Name: 481, dtype: object 1710621629 dif: 1 xy: 139 161 (2, 1)
1710621630 19798
1710621630 1710621088 1710621359
1710621630 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
480  1710621628  2024-03-16 21:40:28  1710621628  113  161
481  1710621629  2024-03-16 21:40:29  1710621629  139  161
@TIME 1710621630 time              1710621628
date     2024-03-16 21:40:28
time2             1710621628
x                        113
y                        161
Name: 480, dtype: object 1710621628 dif: 3 xy: 113 161 (2, 1)
@TIME 1710621630 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        139
y                        161
Name: 481, dtype: object 1710621629 dif: 2 xy: 139 161 (2, 1)
1710621631 19798
1710621631 1710621088 1710621359
1710621631 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
481  1710621629  2024-03-16 21:40:29  1710621629  139  161
@TIME 1710621631 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        139
y                        161
Name: 481, dtype: object 1710621629 dif: 3 xy: 139 161 (2, 1)
1710621632 19798
1710621632 1710621088 1710621359
1710621632 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621632 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        139
y                        161
Name: 481, dtype: object 1710621629 dif: 4 xy: 139 161 (2, 1)
1710621633 19798
1710621633 1710621088 1710621359
1710621633 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621633 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        139
y                        161
Name: 481, dtype: object 1710621629 dif: 5 xy: 139 161 (2, 1)
1710621634 19798
1710621634 1710621088 1710621359
1710621634 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
482  1710621634  2024-03-16 21:40:34  1710621634  153  157
@TIME 1710621634 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        153
y                        157
Name: 482, dtype: object 1710621634 dif: 1 xy: 153 157 (2, 1)
1710621635 19798
1710621635 1710621088 1710621359
1710621635 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
482  1710621634  2024-03-16 21:40:34  1710621634  153  157
483  1710621635  2024-03-16 21:40:35  1710621635  158  161
484  1710621635  2024-03-16 21:40:35  1710621635  156  145
@TIME 1710621635 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        153
y                        157
Name: 482, dtype: object 1710621634 dif: 2 xy: 153 157 (2, 1)
@TIME 1710621635 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        158
y                        161
Name: 483, dtype: object 1710621635 dif: 1 xy: 158 161 (2, 2)
@TIME 1710621635 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        156
y                        145
Name: 484, dtype: object 1710621635 dif: 1 xy: 156 145 (1, 2)
1710621636 19798
1710621636 1710621088 1710621359
1710621636 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
482  1710621634  2024-03-16 21:40:34  1710621634  153  157
483  1710621635  2024-03-16 21:40:35  1710621635  158  161
484  1710621635  2024-03-16 21:40:35  1710621635  156  145
@TIME 1710621636 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        153
y                        157
Name: 482, dtype: object 1710621634 dif: 3 xy: 153 157 (2, 1)
@TIME 1710621636 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        158
y                        161
Name: 483, dtype: object 1710621635 dif: 2 xy: 158 161 (2, 2)
@TIME 1710621636 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        156
y                        145
Name: 484, dtype: object 1710621635 dif: 2 xy: 156 145 (1, 2)
1710621637 19798
1710621637 1710621088 1710621359
1710621637 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
483  1710621635  2024-03-16 21:40:35  1710621635  158  161
484  1710621635  2024-03-16 21:40:35  1710621635  156  145
485  1710621637  2024-03-16 21:40:37  1710621637  156  145
@TIME 1710621637 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        158
y                        161
Name: 483, dtype: object 1710621635 dif: 3 xy: 158 161 (2, 2)
@TIME 1710621637 time              1710621635
date     2024-03-16 21:40:35
time2             1710621635
x                        156
y                        145
Name: 484, dtype: object 1710621635 dif: 3 xy: 156 145 (1, 2)
@TIME 1710621637 time              1710621637
date     2024-03-16 21:40:37
time2             1710621637
x                        156
y                        145
Name: 485, dtype: object 1710621637 dif: 1 xy: 156 145 (1, 2)
1710621638 19798
1710621638 1710621088 1710621359
1710621638 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
485  1710621637  2024-03-16 21:40:37  1710621637  156  145

1710621658 19798
1710621658 1710621088 1710621359
1710621658 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
508  1710621656  2024-03-16 21:40:56  1710621656  162  154
509  1710621657  2024-03-16 21:40:57  1710621657  147  154
510  1710621658  2024-03-16 21:40:58  1710621658  172  153
@TIME 1710621658 time              1710621656
date     2024-03-16 21:40:56
time2             1710621656
x                        162
y                        154
Name: 508, dtype: object 1710621656 dif: 3 xy: 162 154 (2, 2)
@TIME 1710621658 time              1710621657
date     2024-03-16 21:40:57
time2             1710621657
x                        147
y                        154
Name: 509, dtype: object 1710621657 dif: 2 xy: 147 154 (2, 1)
@TIME 1710621658 time              1710621658
date     2024-03-16 21:40:58
time2             1710621658
x                        172
y                        153
Name: 510, dtype: object 1710621658 dif: 1 xy: 172 153 (1, 2)
1710621659 19798
1710621659 1710621088 1710621359
1710621659 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
509  1710621657  2024-03-16 21:40:57  1710621657  147  154
510  1710621658  2024-03-16 21:40:58  1710621658  172  153
511  1710621659  2024-03-16 21:40:59  1710621659  156  156
@TIME 1710621659 time              1710621657
date     2024-03-16 21:40:57
time2             1710621657
x                        147
y                        154
Name: 509, dtype: object 1710621657 dif: 3 xy: 147 154 (2, 1)
@TIME 1710621659 time              1710621658
date     2024-03-16 21:40:58
time2             1710621658
x                        172
y                        153
Name: 510, dtype: object 1710621658 dif: 2 xy: 172 153 (1, 2)
@TIME 1710621659 time              1710621659
date     2024-03-16 21:40:59
time2             1710621659
x                        156
y                        156
Name: 511, dtype: object 1710621659 dif: 1 xy: 156 156 (2, 2)
1710621660 19798
1710621660 1710621088 1710621359
1710621660 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
510  1710621658  2024-03-16 21:40:58  1710621658  172  153
511  1710621659  2024-03-16 21:40:59  1710621659  156  156
512  1710621660  2024-03-16 21:41:00  1710621660  160  143
513  1710621660  2024-03-16 21:41:00  1710621660  150  152
@TIME 1710621660 time              1710621658
date     2024-03-16 21:40:58
time2             1710621658
x                        172
y                        153
Name: 510, dtype: object 1710621658 dif: 3 xy: 172 153 (1, 2)
@TIME 1710621660 time              1710621659
date     2024-03-16 21:40:59
time2             1710621659
x                        156
y                        156
Name: 511, dtype: object 1710621659 dif: 2 xy: 156 156 (2, 2)
@TIME 1710621660 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        160
y                        143
Name: 512, dtype: object 1710621660 dif: 1 xy: 160 143 (1, 2)
@TIME 1710621660 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        150
y                        152
Name: 513, dtype: object 1710621660 dif: 1 xy: 150 152 (1, 1)
1710621661 19798
1710621661 1710621088 1710621359
1710621661 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
511  1710621659  2024-03-16 21:40:59  1710621659  156  156
512  1710621660  2024-03-16 21:41:00  1710621660  160  143
513  1710621660  2024-03-16 21:41:00  1710621660  150  152
514  1710621661  2024-03-16 21:41:01  1710621661  167  153
@TIME 1710621661 time              1710621659
date     2024-03-16 21:40:59
time2             1710621659
x                        156
y                        156
Name: 511, dtype: object 1710621659 dif: 3 xy: 156 156 (2, 2)
@TIME 1710621661 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        160
y                        143
Name: 512, dtype: object 1710621660 dif: 2 xy: 160 143 (1, 2)
@TIME 1710621661 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        150
y                        152
Name: 513, dtype: object 1710621660 dif: 2 xy: 150 152 (1, 1)
@TIME 1710621661 time              1710621661
date     2024-03-16 21:41:01
time2             1710621661
x                        167
y                        153
Name: 514, dtype: object 1710621661 dif: 1 xy: 167 153 (1, 2)
1710621662 19798
1710621662 1710621088 1710621359
1710621662 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
512  1710621660  2024-03-16 21:41:00  1710621660  160  143
513  1710621660  2024-03-16 21:41:00  1710621660  150  152
514  1710621661  2024-03-16 21:41:01  1710621661  167  153
515  1710621662  2024-03-16 21:41:02  1710621662  152  153
@TIME 1710621662 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        160
y                        143
Name: 512, dtype: object 1710621660 dif: 3 xy: 160 143 (1, 2)
@TIME 1710621662 time              1710621660
date     2024-03-16 21:41:00
time2             1710621660
x                        150
y                        152
Name: 513, dtype: object 1710621660 dif: 3 xy: 150 152 (1, 1)
@TIME 1710621662 time              1710621661
date     2024-03-16 21:41:01
time2             1710621661
x                        167
y                        153
Name: 514, dtype: object 1710621661 dif: 2 xy: 167 153 (1, 2)
@TIME 1710621662 time              1710621662
date     2024-03-16 21:41:02
time2             1710621662
x                        152
y                        153
Name: 515, dtype: object 1710621662 dif: 1 xy: 152 153 (1, 1)
1710621663 19798
1710621663 1710621088 1710621359
1710621663 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
514  1710621661  2024-03-16 21:41:01  1710621661  167  153
515  1710621662  2024-03-16 21:41:02  1710621662  152  153
516  1710621663  2024-03-16 21:41:03  1710621663  168  153
@TIME 1710621663 time              1710621661
date     2024-03-16 21:41:01
time2             1710621661
x                        167
y                        153
Name: 514, dtype: object 1710621661 dif: 3 xy: 167 153 (1, 2)
@TIME 1710621663 time              1710621662
date     2024-03-16 21:41:02
time2             1710621662
x                        152
y                        153
Name: 515, dtype: object 1710621662 dif: 2 xy: 152 153 (1, 1)
@TIME 1710621663 time              1710621663
date     2024-03-16 21:41:03
time2             1710621663
x                        168
y                        153
Name: 516, dtype: object 1710621663 dif: 1 xy: 168 153 (1, 2)
1710621078 19798
1710621078 1710621088 1710621359
1710621078 1710621360 1710621664
1710621078 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621078  2024-03-16 21:31:18  1710621078  243  387
@TIME 1710621078 time              1710621078
date     2024-03-16 21:31:18
time2             1710621078
x                        243
y                        387
Name: 0, dtype: object 1710621078 dif: 1 xy: 243 387 (5, 3)
1710621079 19798
1710621079 1710621088 1710621359
1710621079 1710621360 1710621664
1710621079 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621078  2024-03-16 21:31:18  1710621078  243  387
1  1710621079  2024-03-16 21:31:19  1710621079  237  413
@TIME 1710621079 time              1710621078
date     2024-03-16 21:31:18
time2             1710621078
x                        243
y                        387
Name: 0, dtype: object 1710621078 dif: 2 xy: 243 387 (5, 3)
@TIME 1710621079 time              1710621079
date     2024-03-16 21:31:19
time2             1710621079
x                        237
y                        413
Name: 1, dtype: object 1710621079 dif: 1 xy: 237 413 (5, 3)
1710621080 19798
1710621080 1710621088 1710621359
1710621080 1710621360 1710621664
1710621080 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
0  1710621078  2024-03-16 21:31:18  1710621078  243  387
1  1710621079  2024-03-16 21:31:19  1710621079  237  413
2  1710621080  2024-03-16 21:31:20  1710621080  267  391
@TIME 1710621080 time              1710621078
date     2024-03-16 21:31:18
time2             1710621078
x                        243
y                        387
Name: 0, dtype: object 1710621078 dif: 3 xy: 243 387 (5, 3)
@TIME 1710621080 time              1710621079
date     2024-03-16 21:31:19
time2             1710621079
x                        237
y                        413
Name: 1, dtype: object 1710621079 dif: 2 xy: 237 413 (5, 3)
@TIME 1710621080 time              1710621080
date     2024-03-16 21:31:20
time2             1710621080
x                        267
y                        391
Name: 2, dtype: object 1710621080 dif: 1 xy: 267 391 (5, 3)
1710621081 19798
1710621081 1710621088 1710621359
1710621081 1710621360 1710621664
1710621081 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
1  1710621079  2024-03-16 21:31:19  1710621079  237  413
2  1710621080  2024-03-16 21:31:20  1710621080  267  391
3  1710621081  2024-03-16 21:31:21  1710621081  267  391
@TIME 1710621081 time              1710621079
date     2024-03-16 21:31:19
time2             1710621079
x                        237
y                        413
Name: 1, dtype: object 1710621079 dif: 3 xy: 237 413 (5, 3)
@TIME 1710621081 time              1710621080
date     2024-03-16 21:31:20
time2             1710621080
x                        267
y                        391
Name: 2, dtype: object 1710621080 dif: 2 xy: 267 391 (5, 3)
@TIME 1710621081 time              1710621081
date     2024-03-16 21:31:21
time2             1710621081
x                        267
y                        391
Name: 3, dtype: object 1710621081 dif: 1 xy: 267 391 (5, 3)
1710621082 19798
1710621082 1710621088 1710621359
1710621082 1710621360 1710621664
1710621082 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
2  1710621080  2024-03-16 21:31:20  1710621080  267  391
3  1710621081  2024-03-16 21:31:21  1710621081  267  391
4  1710621082  2024-03-16 21:31:22  1710621082  260  383
5  1710621082  2024-03-16 21:31:22  1710621082  260  383
@TIME 1710621082 time              1710621080
date     2024-03-16 21:31:20
time2             1710621080
x                        267
y                        391
Name: 2, dtype: object 1710621080 dif: 3 xy: 267 391 (5, 3)
@TIME 1710621082 time              1710621081
date     2024-03-16 21:31:21
time2             1710621081
x                        267
y                        391
Name: 3, dtype: object 1710621081 dif: 2 xy: 267 391 (5, 3)
@TIME 1710621082 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 4, dtype: object 1710621082 dif: 1 xy: 260 383 (4, 3)
@TIME 1710621082 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 5, dtype: object 1710621082 dif: 1 xy: 260 383 (4, 3)
1710621083 19798
1710621083 1710621088 1710621359
1710621083 1710621360 1710621664
1710621083 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
3  1710621081  2024-03-16 21:31:21  1710621081  267  391
4  1710621082  2024-03-16 21:31:22  1710621082  260  383
5  1710621082  2024-03-16 21:31:22  1710621082  260  383
@TIME 1710621083 time              1710621081
date     2024-03-16 21:31:21
time2             1710621081
x                        267
y                        391
Name: 3, dtype: object 1710621081 dif: 3 xy: 267 391 (5, 3)
@TIME 1710621083 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 4, dtype: object 1710621082 dif: 2 xy: 260 383 (4, 3)
@TIME 1710621083 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 5, dtype: object 1710621082 dif: 2 xy: 260 383 (4, 3)
1710621084 19798
1710621084 1710621088 1710621359
1710621084 1710621360 1710621664
1710621084 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
4  1710621082  2024-03-16 21:31:22  1710621082  260  383
5  1710621082  2024-03-16 21:31:22  1710621082  260  383
6  1710621084  2024-03-16 21:31:24  1710621084  259  390
7  1710621084  2024-03-16 21:31:24  1710621084  259  390
8  1710621084  2024-03-16 21:31:24  1710621084  259  390
@TIME 1710621084 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 4, dtype: object 1710621082 dif: 3 xy: 260 383 (4, 3)
@TIME 1710621084 time              1710621082
date     2024-03-16 21:31:22
time2             1710621082
x                        260
y                        383
Name: 5, dtype: object 1710621082 dif: 3 xy: 260 383 (4, 3)
@TIME 1710621084 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 6, dtype: object 1710621084 dif: 1 xy: 259 390 (5, 3)
@TIME 1710621084 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 7, dtype: object 1710621084 dif: 1 xy: 259 390 (5, 3)
@TIME 1710621084 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 8, dtype: object 1710621084 dif: 1 xy: 259 390 (5, 3)
1710621085 19798
1710621085 1710621088 1710621359
1710621085 1710621360 1710621664
1710621085 1710621078 1710621359
Scene Scene1
DF          time                 date       time2    x    y
6  1710621084  2024-03-16 21:31:24  1710621084  259  390
7  1710621084  2024-03-16 21:31:24  1710621084  259  390
8  1710621084  2024-03-16 21:31:24  1710621084  259  390
9  1710621085  2024-03-16 21:31:25  1710621085  259  390
@TIME 1710621085 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 6, dtype: object 1710621084 dif: 2 xy: 259 390 (5, 3)
@TIME 1710621085 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 7, dtype: object 1710621084 dif: 2 xy: 259 390 (5, 3)
@TIME 1710621085 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 8, dtype: object 1710621084 dif: 2 xy: 259 390 (5, 3)
@TIME 1710621085 time              1710621085
date     2024-03-16 21:31:25
time2             1710621085
x                        259
y                        390
Name: 9, dtype: object 1710621085 dif: 1 xy: 259 390 (5, 3)
1710621086 19798
1710621086 1710621088 1710621359
1710621086 1710621360 1710621664
1710621086 1710621078 1710621359
Scene Scene1
DF           time                 date       time2    x    y
6   1710621084  2024-03-16 21:31:24  1710621084  259  390
7   1710621084  2024-03-16 21:31:24  1710621084  259  390
8   1710621084  2024-03-16 21:31:24  1710621084  259  390
9   1710621085  2024-03-16 21:31:25  1710621085  259  390
10  1710621086  2024-03-16 21:31:26  1710621086  259  390
@TIME 1710621086 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 6, dtype: object 1710621084 dif: 3 xy: 259 390 (5, 3)
@TIME 1710621086 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 7, dtype: object 1710621084 dif: 3 xy: 259 390 (5, 3)
@TIME 1710621086 time              1710621084
date     2024-03-16 21:31:24
time2             1710621084
x                        259
y                        390
Name: 8, dtype: object 1710621084 dif: 3 xy: 259 390 (5, 3)
@TIME 1710621086 time              1710621085
date     2024-03-16 21:31:25
time2             1710621085
x                        259
y                        390
Name: 9, dtype: object 1710621085 dif: 2 xy: 259 390 (5, 3)
@TIME 1710621086 time              1710621086
date     2024-03-16 21:31:26
time2             1710621086
x                        259
y                        390
Name: 10, dtype: object 1710621086 dif: 1 xy: 259 390 (5, 3)
1710621087 19798
1710621087 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
9   1710621085  2024-03-16 21:31:25  1710621085  259  390
10  1710621086  2024-03-16 21:31:26  1710621086  259  390
11  1710621087  2024-03-16 21:31:27  1710621087  259  390
@TIME 1710621087 time              1710621085
date     2024-03-16 21:31:25
time2             1710621085
x                        259
y                        390
Name: 9, dtype: object 1710621085 dif: 3 xy: 259 390 (5, 3)
@TIME 1710621087 time              1710621086
date     2024-03-16 21:31:26
time2             1710621086
x                        259
y                        390
Name: 10, dtype: object 1710621086 dif: 2 xy: 259 390 (5, 3)
@TIME 1710621087 time              1710621087
date     2024-03-16 21:31:27
time2             1710621087
x                        259
y                        390
Name: 11, dtype: object 1710621087 dif: 1 xy: 259 390 (5, 3)
1710621088 19798
1710621088 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
10  1710621086  2024-03-16 21:31:26  1710621086  259  390
11  1710621087  2024-03-16 21:31:27  1710621087  259  390
@TIME 1710621088 time              1710621086
date     2024-03-16 21:31:26
time2             1710621086
x                        259
y                        390
Name: 10, dtype: object 1710621086 dif: 3 xy: 259 390 (5, 3)
@TIME 1710621088 time              1710621087
date     2024-03-16 21:31:27
time2             1710621087
x                        259
y                        390
Name: 11, dtype: object 1710621087 dif: 2 xy: 259 390 (5, 3)
1710621089 19798
1710621089 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
11  1710621087  2024-03-16 21:31:27  1710621087  259  390
@TIME 1710621089 time              1710621087
date     2024-03-16 21:31:27
time2             1710621087
x                        259
y                        390
Name: 11, dtype: object 1710621087 dif: 3 xy: 259 390 (5, 3)
1710621090 19798
1710621090 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621090 time              1710621087
date     2024-03-16 21:31:27
time2             1710621087
x                        259
y                        390
Name: 11, dtype: object 1710621087 dif: 4 xy: 259 390 (5, 3)
1710621091 19798
1710621091 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
12  1710621091  2024-03-16 21:31:31  1710621091  259  375
@TIME 1710621091 time              1710621091
date     2024-03-16 21:31:31
time2             1710621091
x                        259
y                        375
Name: 12, dtype: object 1710621091 dif: 1 xy: 259 375 (4, 3)
1710621092 19798
1710621092 1710621088 1710621359
Scene Scene1

1710621118 19798
1710621118 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
29  1710621116  2024-03-16 21:31:56  1710621116  250  381
30  1710621117  2024-03-16 21:31:57  1710621117  250  381
31  1710621118  2024-03-16 21:31:58  1710621118  250  381
@TIME 1710621118 time              1710621116
date     2024-03-16 21:31:56
time2             1710621116
x                        250
y                        381
Name: 29, dtype: object 1710621116 dif: 3 xy: 250 381 (4, 3)
@TIME 1710621118 time              1710621117
date     2024-03-16 21:31:57
time2             1710621117
x                        250
y                        381
Name: 30, dtype: object 1710621117 dif: 2 xy: 250 381 (4, 3)
@TIME 1710621118 time              1710621118
date     2024-03-16 21:31:58
time2             1710621118
x                        250
y                        381
Name: 31, dtype: object 1710621118 dif: 1 xy: 250 381 (4, 3)
1710621119 19798
1710621119 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
30  1710621117  2024-03-16 21:31:57  1710621117  250  381
31  1710621118  2024-03-16 21:31:58  1710621118  250  381
32  1710621119  2024-03-16 21:31:59  1710621119  253  378
@TIME 1710621119 time              1710621117
date     2024-03-16 21:31:57
time2             1710621117
x                        250
y                        381
Name: 30, dtype: object 1710621117 dif: 3 xy: 250 381 (4, 3)
@TIME 1710621119 time              1710621118
date     2024-03-16 21:31:58
time2             1710621118
x                        250
y                        381
Name: 31, dtype: object 1710621118 dif: 2 xy: 250 381 (4, 3)
@TIME 1710621119 time              1710621119
date     2024-03-16 21:31:59
time2             1710621119
x                        253
y                        378
Name: 32, dtype: object 1710621119 dif: 1 xy: 253 378 (4, 3)
1710621120 19798
1710621120 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
31  1710621118  2024-03-16 21:31:58  1710621118  250  381
32  1710621119  2024-03-16 21:31:59  1710621119  253  378
33  1710621120  2024-03-16 21:32:00  1710621120  248  379
@TIME 1710621120 time              1710621118
date     2024-03-16 21:31:58
time2             1710621118
x                        250
y                        381
Name: 31, dtype: object 1710621118 dif: 3 xy: 250 381 (4, 3)
@TIME 1710621120 time              1710621119
date     2024-03-16 21:31:59
time2             1710621119
x                        253
y                        378
Name: 32, dtype: object 1710621119 dif: 2 xy: 253 378 (4, 3)
@TIME 1710621120 time              1710621120
date     2024-03-16 21:32:00
time2             1710621120
x                        248
y                        379
Name: 33, dtype: object 1710621120 dif: 1 xy: 248 379 (4, 3)
1710621121 19798
1710621121 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
32  1710621119  2024-03-16 21:31:59  1710621119  253  378
33  1710621120  2024-03-16 21:32:00  1710621120  248  379
@TIME 1710621121 time              1710621119
date     2024-03-16 21:31:59
time2             1710621119
x                        253
y                        378
Name: 32, dtype: object 1710621119 dif: 3 xy: 253 378 (4, 3)
@TIME 1710621121 time              1710621120
date     2024-03-16 21:32:00
time2             1710621120
x                        248
y                        379
Name: 33, dtype: object 1710621120 dif: 2 xy: 248 379 (4, 3)
1710621122 19798
1710621122 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
33  1710621120  2024-03-16 21:32:00  1710621120  248  379
@TIME 1710621122 time              1710621120
date     2024-03-16 21:32:00
time2             1710621120
x                        248
y                        379
Name: 33, dtype: object 1710621120 dif: 3 xy: 248 379 (4, 3)
1710621123 19798
1710621123 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
34  1710621123  2024-03-16 21:32:03  1710621123  248  379
@TIME 1710621123 time              1710621123
date     2024-03-16 21:32:03
time2             1710621123
x                        248
y                        379
Name: 34, dtype: object 1710621123 dif: 1 xy: 248 379 (4, 3)
1710621124 19798
1710621124 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
34  1710621123  2024-03-16 21:32:03  1710621123  248  379
35  1710621124  2024-03-16 21:32:04  1710621124  295  382
@TIME 1710621124 time              1710621123
date     2024-03-16 21:32:03
time2             1710621123
x                        248
y                        379
Name: 34, dtype: object 1710621123 dif: 2 xy: 248 379 (4, 3)
@TIME 1710621124 time              1710621124
date     2024-03-16 21:32:04
time2             1710621124
x                        295
y                        382
Name: 35, dtype: object 1710621124 dif: 1 xy: 295 382 (4, 3)
1710621125 19798
1710621125 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
34  1710621123  2024-03-16 21:32:03  1710621123  248  379
35  1710621124  2024-03-16 21:32:04  1710621124  295  382
36  1710621125  2024-03-16 21:32:05  1710621125  312  381
@TIME 1710621125 time              1710621123
date     2024-03-16 21:32:03
time2             1710621123
x                        248
y                        379
Name: 34, dtype: object 1710621123 dif: 3 xy: 248 379 (4, 3)
@TIME 1710621125 time              1710621124
date     2024-03-16 21:32:04
time2             1710621124
x                        295
y                        382
Name: 35, dtype: object 1710621124 dif: 2 xy: 295 382 (4, 3)
@TIME 1710621125 time              1710621125
date     2024-03-16 21:32:05
time2             1710621125
x                        312
y                        381
Name: 36, dtype: object 1710621125 dif: 1 xy: 312 381 (4, 4)
1710621126 19798
1710621126 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
35  1710621124  2024-03-16 21:32:04  1710621124  295  382
36  1710621125  2024-03-16 21:32:05  1710621125  312  381
@TIME 1710621126 time              1710621124
date     2024-03-16 21:32:04
time2             1710621124
x                        295
y                        382
Name: 35, dtype: object 1710621124 dif: 3 xy: 295 382 (4, 3)
@TIME 1710621126 time              1710621125
date     2024-03-16 21:32:05
time2             1710621125
x                        312
y                        381
Name: 36, dtype: object 1710621125 dif: 2 xy: 312 381 (4, 4)
1710621127 19798
1710621127 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
36  1710621125  2024-03-16 21:32:05  1710621125  312  381
37  1710621127  2024-03-16 21:32:07  1710621127  308  355
@TIME 1710621127 time              1710621125
date     2024-03-16 21:32:05
time2             1710621125
x                        312
y                        381
Name: 36, dtype: object 1710621125 dif: 3 xy: 312 381 (4, 4)
@TIME 1710621127 time              1710621127
date     2024-03-16 21:32:07
time2             1710621127
x                        308
y                        355
Name: 37, dtype: object 1710621127 dif: 1 xy: 308 355 (4, 4)
1710621128 19798
1710621128 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
37  1710621127  2024-03-16 21:32:07  1710621127  308  355
38  1710621128  2024-03-16 21:32:08  1710621128  309  344
@TIME 1710621128 time              1710621127
date     2024-03-16 21:32:07
time2             1710621127
x                        308
y                        355
Name: 37, dtype: object 1710621127 dif: 2 xy: 308 355 (4, 4)
@TIME 1710621128 time              1710621128
date     2024-03-16 21:32:08
time2             1710621128
x                        309
y                        344
Name: 38, dtype: object 1710621128 dif: 1 xy: 309 344 (4, 4)
1710621129 19798
1710621129 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
37  1710621127  2024-03-16 21:32:07  1710621127  308  355
38  1710621128  2024-03-16 21:32:08  1710621128  309  344
39  1710621129  2024-03-16 21:32:09  1710621129  309  324
@TIME 1710621129 time              1710621127
date     2024-03-16 21:32:07
time2             1710621127
x                        308
y                        355
Name: 37, dtype: object 1710621127 dif: 3 xy: 308 355 (4, 4)
@TIME 1710621129 time              1710621128
date     2024-03-16 21:32:08
time2             1710621128
x                        309
y                        344
Name: 38, dtype: object 1710621128 dif: 2 xy: 309 344 (4, 4)
@TIME 1710621129 time              1710621129
date     2024-03-16 21:32:09
time2             1710621129
x                        309
y                        324
Name: 39, dtype: object 1710621129 dif: 1 xy: 309 324 (4, 4)
1710621130 19798
1710621130 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
38  1710621128  2024-03-16 21:32:08  1710621128  309  344
39  1710621129  2024-03-16 21:32:09  1710621129  309  324
40  1710621130  2024-03-16 21:32:10  1710621130  311  315
@TIME 1710621130 time              1710621128
date     2024-03-16 21:32:08
time2             1710621128
x                        309
y                        344
Name: 38, dtype: object 1710621128 dif: 3 xy: 309 344 (4, 4)
@TIME 1710621130 time              1710621129
date     2024-03-16 21:32:09
time2             1710621129
x                        309
y                        324
Name: 39, dtype: object 1710621129 dif: 2 xy: 309 324 (4, 4)
@TIME 1710621130 time              1710621130
date     2024-03-16 21:32:10
time2             1710621130
x                        311
y                        315
Name: 40, dtype: object 1710621130 dif: 1 xy: 311 315 (4, 4)
1710621131 19798
1710621131 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
39  1710621129  2024-03-16 21:32:09  1710621129  309  324
40  1710621130  2024-03-16 21:32:10  1710621130  311  315
41  1710621131  2024-03-16 21:32:11  1710621131  311  308
@TIME 1710621131 time              1710621129
date     2024-03-16 21:32:09
time2             1710621129
x                        309
y                        324
Name: 39, dtype: object 1710621129 dif: 3 xy: 309 324 (4, 4)
@TIME 1710621131 time              1710621130
date     2024-03-16 21:32:10
time2             1710621130
x                        311
y                        315
Name: 40, dtype: object 1710621130 dif: 2 xy: 311 315 (4, 4)
@TIME 1710621131 time              1710621131
date     2024-03-16 21:32:11
time2             1710621131
x                        311
y                        308
Name: 41, dtype: object 1710621131 dif: 1 xy: 311 308 (4, 4)
1710621132 19798
1710621132 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
40  1710621130  2024-03-16 21:32:10  1710621130  311  315
41  1710621131  2024-03-16 21:32:11  1710621131  311  308
42  1710621132  2024-03-16 21:32:12  1710621132  314  278
@TIME 1710621132 time              1710621130
date     2024-03-16 21:32:10
time2             1710621130
x                        311
y                        315
Name: 40, dtype: object 1710621130 dif: 3 xy: 311 315 (4, 4)
@TIME 1710621132 time              1710621131
date     2024-03-16 21:32:11
time2             1710621131
x                        311
y                        308
Name: 41, dtype: object 1710621131 dif: 2 xy: 311 308 (4, 4)
@TIME 1710621132 time              1710621132
date     2024-03-16 21:32:12
time2             1710621132
x                        314
y                        278
Name: 42, dtype: object 1710621132 dif: 1 xy: 314 278 (3, 4)
1710621133 19798
1710621133 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
41  1710621131  2024-03-16 21:32:11  1710621131  311  308
42  1710621132  2024-03-16 21:32:12  1710621132  314  278
43  1710621133  2024-03-16 21:32:13  1710621133  327  287
@TIME 1710621133 time              1710621131
date     2024-03-16 21:32:11
time2             1710621131
x                        311
y                        308
Name: 41, dtype: object 1710621131 dif: 3 xy: 311 308 (4, 4)
@TIME 1710621133 time              1710621132
date     2024-03-16 21:32:12
time2             1710621132
x                        314
y                        278
Name: 42, dtype: object 1710621132 dif: 2 xy: 314 278 (3, 4)
@TIME 1710621133 time              1710621133
date     2024-03-16 21:32:13
time2             1710621133
x                        327
y                        287
Name: 43, dtype: object 1710621133 dif: 1 xy: 327 287 (3, 4)
1710621134 19798
1710621134 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
42  1710621132  2024-03-16 21:32:12  1710621132  314  278
43  1710621133  2024-03-16 21:32:13  1710621133  327  287
44  1710621134  2024-03-16 21:32:14  1710621134  325  276
@TIME 1710621134 time              1710621132
date     2024-03-16 21:32:12
time2             1710621132
x                        314
y                        278
Name: 42, dtype: object 1710621132 dif: 3 xy: 314 278 (3, 4)
@TIME 1710621134 time              1710621133
date     2024-03-16 21:32:13
time2             1710621133
x                        327
y                        287
Name: 43, dtype: object 1710621133 dif: 2 xy: 327 287 (3, 4)
@TIME 1710621134 time              1710621134
date     2024-03-16 21:32:14
time2             1710621134
x                        325
y                        276
Name: 44, dtype: object 1710621134 dif: 1 xy: 325 276 (3, 4)
1710621135 19798
1710621135 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
43  1710621133  2024-03-16 21:32:13  1710621133  327  287
44  1710621134  2024-03-16 21:32:14  1710621134  325  276
45  1710621135  2024-03-16 21:32:15  1710621135  324  267
@TIME 1710621135 time              1710621133
date     2024-03-16 21:32:13
time2             1710621133
x                        327
y                        287
Name: 43, dtype: object 1710621133 dif: 3 xy: 327 287 (3, 4)
@TIME 1710621135 time              1710621134
date     2024-03-16 21:32:14
time2             1710621134
x                        325
y                        276
Name: 44, dtype: object 1710621134 dif: 2 xy: 325 276 (3, 4)
@TIME 1710621135 time              1710621135
date     2024-03-16 21:32:15
time2             1710621135
x                        324
y                        267
Name: 45, dtype: object 1710621135 dif: 1 xy: 324 267 (3, 4)
1710621136 19798
1710621136 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
44  1710621134  2024-03-16 21:32:14  1710621134  325  276
45  1710621135  2024-03-16 21:32:15  1710621135  324  267
46  1710621136  2024-03-16 21:32:16  1710621136  324  267
@TIME 1710621136 time              1710621134
date     2024-03-16 21:32:14
time2             1710621134
x                        325
y                        276
Name: 44, dtype: object 1710621134 dif: 3 xy: 325 276 (3, 4)
@TIME 1710621136 time              1710621135
date     2024-03-16 21:32:15
time2             1710621135
x                        324
y                        267
Name: 45, dtype: object 1710621135 dif: 2 xy: 324 267 (3, 4)
@TIME 1710621136 time              1710621136
date     2024-03-16 21:32:16
time2             1710621136
x                        324
y                        267
Name: 46, dtype: object 1710621136 dif: 1 xy: 324 267 (3, 4)
1710621137 19798
1710621137 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
45  1710621135  2024-03-16 21:32:15  1710621135  324  267
46  1710621136  2024-03-16 21:32:16  1710621136  324  267
47  1710621137  2024-03-16 21:32:17  1710621137  320  265
@TIME 1710621137 time              1710621135
date     2024-03-16 21:32:15
time2             1710621135
x                        324
y                        267
Name: 45, dtype: object 1710621135 dif: 3 xy: 324 267 (3, 4)
@TIME 1710621137 time              1710621136
date     2024-03-16 21:32:16
time2             1710621136
x                        324
y                        267
Name: 46, dtype: object 1710621136 dif: 2 xy: 324 267 (3, 4)
@TIME 1710621137 time              1710621137
date     2024-03-16 21:32:17
time2             1710621137
x                        320
y                        265
Name: 47, dtype: object 1710621137 dif: 1 xy: 320 265 (3, 4)
1710621138 19798
1710621138 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
46  1710621136  2024-03-16 21:32:16  1710621136  324  267
47  1710621137  2024-03-16 21:32:17  1710621137  320  265
48  1710621138  2024-03-16 21:32:18  1710621138  322  263
49  1710621138  2024-03-16 21:32:18  1710621138  324  261
@TIME 1710621138 time              1710621136
date     2024-03-16 21:32:16
time2             1710621136
x                        324
y                        267
Name: 46, dtype: object 1710621136 dif: 3 xy: 324 267 (3, 4)
@TIME 1710621138 time              1710621137
date     2024-03-16 21:32:17
time2             1710621137
x                        320
y                        265
Name: 47, dtype: object 1710621137 dif: 2 xy: 320 265 (3, 4)
@TIME 1710621138 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        322
y                        263
Name: 48, dtype: object 1710621138 dif: 1 xy: 322 263 (3, 4)
@TIME 1710621138 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        324
y                        261
Name: 49, dtype: object 1710621138 dif: 1 xy: 324 261 (3, 4)
1710621139 19798
1710621139 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
47  1710621137  2024-03-16 21:32:17  1710621137  320  265
48  1710621138  2024-03-16 21:32:18  1710621138  322  263
49  1710621138  2024-03-16 21:32:18  1710621138  324  261
50  1710621139  2024-03-16 21:32:19  1710621139  324  266
@TIME 1710621139 time              1710621137
date     2024-03-16 21:32:17
time2             1710621137
x                        320
y                        265
Name: 47, dtype: object 1710621137 dif: 3 xy: 320 265 (3, 4)
@TIME 1710621139 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        322
y                        263
Name: 48, dtype: object 1710621138 dif: 2 xy: 322 263 (3, 4)
@TIME 1710621139 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        324
y                        261
Name: 49, dtype: object 1710621138 dif: 2 xy: 324 261 (3, 4)
@TIME 1710621139 time              1710621139
date     2024-03-16 21:32:19
time2             1710621139
x                        324
y                        266
Name: 50, dtype: object 1710621139 dif: 1 xy: 324 266 (3, 4)
1710621140 19798
1710621140 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
48  1710621138  2024-03-16 21:32:18  1710621138  322  263
49  1710621138  2024-03-16 21:32:18  1710621138  324  261
50  1710621139  2024-03-16 21:32:19  1710621139  324  266
@TIME 1710621140 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        322
y                        263
Name: 48, dtype: object 1710621138 dif: 3 xy: 322 263 (3, 4)
@TIME 1710621140 time              1710621138
date     2024-03-16 21:32:18
time2             1710621138
x                        324
y                        261

1710621172 19798
1710621172 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
76  1710621170  2024-03-16 21:32:50  1710621170  326  302
77  1710621171  2024-03-16 21:32:51  1710621171  325  300
78  1710621171  2024-03-16 21:32:51  1710621171  325  300
79  1710621172  2024-03-16 21:32:52  1710621172  325  300
@TIME 1710621172 time              1710621170
date     2024-03-16 21:32:50
time2             1710621170
x                        326
y                        302
Name: 76, dtype: object 1710621170 dif: 3 xy: 326 302 (3, 4)
@TIME 1710621172 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        325
y                        300
Name: 77, dtype: object 1710621171 dif: 2 xy: 325 300 (3, 4)
@TIME 1710621172 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        325
y                        300
Name: 78, dtype: object 1710621171 dif: 2 xy: 325 300 (3, 4)
@TIME 1710621172 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        325
y                        300
Name: 79, dtype: object 1710621172 dif: 1 xy: 325 300 (3, 4)
1710621173 19798
1710621173 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
77  1710621171  2024-03-16 21:32:51  1710621171  325  300
78  1710621171  2024-03-16 21:32:51  1710621171  325  300
79  1710621172  2024-03-16 21:32:52  1710621172  325  300
80  1710621173  2024-03-16 21:32:53  1710621173  308  295
@TIME 1710621173 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        325
y                        300
Name: 77, dtype: object 1710621171 dif: 3 xy: 325 300 (3, 4)
@TIME 1710621173 time              1710621171
date     2024-03-16 21:32:51
time2             1710621171
x                        325
y                        300
Name: 78, dtype: object 1710621171 dif: 3 xy: 325 300 (3, 4)
@TIME 1710621173 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        325
y                        300
Name: 79, dtype: object 1710621172 dif: 2 xy: 325 300 (3, 4)
@TIME 1710621173 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        308
y                        295
Name: 80, dtype: object 1710621173 dif: 1 xy: 308 295 (3, 4)
1710621174 19798
1710621174 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
79  1710621172  2024-03-16 21:32:52  1710621172  325  300
80  1710621173  2024-03-16 21:32:53  1710621173  308  295
81  1710621174  2024-03-16 21:32:54  1710621174  297  298
@TIME 1710621174 time              1710621172
date     2024-03-16 21:32:52
time2             1710621172
x                        325
y                        300
Name: 79, dtype: object 1710621172 dif: 3 xy: 325 300 (3, 4)
@TIME 1710621174 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        308
y                        295
Name: 80, dtype: object 1710621173 dif: 2 xy: 308 295 (3, 4)
@TIME 1710621174 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        297
y                        298
Name: 81, dtype: object 1710621174 dif: 1 xy: 297 298 (3, 3)
1710621175 19798
1710621175 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
80  1710621173  2024-03-16 21:32:53  1710621173  308  295
81  1710621174  2024-03-16 21:32:54  1710621174  297  298
82  1710621175  2024-03-16 21:32:55  1710621175  270  307
@TIME 1710621175 time              1710621173
date     2024-03-16 21:32:53
time2             1710621173
x                        308
y                        295
Name: 80, dtype: object 1710621173 dif: 3 xy: 308 295 (3, 4)
@TIME 1710621175 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        297
y                        298
Name: 81, dtype: object 1710621174 dif: 2 xy: 297 298 (3, 3)
@TIME 1710621175 time              1710621175
date     2024-03-16 21:32:55
time2             1710621175
x                        270
y                        307
Name: 82, dtype: object 1710621175 dif: 1 xy: 270 307 (3, 3)
1710621176 19798
1710621176 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
81  1710621174  2024-03-16 21:32:54  1710621174  297  298
82  1710621175  2024-03-16 21:32:55  1710621175  270  307
83  1710621176  2024-03-16 21:32:56  1710621176  221  322
@TIME 1710621176 time              1710621174
date     2024-03-16 21:32:54
time2             1710621174
x                        297
y                        298
Name: 81, dtype: object 1710621174 dif: 3 xy: 297 298 (3, 3)
@TIME 1710621176 time              1710621175
date     2024-03-16 21:32:55
time2             1710621175
x                        270
y                        307
Name: 82, dtype: object 1710621175 dif: 2 xy: 270 307 (3, 3)
@TIME 1710621176 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        221
y                        322
Name: 83, dtype: object 1710621176 dif: 1 xy: 221 322 (4, 2)
1710621177 19798
1710621177 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
82  1710621175  2024-03-16 21:32:55  1710621175  270  307
83  1710621176  2024-03-16 21:32:56  1710621176  221  322
84  1710621177  2024-03-16 21:32:57  1710621177  166  326
@TIME 1710621177 time              1710621175
date     2024-03-16 21:32:55
time2             1710621175
x                        270
y                        307
Name: 82, dtype: object 1710621175 dif: 3 xy: 270 307 (3, 3)
@TIME 1710621177 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        221
y                        322
Name: 83, dtype: object 1710621176 dif: 2 xy: 221 322 (4, 2)
@TIME 1710621177 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        166
y                        326
Name: 84, dtype: object 1710621177 dif: 1 xy: 166 326 (4, 2)
1710621178 19798
1710621178 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
83  1710621176  2024-03-16 21:32:56  1710621176  221  322
84  1710621177  2024-03-16 21:32:57  1710621177  166  326
@TIME 1710621178 time              1710621176
date     2024-03-16 21:32:56
time2             1710621176
x                        221
y                        322
Name: 83, dtype: object 1710621176 dif: 3 xy: 221 322 (4, 2)
@TIME 1710621178 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        166
y                        326
Name: 84, dtype: object 1710621177 dif: 2 xy: 166 326 (4, 2)
1710621179 19798
1710621179 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
84  1710621177  2024-03-16 21:32:57  1710621177  166  326
85  1710621179  2024-03-16 21:32:59  1710621179  158  323
@TIME 1710621179 time              1710621177
date     2024-03-16 21:32:57
time2             1710621177
x                        166
y                        326
Name: 84, dtype: object 1710621177 dif: 3 xy: 166 326 (4, 2)
@TIME 1710621179 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        158
y                        323
Name: 85, dtype: object 1710621179 dif: 1 xy: 158 323 (4, 2)
1710621180 19798
1710621180 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
85  1710621179  2024-03-16 21:32:59  1710621179  158  323
86  1710621180  2024-03-16 21:33:00  1710621180  123  319
@TIME 1710621180 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        158
y                        323
Name: 85, dtype: object 1710621179 dif: 2 xy: 158 323 (4, 2)
@TIME 1710621180 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        123
y                        319
Name: 86, dtype: object 1710621180 dif: 1 xy: 123 319 (4, 1)
1710621181 19798
1710621181 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
85  1710621179  2024-03-16 21:32:59  1710621179  158  323
86  1710621180  2024-03-16 21:33:00  1710621180  123  319
87  1710621181  2024-03-16 21:33:01  1710621181  114  319
@TIME 1710621181 time              1710621179
date     2024-03-16 21:32:59
time2             1710621179
x                        158
y                        323
Name: 85, dtype: object 1710621179 dif: 3 xy: 158 323 (4, 2)
@TIME 1710621181 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        123
y                        319
Name: 86, dtype: object 1710621180 dif: 2 xy: 123 319 (4, 1)
@TIME 1710621181 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        114
y                        319
Name: 87, dtype: object 1710621181 dif: 1 xy: 114 319 (4, 1)
1710621182 19798
1710621182 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
86  1710621180  2024-03-16 21:33:00  1710621180  123  319
87  1710621181  2024-03-16 21:33:01  1710621181  114  319
88  1710621182  2024-03-16 21:33:02  1710621182   94  320
@TIME 1710621182 time              1710621180
date     2024-03-16 21:33:00
time2             1710621180
x                        123
y                        319
Name: 86, dtype: object 1710621180 dif: 3 xy: 123 319 (4, 1)
@TIME 1710621182 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        114
y                        319
Name: 87, dtype: object 1710621181 dif: 2 xy: 114 319 (4, 1)
@TIME 1710621182 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                         94
y                        320
Name: 88, dtype: object 1710621182 dif: 1 xy: 94 320 (4, 1)
1710621183 19798
1710621183 1710621088 1710621359
Scene Scene1
DF           time                 date       time2    x    y
87  1710621181  2024-03-16 21:33:01  1710621181  114  319
88  1710621182  2024-03-16 21:33:02  1710621182   94  320
@TIME 1710621183 time              1710621181
date     2024-03-16 21:33:01
time2             1710621181
x                        114
y                        319
Name: 87, dtype: object 1710621181 dif: 3 xy: 114 319 (4, 1)
@TIME 1710621183 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                         94
y                        320
Name: 88, dtype: object 1710621182 dif: 2 xy: 94 320 (4, 1)
1710621184 19798
1710621184 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
88  1710621182  2024-03-16 21:33:02  1710621182  94  320
89  1710621184  2024-03-16 21:33:04  1710621184  73  319
@TIME 1710621184 time              1710621182
date     2024-03-16 21:33:02
time2             1710621182
x                         94
y                        320
Name: 88, dtype: object 1710621182 dif: 3 xy: 94 320 (4, 1)
@TIME 1710621184 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                         73
y                        319
Name: 89, dtype: object 1710621184 dif: 1 xy: 73 319 (4, 0)
1710621185 19798
1710621185 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
89  1710621184  2024-03-16 21:33:04  1710621184  73  319
90  1710621185  2024-03-16 21:33:05  1710621185  76  324
@TIME 1710621185 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                         73
y                        319
Name: 89, dtype: object 1710621184 dif: 2 xy: 73 319 (4, 0)
@TIME 1710621185 time              1710621185
date     2024-03-16 21:33:05
time2             1710621185
x                         76
y                        324
Name: 90, dtype: object 1710621185 dif: 1 xy: 76 324 (4, 0)
1710621186 19798
1710621186 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
89  1710621184  2024-03-16 21:33:04  1710621184  73  319
90  1710621185  2024-03-16 21:33:05  1710621185  76  324
91  1710621186  2024-03-16 21:33:06  1710621186  94  327
@TIME 1710621186 time              1710621184
date     2024-03-16 21:33:04
time2             1710621184
x                         73
y                        319
Name: 89, dtype: object 1710621184 dif: 3 xy: 73 319 (4, 0)
@TIME 1710621186 time              1710621185
date     2024-03-16 21:33:05
time2             1710621185
x                         76
y                        324
Name: 90, dtype: object 1710621185 dif: 2 xy: 76 324 (4, 0)
@TIME 1710621186 time              1710621186
date     2024-03-16 21:33:06
time2             1710621186
x                         94
y                        327
Name: 91, dtype: object 1710621186 dif: 1 xy: 94 327 (4, 1)
1710621187 19798
1710621187 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
90  1710621185  2024-03-16 21:33:05  1710621185  76  324
91  1710621186  2024-03-16 21:33:06  1710621186  94  327
@TIME 1710621187 time              1710621185
date     2024-03-16 21:33:05
time2             1710621185
x                         76
y                        324
Name: 90, dtype: object 1710621185 dif: 3 xy: 76 324 (4, 0)
@TIME 1710621187 time              1710621186
date     2024-03-16 21:33:06
time2             1710621186
x                         94
y                        327
Name: 91, dtype: object 1710621186 dif: 2 xy: 94 327 (4, 1)
1710621188 19798
1710621188 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
91  1710621186  2024-03-16 21:33:06  1710621186  94  327
@TIME 1710621188 time              1710621186
date     2024-03-16 21:33:06
time2             1710621186
x                         94
y                        327
Name: 91, dtype: object 1710621186 dif: 3 xy: 94 327 (4, 1)
1710621189 19798
1710621189 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
92  1710621189  2024-03-16 21:33:09  1710621189  74  371
@TIME 1710621189 time              1710621189
date     2024-03-16 21:33:09
time2             1710621189
x                         74
y                        371
Name: 92, dtype: object 1710621189 dif: 1 xy: 74 371 (4, 0)
1710621190 19798
1710621190 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
92  1710621189  2024-03-16 21:33:09  1710621189  74  371
93  1710621190  2024-03-16 21:33:10  1710621190  68  375
@TIME 1710621190 time              1710621189
date     2024-03-16 21:33:09
time2             1710621189
x                         74
y                        371
Name: 92, dtype: object 1710621189 dif: 2 xy: 74 371 (4, 0)
@TIME 1710621190 time              1710621190
date     2024-03-16 21:33:10
time2             1710621190
x                         68
y                        375
Name: 93, dtype: object 1710621190 dif: 1 xy: 68 375 (4, 0)
1710621191 19798
1710621191 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
92  1710621189  2024-03-16 21:33:09  1710621189  74  371
93  1710621190  2024-03-16 21:33:10  1710621190  68  375
94  1710621191  2024-03-16 21:33:11  1710621191  68  370
@TIME 1710621191 time              1710621189
date     2024-03-16 21:33:09
time2             1710621189
x                         74
y                        371
Name: 92, dtype: object 1710621189 dif: 3 xy: 74 371 (4, 0)
@TIME 1710621191 time              1710621190
date     2024-03-16 21:33:10
time2             1710621190
x                         68
y                        375
Name: 93, dtype: object 1710621190 dif: 2 xy: 68 375 (4, 0)
@TIME 1710621191 time              1710621191
date     2024-03-16 21:33:11
time2             1710621191
x                         68
y                        370
Name: 94, dtype: object 1710621191 dif: 1 xy: 68 370 (4, 0)
1710621192 19798
1710621192 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
93  1710621190  2024-03-16 21:33:10  1710621190  68  375
94  1710621191  2024-03-16 21:33:11  1710621191  68  370
95  1710621192  2024-03-16 21:33:12  1710621192  70  368
@TIME 1710621192 time              1710621190
date     2024-03-16 21:33:10
time2             1710621190
x                         68
y                        375
Name: 93, dtype: object 1710621190 dif: 3 xy: 68 375 (4, 0)
@TIME 1710621192 time              1710621191
date     2024-03-16 21:33:11
time2             1710621191
x                         68
y                        370
Name: 94, dtype: object 1710621191 dif: 2 xy: 68 370 (4, 0)
@TIME 1710621192 time              1710621192
date     2024-03-16 21:33:12
time2             1710621192
x                         70
y                        368
Name: 95, dtype: object 1710621192 dif: 1 xy: 70 368 (4, 0)
1710621193 19798
1710621193 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
94  1710621191  2024-03-16 21:33:11  1710621191  68  370
95  1710621192  2024-03-16 21:33:12  1710621192  70  368
96  1710621193  2024-03-16 21:33:13  1710621193  91  367
@TIME 1710621193 time              1710621191
date     2024-03-16 21:33:11
time2             1710621191
x                         68
y                        370
Name: 94, dtype: object 1710621191 dif: 3 xy: 68 370 (4, 0)
@TIME 1710621193 time              1710621192
date     2024-03-16 21:33:12
time2             1710621192
x                         70
y                        368
Name: 95, dtype: object 1710621192 dif: 2 xy: 70 368 (4, 0)
@TIME 1710621193 time              1710621193
date     2024-03-16 21:33:13
time2             1710621193
x                         91
y                        367
Name: 96, dtype: object 1710621193 dif: 1 xy: 91 367 (4, 1)
1710621194 19798
1710621194 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
95  1710621192  2024-03-16 21:33:12  1710621192  70  368
96  1710621193  2024-03-16 21:33:13  1710621193  91  367
97  1710621194  2024-03-16 21:33:14  1710621194  76  369
@TIME 1710621194 time              1710621192
date     2024-03-16 21:33:12
time2             1710621192
x                         70
y                        368
Name: 95, dtype: object 1710621192 dif: 3 xy: 70 368 (4, 0)
@TIME 1710621194 time              1710621193
date     2024-03-16 21:33:13
time2             1710621193
x                         91
y                        367
Name: 96, dtype: object 1710621193 dif: 2 xy: 91 367 (4, 1)
@TIME 1710621194 time              1710621194
date     2024-03-16 21:33:14
time2             1710621194
x                         76
y                        369
Name: 97, dtype: object 1710621194 dif: 1 xy: 76 369 (4, 0)
1710621195 19798
1710621195 1710621088 1710621359
Scene Scene1
DF           time                 date       time2   x    y
96  1710621193  2024-03-16 21:33:13  1710621193  91  367
97  1710621194  2024-03-16 21:33:14  1710621194  76  369
@TIME 1710621195 time              1710621193
date     2024-03-16 21:33:13
time2             1710621193
x                         91
y                        367
Name: 96, dtype: object 1710621193 dif: 3 xy: 91 367 (4, 1)
@TIME 1710621195 time              1710621194
date     2024-03-16 21:33:14
time2             1710621194
x                         76
y                        369

1710621206 19798
1710621206 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x    y
106  1710621206  2024-03-16 21:33:26  1710621206  99  364
@TIME 1710621206 time              1710621206
date     2024-03-16 21:33:26
time2             1710621206
x                         99
y                        364
Name: 106, dtype: object 1710621206 dif: 1 xy: 99 364 (4, 1)
1710621207 19798
1710621207 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x    y
106  1710621206  2024-03-16 21:33:26  1710621206  99  364
@TIME 1710621207 time              1710621206
date     2024-03-16 21:33:26
time2             1710621206
x                         99
y                        364
Name: 106, dtype: object 1710621206 dif: 2 xy: 99 364 (4, 1)
1710621208 19798
1710621208 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
106  1710621206  2024-03-16 21:33:26  1710621206   99  364
107  1710621208  2024-03-16 21:33:28  1710621208  117  361
@TIME 1710621208 time              1710621206
date     2024-03-16 21:33:26
time2             1710621206
x                         99
y                        364
Name: 106, dtype: object 1710621206 dif: 3 xy: 99 364 (4, 1)
@TIME 1710621208 time              1710621208
date     2024-03-16 21:33:28
time2             1710621208
x                        117
y                        361
Name: 107, dtype: object 1710621208 dif: 1 xy: 117 361 (4, 1)
1710621209 19798
1710621209 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
107  1710621208  2024-03-16 21:33:28  1710621208  117  361
108  1710621209  2024-03-16 21:33:29  1710621209  139  351
@TIME 1710621209 time              1710621208
date     2024-03-16 21:33:28
time2             1710621208
x                        117
y                        361
Name: 107, dtype: object 1710621208 dif: 2 xy: 117 361 (4, 1)
@TIME 1710621209 time              1710621209
date     2024-03-16 21:33:29
time2             1710621209
x                        139
y                        351
Name: 108, dtype: object 1710621209 dif: 1 xy: 139 351 (4, 1)
1710621210 19798
1710621210 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
107  1710621208  2024-03-16 21:33:28  1710621208  117  361
108  1710621209  2024-03-16 21:33:29  1710621209  139  351
109  1710621210  2024-03-16 21:33:30  1710621210  147  346
@TIME 1710621210 time              1710621208
date     2024-03-16 21:33:28
time2             1710621208
x                        117
y                        361
Name: 107, dtype: object 1710621208 dif: 3 xy: 117 361 (4, 1)
@TIME 1710621210 time              1710621209
date     2024-03-16 21:33:29
time2             1710621209
x                        139
y                        351
Name: 108, dtype: object 1710621209 dif: 2 xy: 139 351 (4, 1)
@TIME 1710621210 time              1710621210
date     2024-03-16 21:33:30
time2             1710621210
x                        147
y                        346
Name: 109, dtype: object 1710621210 dif: 1 xy: 147 346 (4, 1)
1710621211 19798
1710621211 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
108  1710621209  2024-03-16 21:33:29  1710621209  139  351
109  1710621210  2024-03-16 21:33:30  1710621210  147  346
110  1710621211  2024-03-16 21:33:31  1710621211  154  347
111  1710621211  2024-03-16 21:33:31  1710621211  154  351
@TIME 1710621211 time              1710621209
date     2024-03-16 21:33:29
time2             1710621209
x                        139
y                        351
Name: 108, dtype: object 1710621209 dif: 3 xy: 139 351 (4, 1)
@TIME 1710621211 time              1710621210
date     2024-03-16 21:33:30
time2             1710621210
x                        147
y                        346
Name: 109, dtype: object 1710621210 dif: 2 xy: 147 346 (4, 1)
@TIME 1710621211 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        347
Name: 110, dtype: object 1710621211 dif: 1 xy: 154 347 (4, 2)
@TIME 1710621211 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        351
Name: 111, dtype: object 1710621211 dif: 1 xy: 154 351 (4, 2)
1710621212 19798
1710621212 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
109  1710621210  2024-03-16 21:33:30  1710621210  147  346
110  1710621211  2024-03-16 21:33:31  1710621211  154  347
111  1710621211  2024-03-16 21:33:31  1710621211  154  351
@TIME 1710621212 time              1710621210
date     2024-03-16 21:33:30
time2             1710621210
x                        147
y                        346
Name: 109, dtype: object 1710621210 dif: 3 xy: 147 346 (4, 1)
@TIME 1710621212 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        347
Name: 110, dtype: object 1710621211 dif: 2 xy: 154 347 (4, 2)
@TIME 1710621212 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        351
Name: 111, dtype: object 1710621211 dif: 2 xy: 154 351 (4, 2)
1710621213 19798
1710621213 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
110  1710621211  2024-03-16 21:33:31  1710621211  154  347
111  1710621211  2024-03-16 21:33:31  1710621211  154  351
@TIME 1710621213 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        347
Name: 110, dtype: object 1710621211 dif: 3 xy: 154 347 (4, 2)
@TIME 1710621213 time              1710621211
date     2024-03-16 21:33:31
time2             1710621211
x                        154
y                        351
Name: 111, dtype: object 1710621211 dif: 3 xy: 154 351 (4, 2)
1710621214 19798
1710621214 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
112  1710621214  2024-03-16 21:33:34  1710621214  154  366
@TIME 1710621214 time              1710621214
date     2024-03-16 21:33:34
time2             1710621214
x                        154
y                        366
Name: 112, dtype: object 1710621214 dif: 1 xy: 154 366 (4, 2)
1710621215 19798
1710621215 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
112  1710621214  2024-03-16 21:33:34  1710621214  154  366
113  1710621215  2024-03-16 21:33:35  1710621215  153  405
@TIME 1710621215 time              1710621214
date     2024-03-16 21:33:34
time2             1710621214
x                        154
y                        366
Name: 112, dtype: object 1710621214 dif: 2 xy: 154 366 (4, 2)
@TIME 1710621215 time              1710621215
date     2024-03-16 21:33:35
time2             1710621215
x                        153
y                        405
Name: 113, dtype: object 1710621215 dif: 1 xy: 153 405 (5, 1)
1710621216 19798
1710621216 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
112  1710621214  2024-03-16 21:33:34  1710621214  154  366
113  1710621215  2024-03-16 21:33:35  1710621215  153  405
114  1710621216  2024-03-16 21:33:36  1710621216  156  432
@TIME 1710621216 time              1710621214
date     2024-03-16 21:33:34
time2             1710621214
x                        154
y                        366
Name: 112, dtype: object 1710621214 dif: 3 xy: 154 366 (4, 2)
@TIME 1710621216 time              1710621215
date     2024-03-16 21:33:35
time2             1710621215
x                        153
y                        405
Name: 113, dtype: object 1710621215 dif: 2 xy: 153 405 (5, 1)
@TIME 1710621216 time              1710621216
date     2024-03-16 21:33:36
time2             1710621216
x                        156
y                        432
Name: 114, dtype: object 1710621216 dif: 1 xy: 156 432 (5, 2)
1710621217 19798
1710621217 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
113  1710621215  2024-03-16 21:33:35  1710621215  153  405
114  1710621216  2024-03-16 21:33:36  1710621216  156  432
115  1710621217  2024-03-16 21:33:37  1710621217  156  424
@TIME 1710621217 time              1710621215
date     2024-03-16 21:33:35
time2             1710621215
x                        153
y                        405
Name: 113, dtype: object 1710621215 dif: 3 xy: 153 405 (5, 1)
@TIME 1710621217 time              1710621216
date     2024-03-16 21:33:36
time2             1710621216
x                        156
y                        432
Name: 114, dtype: object 1710621216 dif: 2 xy: 156 432 (5, 2)
@TIME 1710621217 time              1710621217
date     2024-03-16 21:33:37
time2             1710621217
x                        156
y                        424
Name: 115, dtype: object 1710621217 dif: 1 xy: 156 424 (5, 2)
1710621218 19798
1710621218 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
114  1710621216  2024-03-16 21:33:36  1710621216  156  432
115  1710621217  2024-03-16 21:33:37  1710621217  156  424
116  1710621218  2024-03-16 21:33:38  1710621218  155  421
@TIME 1710621218 time              1710621216
date     2024-03-16 21:33:36
time2             1710621216
x                        156
y                        432
Name: 114, dtype: object 1710621216 dif: 3 xy: 156 432 (5, 2)
@TIME 1710621218 time              1710621217
date     2024-03-16 21:33:37
time2             1710621217
x                        156
y                        424
Name: 115, dtype: object 1710621217 dif: 2 xy: 156 424 (5, 2)
@TIME 1710621218 time              1710621218
date     2024-03-16 21:33:38
time2             1710621218
x                        155
y                        421
Name: 116, dtype: object 1710621218 dif: 1 xy: 155 421 (5, 2)
1710621219 19798
1710621219 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
115  1710621217  2024-03-16 21:33:37  1710621217  156  424
116  1710621218  2024-03-16 21:33:38  1710621218  155  421
117  1710621219  2024-03-16 21:33:39  1710621219  155  420
118  1710621219  2024-03-16 21:33:39  1710621219  155  413
@TIME 1710621219 time              1710621217
date     2024-03-16 21:33:37
time2             1710621217
x                        156
y                        424
Name: 115, dtype: object 1710621217 dif: 3 xy: 156 424 (5, 2)
@TIME 1710621219 time              1710621218
date     2024-03-16 21:33:38
time2             1710621218
x                        155
y                        421
Name: 116, dtype: object 1710621218 dif: 2 xy: 155 421 (5, 2)
@TIME 1710621219 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        420
Name: 117, dtype: object 1710621219 dif: 1 xy: 155 420 (5, 2)
@TIME 1710621219 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        413
Name: 118, dtype: object 1710621219 dif: 1 xy: 155 413 (5, 2)
1710621220 19798
1710621220 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
116  1710621218  2024-03-16 21:33:38  1710621218  155  421
117  1710621219  2024-03-16 21:33:39  1710621219  155  420
118  1710621219  2024-03-16 21:33:39  1710621219  155  413
119  1710621220  2024-03-16 21:33:40  1710621220  155  412
@TIME 1710621220 time              1710621218
date     2024-03-16 21:33:38
time2             1710621218
x                        155
y                        421
Name: 116, dtype: object 1710621218 dif: 3 xy: 155 421 (5, 2)
@TIME 1710621220 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        420
Name: 117, dtype: object 1710621219 dif: 2 xy: 155 420 (5, 2)
@TIME 1710621220 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        413
Name: 118, dtype: object 1710621219 dif: 2 xy: 155 413 (5, 2)
@TIME 1710621220 time              1710621220
date     2024-03-16 21:33:40
time2             1710621220
x                        155
y                        412
Name: 119, dtype: object 1710621220 dif: 1 xy: 155 412 (5, 2)
1710621221 19798
1710621221 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
117  1710621219  2024-03-16 21:33:39  1710621219  155  420
118  1710621219  2024-03-16 21:33:39  1710621219  155  413
119  1710621220  2024-03-16 21:33:40  1710621220  155  412
120  1710621221  2024-03-16 21:33:41  1710621221  160  413
@TIME 1710621221 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        420
Name: 117, dtype: object 1710621219 dif: 3 xy: 155 420 (5, 2)
@TIME 1710621221 time              1710621219
date     2024-03-16 21:33:39
time2             1710621219
x                        155
y                        413
Name: 118, dtype: object 1710621219 dif: 3 xy: 155 413 (5, 2)
@TIME 1710621221 time              1710621220
date     2024-03-16 21:33:40
time2             1710621220
x                        155
y                        412
Name: 119, dtype: object 1710621220 dif: 2 xy: 155 412 (5, 2)
@TIME 1710621221 time              1710621221
date     2024-03-16 21:33:41
time2             1710621221
x                        160
y                        413
Name: 120, dtype: object 1710621221 dif: 1 xy: 160 413 (5, 2)
1710621222 19798
1710621222 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
119  1710621220  2024-03-16 21:33:40  1710621220  155  412
120  1710621221  2024-03-16 21:33:41  1710621221  160  413
121  1710621222  2024-03-16 21:33:42  1710621222  148  407
@TIME 1710621222 time              1710621220
date     2024-03-16 21:33:40
time2             1710621220
x                        155
y                        412
Name: 119, dtype: object 1710621220 dif: 3 xy: 155 412 (5, 2)
@TIME 1710621222 time              1710621221
date     2024-03-16 21:33:41
time2             1710621221
x                        160
y                        413
Name: 120, dtype: object 1710621221 dif: 2 xy: 160 413 (5, 2)
@TIME 1710621222 time              1710621222
date     2024-03-16 21:33:42
time2             1710621222
x                        148
y                        407
Name: 121, dtype: object 1710621222 dif: 1 xy: 148 407 (5, 1)
1710621223 19798
1710621223 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
120  1710621221  2024-03-16 21:33:41  1710621221  160  413
121  1710621222  2024-03-16 21:33:42  1710621222  148  407
122  1710621223  2024-03-16 21:33:43  1710621223  150  407
@TIME 1710621223 time              1710621221
date     2024-03-16 21:33:41
time2             1710621221
x                        160
y                        413
Name: 120, dtype: object 1710621221 dif: 3 xy: 160 413 (5, 2)
@TIME 1710621223 time              1710621222
date     2024-03-16 21:33:42
time2             1710621222
x                        148
y                        407
Name: 121, dtype: object 1710621222 dif: 2 xy: 148 407 (5, 1)
@TIME 1710621223 time              1710621223
date     2024-03-16 21:33:43
time2             1710621223
x                        150
y                        407
Name: 122, dtype: object 1710621223 dif: 1 xy: 150 407 (5, 1)
1710621224 19798
1710621224 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
121  1710621222  2024-03-16 21:33:42  1710621222  148  407
122  1710621223  2024-03-16 21:33:43  1710621223  150  407
123  1710621224  2024-03-16 21:33:44  1710621224  162  403
@TIME 1710621224 time              1710621222
date     2024-03-16 21:33:42
time2             1710621222
x                        148
y                        407
Name: 121, dtype: object 1710621222 dif: 3 xy: 148 407 (5, 1)
@TIME 1710621224 time              1710621223
date     2024-03-16 21:33:43
time2             1710621223
x                        150
y                        407
Name: 122, dtype: object 1710621223 dif: 2 xy: 150 407 (5, 1)
@TIME 1710621224 time              1710621224
date     2024-03-16 21:33:44
time2             1710621224
x                        162
y                        403
Name: 123, dtype: object 1710621224 dif: 1 xy: 162 403 (5, 2)
1710621225 19798
1710621225 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
122  1710621223  2024-03-16 21:33:43  1710621223  150  407
123  1710621224  2024-03-16 21:33:44  1710621224  162  403
124  1710621225  2024-03-16 21:33:45  1710621225  158  414
@TIME 1710621225 time              1710621223
date     2024-03-16 21:33:43
time2             1710621223
x                        150
y                        407
Name: 122, dtype: object 1710621223 dif: 3 xy: 150 407 (5, 1)
@TIME 1710621225 time              1710621224
date     2024-03-16 21:33:44
time2             1710621224
x                        162
y                        403
Name: 123, dtype: object 1710621224 dif: 2 xy: 162 403 (5, 2)
@TIME 1710621225 time              1710621225
date     2024-03-16 21:33:45
time2             1710621225
x                        158
y                        414
Name: 124, dtype: object 1710621225 dif: 1 xy: 158 414 (5, 2)
1710621226 19798
1710621226 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
123  1710621224  2024-03-16 21:33:44  1710621224  162  403
124  1710621225  2024-03-16 21:33:45  1710621225  158  414
125  1710621226  2024-03-16 21:33:46  1710621226  149  403
@TIME 1710621226 time              1710621224
date     2024-03-16 21:33:44
time2             1710621224
x                        162
y                        403
Name: 123, dtype: object 1710621224 dif: 3 xy: 162 403 (5, 2)
@TIME 1710621226 time              1710621225
date     2024-03-16 21:33:45
time2             1710621225
x                        158
y                        414
Name: 124, dtype: object 1710621225 dif: 2 xy: 158 414 (5, 2)
@TIME 1710621226 time              1710621226
date     2024-03-16 21:33:46
time2             1710621226
x                        149
y                        403
Name: 125, dtype: object 1710621226 dif: 1 xy: 149 403 (5, 1)
1710621227 19798
1710621227 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
124  1710621225  2024-03-16 21:33:45  1710621225  158  414
125  1710621226  2024-03-16 21:33:46  1710621226  149  403
126  1710621227  2024-03-16 21:33:47  1710621227  152  405
127  1710621227  2024-03-16 21:33:47  1710621227  152  405
@TIME 1710621227 time              1710621225
date     2024-03-16 21:33:45
time2             1710621225
x                        158
y                        414
Name: 124, dtype: object 1710621225 dif: 3 xy: 158 414 (5, 2)
@TIME 1710621227 time              1710621226
date     2024-03-16 21:33:46
time2             1710621226
x                        149
y                        403
Name: 125, dtype: object 1710621226 dif: 2 xy: 149 403 (5, 1)
@TIME 1710621227 time              1710621227
date     2024-03-16 21:33:47
time2             1710621227
x                        152
y                        405
Name: 126, dtype: object 1710621227 dif: 1 xy: 152 405 (5, 1)
@TIME 1710621227 time              1710621227
date     2024-03-16 21:33:47
time2             1710621227
x                        152
y                        405

1710621259 19798
1710621259 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x    y
157  1710621257  2024-03-16 21:34:17  1710621257  82  140
158  1710621258  2024-03-16 21:34:18  1710621258  78  117
159  1710621259  2024-03-16 21:34:19  1710621259  70   79
@TIME 1710621259 time              1710621257
date     2024-03-16 21:34:17
time2             1710621257
x                         82
y                        140
Name: 157, dtype: object 1710621257 dif: 3 xy: 82 140 (1, 1)
@TIME 1710621259 time              1710621258
date     2024-03-16 21:34:18
time2             1710621258
x                         78
y                        117
Name: 158, dtype: object 1710621258 dif: 2 xy: 78 117 (1, 1)
@TIME 1710621259 time              1710621259
date     2024-03-16 21:34:19
time2             1710621259
x                         70
y                         79
Name: 159, dtype: object 1710621259 dif: 1 xy: 70 79 (1, 0)
1710621260 19798
1710621260 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x    y
158  1710621258  2024-03-16 21:34:18  1710621258  78  117
159  1710621259  2024-03-16 21:34:19  1710621259  70   79
160  1710621260  2024-03-16 21:34:20  1710621260  88   83
@TIME 1710621260 time              1710621258
date     2024-03-16 21:34:18
time2             1710621258
x                         78
y                        117
Name: 158, dtype: object 1710621258 dif: 3 xy: 78 117 (1, 1)
@TIME 1710621260 time              1710621259
date     2024-03-16 21:34:19
time2             1710621259
x                         70
y                         79
Name: 159, dtype: object 1710621259 dif: 2 xy: 70 79 (1, 0)
@TIME 1710621260 time              1710621260
date     2024-03-16 21:34:20
time2             1710621260
x                         88
y                         83
Name: 160, dtype: object 1710621260 dif: 1 xy: 88 83 (1, 1)
1710621261 19798
1710621261 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x   y
159  1710621259  2024-03-16 21:34:19  1710621259  70  79
160  1710621260  2024-03-16 21:34:20  1710621260  88  83
161  1710621261  2024-03-16 21:34:21  1710621261  93  80
@TIME 1710621261 time              1710621259
date     2024-03-16 21:34:19
time2             1710621259
x                         70
y                         79
Name: 159, dtype: object 1710621259 dif: 3 xy: 70 79 (1, 0)
@TIME 1710621261 time              1710621260
date     2024-03-16 21:34:20
time2             1710621260
x                         88
y                         83
Name: 160, dtype: object 1710621260 dif: 2 xy: 88 83 (1, 1)
@TIME 1710621261 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                         93
y                         80
Name: 161, dtype: object 1710621261 dif: 1 xy: 93 80 (1, 1)
1710621262 19798
1710621262 1710621088 1710621359
Scene Scene1
DF            time                 date       time2   x   y
160  1710621260  2024-03-16 21:34:20  1710621260  88  83
161  1710621261  2024-03-16 21:34:21  1710621261  93  80
162  1710621262  2024-03-16 21:34:22  1710621262  97  77
@TIME 1710621262 time              1710621260
date     2024-03-16 21:34:20
time2             1710621260
x                         88
y                         83
Name: 160, dtype: object 1710621260 dif: 3 xy: 88 83 (1, 1)
@TIME 1710621262 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                         93
y                         80
Name: 161, dtype: object 1710621261 dif: 2 xy: 93 80 (1, 1)
@TIME 1710621262 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                         97
y                         77
Name: 162, dtype: object 1710621262 dif: 1 xy: 97 77 (1, 1)
1710621263 19798
1710621263 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
161  1710621261  2024-03-16 21:34:21  1710621261   93  80
162  1710621262  2024-03-16 21:34:22  1710621262   97  77
163  1710621263  2024-03-16 21:34:23  1710621263  100  71
@TIME 1710621263 time              1710621261
date     2024-03-16 21:34:21
time2             1710621261
x                         93
y                         80
Name: 161, dtype: object 1710621261 dif: 3 xy: 93 80 (1, 1)
@TIME 1710621263 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                         97
y                         77
Name: 162, dtype: object 1710621262 dif: 2 xy: 97 77 (1, 1)
@TIME 1710621263 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        100
y                         71
Name: 163, dtype: object 1710621263 dif: 1 xy: 100 71 (0, 1)
1710621264 19798
1710621264 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
162  1710621262  2024-03-16 21:34:22  1710621262   97  77
163  1710621263  2024-03-16 21:34:23  1710621263  100  71
164  1710621264  2024-03-16 21:34:24  1710621264  100  71
@TIME 1710621264 time              1710621262
date     2024-03-16 21:34:22
time2             1710621262
x                         97
y                         77
Name: 162, dtype: object 1710621262 dif: 3 xy: 97 77 (1, 1)
@TIME 1710621264 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        100
y                         71
Name: 163, dtype: object 1710621263 dif: 2 xy: 100 71 (0, 1)
@TIME 1710621264 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        100
y                         71
Name: 164, dtype: object 1710621264 dif: 1 xy: 100 71 (0, 1)
1710621265 19798
1710621265 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
163  1710621263  2024-03-16 21:34:23  1710621263  100  71
164  1710621264  2024-03-16 21:34:24  1710621264  100  71
165  1710621265  2024-03-16 21:34:25  1710621265  100  71
@TIME 1710621265 time              1710621263
date     2024-03-16 21:34:23
time2             1710621263
x                        100
y                         71
Name: 163, dtype: object 1710621263 dif: 3 xy: 100 71 (0, 1)
@TIME 1710621265 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        100
y                         71
Name: 164, dtype: object 1710621264 dif: 2 xy: 100 71 (0, 1)
@TIME 1710621265 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        100
y                         71
Name: 165, dtype: object 1710621265 dif: 1 xy: 100 71 (0, 1)
1710621266 19798
1710621266 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
164  1710621264  2024-03-16 21:34:24  1710621264  100  71
165  1710621265  2024-03-16 21:34:25  1710621265  100  71
166  1710621266  2024-03-16 21:34:26  1710621266  101  75
@TIME 1710621266 time              1710621264
date     2024-03-16 21:34:24
time2             1710621264
x                        100
y                         71
Name: 164, dtype: object 1710621264 dif: 3 xy: 100 71 (0, 1)
@TIME 1710621266 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        100
y                         71
Name: 165, dtype: object 1710621265 dif: 2 xy: 100 71 (0, 1)
@TIME 1710621266 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        101
y                         75
Name: 166, dtype: object 1710621266 dif: 1 xy: 101 75 (0, 1)
1710621267 19798
1710621267 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
165  1710621265  2024-03-16 21:34:25  1710621265  100  71
166  1710621266  2024-03-16 21:34:26  1710621266  101  75
167  1710621267  2024-03-16 21:34:27  1710621267  102  79
@TIME 1710621267 time              1710621265
date     2024-03-16 21:34:25
time2             1710621265
x                        100
y                         71
Name: 165, dtype: object 1710621265 dif: 3 xy: 100 71 (0, 1)
@TIME 1710621267 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        101
y                         75
Name: 166, dtype: object 1710621266 dif: 2 xy: 101 75 (0, 1)
@TIME 1710621267 time              1710621267
date     2024-03-16 21:34:27
time2             1710621267
x                        102
y                         79
Name: 167, dtype: object 1710621267 dif: 1 xy: 102 79 (1, 1)
1710621268 19798
1710621268 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x   y
166  1710621266  2024-03-16 21:34:26  1710621266  101  75
167  1710621267  2024-03-16 21:34:27  1710621267  102  79
168  1710621268  2024-03-16 21:34:28  1710621268  114  94
@TIME 1710621268 time              1710621266
date     2024-03-16 21:34:26
time2             1710621266
x                        101
y                         75
Name: 166, dtype: object 1710621266 dif: 3 xy: 101 75 (0, 1)
@TIME 1710621268 time              1710621267
date     2024-03-16 21:34:27
time2             1710621267
x                        102
y                         79
Name: 167, dtype: object 1710621267 dif: 2 xy: 102 79 (1, 1)
@TIME 1710621268 time              1710621268
date     2024-03-16 21:34:28
time2             1710621268
x                        114
y                         94
Name: 168, dtype: object 1710621268 dif: 1 xy: 114 94 (1, 1)
1710621269 19798
1710621269 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
167  1710621267  2024-03-16 21:34:27  1710621267  102   79
168  1710621268  2024-03-16 21:34:28  1710621268  114   94
169  1710621269  2024-03-16 21:34:29  1710621269  121  103
170  1710621269  2024-03-16 21:34:29  1710621269  128  122
@TIME 1710621269 time              1710621267
date     2024-03-16 21:34:27
time2             1710621267
x                        102
y                         79
Name: 167, dtype: object 1710621267 dif: 3 xy: 102 79 (1, 1)
@TIME 1710621269 time              1710621268
date     2024-03-16 21:34:28
time2             1710621268
x                        114
y                         94
Name: 168, dtype: object 1710621268 dif: 2 xy: 114 94 (1, 1)
@TIME 1710621269 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        121
y                        103
Name: 169, dtype: object 1710621269 dif: 1 xy: 121 103 (1, 1)
@TIME 1710621269 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        128
y                        122
Name: 170, dtype: object 1710621269 dif: 1 xy: 128 122 (1, 1)
1710621270 19798
1710621270 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
168  1710621268  2024-03-16 21:34:28  1710621268  114   94
169  1710621269  2024-03-16 21:34:29  1710621269  121  103
170  1710621269  2024-03-16 21:34:29  1710621269  128  122
@TIME 1710621270 time              1710621268
date     2024-03-16 21:34:28
time2             1710621268
x                        114
y                         94
Name: 168, dtype: object 1710621268 dif: 3 xy: 114 94 (1, 1)
@TIME 1710621270 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        121
y                        103
Name: 169, dtype: object 1710621269 dif: 2 xy: 121 103 (1, 1)
@TIME 1710621270 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        128
y                        122
Name: 170, dtype: object 1710621269 dif: 2 xy: 128 122 (1, 1)
1710621271 19798
1710621271 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
169  1710621269  2024-03-16 21:34:29  1710621269  121  103
170  1710621269  2024-03-16 21:34:29  1710621269  128  122
171  1710621271  2024-03-16 21:34:31  1710621271  144  159
@TIME 1710621271 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        121
y                        103
Name: 169, dtype: object 1710621269 dif: 3 xy: 121 103 (1, 1)
@TIME 1710621271 time              1710621269
date     2024-03-16 21:34:29
time2             1710621269
x                        128
y                        122
Name: 170, dtype: object 1710621269 dif: 3 xy: 128 122 (1, 1)
@TIME 1710621271 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        144
y                        159
Name: 171, dtype: object 1710621271 dif: 1 xy: 144 159 (2, 1)
1710621272 19798
1710621272 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
171  1710621271  2024-03-16 21:34:31  1710621271  144  159
172  1710621272  2024-03-16 21:34:32  1710621272  144  159
@TIME 1710621272 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        144
y                        159
Name: 171, dtype: object 1710621271 dif: 2 xy: 144 159 (2, 1)
@TIME 1710621272 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 1 xy: 144 159 (2, 1)
1710621273 19798
1710621273 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
171  1710621271  2024-03-16 21:34:31  1710621271  144  159
172  1710621272  2024-03-16 21:34:32  1710621272  144  159
@TIME 1710621273 time              1710621271
date     2024-03-16 21:34:31
time2             1710621271
x                        144
y                        159
Name: 171, dtype: object 1710621271 dif: 3 xy: 144 159 (2, 1)
@TIME 1710621273 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 2 xy: 144 159 (2, 1)
1710621274 19798
1710621274 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
172  1710621272  2024-03-16 21:34:32  1710621272  144  159
@TIME 1710621274 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 3 xy: 144 159 (2, 1)
1710621275 19798
1710621275 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621275 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 4 xy: 144 159 (2, 1)
1710621276 19798
1710621276 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621276 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 5 xy: 144 159 (2, 1)
1710621277 19798
1710621277 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621277 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 6 xy: 144 159 (2, 1)
1710621278 19798
1710621278 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621278 time              1710621272
date     2024-03-16 21:34:32
time2             1710621272
x                        144
y                        159
Name: 172, dtype: object 1710621272 dif: 7 xy: 144 159 (2, 1)
1710621279 19798
1710621279 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
173  1710621279  2024-03-16 21:34:39  1710621279  159  166
174  1710621279  2024-03-16 21:34:39  1710621279  159  166
@TIME 1710621279 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 173, dtype: object 1710621279 dif: 1 xy: 159 166 (2, 2)
@TIME 1710621279 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 174, dtype: object 1710621279 dif: 1 xy: 159 166 (2, 2)
1710621280 19798
1710621280 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
173  1710621279  2024-03-16 21:34:39  1710621279  159  166
174  1710621279  2024-03-16 21:34:39  1710621279  159  166
@TIME 1710621280 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 173, dtype: object 1710621279 dif: 2 xy: 159 166 (2, 2)
@TIME 1710621280 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 174, dtype: object 1710621279 dif: 2 xy: 159 166 (2, 2)
1710621281 19798
1710621281 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
173  1710621279  2024-03-16 21:34:39  1710621279  159  166
174  1710621279  2024-03-16 21:34:39  1710621279  159  166
@TIME 1710621281 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 173, dtype: object 1710621279 dif: 3 xy: 159 166 (2, 2)
@TIME 1710621281 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 174, dtype: object 1710621279 dif: 3 xy: 159 166 (2, 2)
1710621282 19798
1710621282 1710621088 1710621359
Scene Scene1
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621282 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 173, dtype: object 1710621279 dif: 4 xy: 159 166 (2, 2)
@TIME 1710621282 time              1710621279
date     2024-03-16 21:34:39
time2             1710621279
x                        159
y                        166
Name: 174, dtype: object 1710621279 dif: 4 xy: 159 166 (2, 2)
1710621283 19798
1710621283 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
175  1710621283  2024-03-16 21:34:43  1710621283  159  166
@TIME 1710621283 time              1710621283
date     2024-03-16 21:34:43
time2             1710621283
x                        159
y                        166
Name: 175, dtype: object 1710621283 dif: 1 xy: 159 166 (2, 2)
1710621284 19798
1710621284 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
175  1710621283  2024-03-16 21:34:43  1710621283  159  166
176  1710621284  2024-03-16 21:34:44  1710621284  158  167
@TIME 1710621284 time              1710621283
date     2024-03-16 21:34:43
time2             1710621283
x                        159
y                        166

1710621304 19798
1710621304 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
190  1710621302  2024-03-16 21:35:02  1710621302  155  177
191  1710621303  2024-03-16 21:35:03  1710621303  155  175
@TIME 1710621304 time              1710621302
date     2024-03-16 21:35:02
time2             1710621302
x                        155
y                        177
Name: 190, dtype: object 1710621302 dif: 3 xy: 155 177 (2, 2)
@TIME 1710621304 time              1710621303
date     2024-03-16 21:35:03
time2             1710621303
x                        155
y                        175
Name: 191, dtype: object 1710621303 dif: 2 xy: 155 175 (2, 2)
1710621305 19798
1710621305 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
191  1710621303  2024-03-16 21:35:03  1710621303  155  175
192  1710621305  2024-03-16 21:35:05  1710621305  159  167
@TIME 1710621305 time              1710621303
date     2024-03-16 21:35:03
time2             1710621303
x                        155
y                        175
Name: 191, dtype: object 1710621303 dif: 3 xy: 155 175 (2, 2)
@TIME 1710621305 time              1710621305
date     2024-03-16 21:35:05
time2             1710621305
x                        159
y                        167
Name: 192, dtype: object 1710621305 dif: 1 xy: 159 167 (2, 2)
1710621306 19798
1710621306 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
192  1710621305  2024-03-16 21:35:05  1710621305  159  167
193  1710621306  2024-03-16 21:35:06  1710621306  159  170
@TIME 1710621306 time              1710621305
date     2024-03-16 21:35:05
time2             1710621305
x                        159
y                        167
Name: 192, dtype: object 1710621305 dif: 2 xy: 159 167 (2, 2)
@TIME 1710621306 time              1710621306
date     2024-03-16 21:35:06
time2             1710621306
x                        159
y                        170
Name: 193, dtype: object 1710621306 dif: 1 xy: 159 170 (2, 2)
1710621307 19798
1710621307 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
192  1710621305  2024-03-16 21:35:05  1710621305  159  167
193  1710621306  2024-03-16 21:35:06  1710621306  159  170
194  1710621307  2024-03-16 21:35:07  1710621307  159  170
@TIME 1710621307 time              1710621305
date     2024-03-16 21:35:05
time2             1710621305
x                        159
y                        167
Name: 192, dtype: object 1710621305 dif: 3 xy: 159 167 (2, 2)
@TIME 1710621307 time              1710621306
date     2024-03-16 21:35:06
time2             1710621306
x                        159
y                        170
Name: 193, dtype: object 1710621306 dif: 2 xy: 159 170 (2, 2)
@TIME 1710621307 time              1710621307
date     2024-03-16 21:35:07
time2             1710621307
x                        159
y                        170
Name: 194, dtype: object 1710621307 dif: 1 xy: 159 170 (2, 2)
1710621308 19798
1710621308 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
193  1710621306  2024-03-16 21:35:06  1710621306  159  170
194  1710621307  2024-03-16 21:35:07  1710621307  159  170
195  1710621308  2024-03-16 21:35:08  1710621308  159  170
@TIME 1710621308 time              1710621306
date     2024-03-16 21:35:06
time2             1710621306
x                        159
y                        170
Name: 193, dtype: object 1710621306 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621308 time              1710621307
date     2024-03-16 21:35:07
time2             1710621307
x                        159
y                        170
Name: 194, dtype: object 1710621307 dif: 2 xy: 159 170 (2, 2)
@TIME 1710621308 time              1710621308
date     2024-03-16 21:35:08
time2             1710621308
x                        159
y                        170
Name: 195, dtype: object 1710621308 dif: 1 xy: 159 170 (2, 2)
1710621309 19798
1710621309 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
194  1710621307  2024-03-16 21:35:07  1710621307  159  170
195  1710621308  2024-03-16 21:35:08  1710621308  159  170
196  1710621309  2024-03-16 21:35:09  1710621309  159  170
@TIME 1710621309 time              1710621307
date     2024-03-16 21:35:07
time2             1710621307
x                        159
y                        170
Name: 194, dtype: object 1710621307 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621309 time              1710621308
date     2024-03-16 21:35:08
time2             1710621308
x                        159
y                        170
Name: 195, dtype: object 1710621308 dif: 2 xy: 159 170 (2, 2)
@TIME 1710621309 time              1710621309
date     2024-03-16 21:35:09
time2             1710621309
x                        159
y                        170
Name: 196, dtype: object 1710621309 dif: 1 xy: 159 170 (2, 2)
1710621310 19798
1710621310 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
195  1710621308  2024-03-16 21:35:08  1710621308  159  170
196  1710621309  2024-03-16 21:35:09  1710621309  159  170
@TIME 1710621310 time              1710621308
date     2024-03-16 21:35:08
time2             1710621308
x                        159
y                        170
Name: 195, dtype: object 1710621308 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621310 time              1710621309
date     2024-03-16 21:35:09
time2             1710621309
x                        159
y                        170
Name: 196, dtype: object 1710621309 dif: 2 xy: 159 170 (2, 2)
1710621311 19798
1710621311 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
196  1710621309  2024-03-16 21:35:09  1710621309  159  170
197  1710621311  2024-03-16 21:35:11  1710621311  159  170
@TIME 1710621311 time              1710621309
date     2024-03-16 21:35:09
time2             1710621309
x                        159
y                        170
Name: 196, dtype: object 1710621309 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621311 time              1710621311
date     2024-03-16 21:35:11
time2             1710621311
x                        159
y                        170
Name: 197, dtype: object 1710621311 dif: 1 xy: 159 170 (2, 2)
1710621312 19798
1710621312 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
197  1710621311  2024-03-16 21:35:11  1710621311  159  170
198  1710621312  2024-03-16 21:35:12  1710621312  159  170
@TIME 1710621312 time              1710621311
date     2024-03-16 21:35:11
time2             1710621311
x                        159
y                        170
Name: 197, dtype: object 1710621311 dif: 2 xy: 159 170 (2, 2)
@TIME 1710621312 time              1710621312
date     2024-03-16 21:35:12
time2             1710621312
x                        159
y                        170
Name: 198, dtype: object 1710621312 dif: 1 xy: 159 170 (2, 2)
1710621313 19798
1710621313 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
197  1710621311  2024-03-16 21:35:11  1710621311  159  170
198  1710621312  2024-03-16 21:35:12  1710621312  159  170
199  1710621313  2024-03-16 21:35:13  1710621313  161  171
@TIME 1710621313 time              1710621311
date     2024-03-16 21:35:11
time2             1710621311
x                        159
y                        170
Name: 197, dtype: object 1710621311 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621313 time              1710621312
date     2024-03-16 21:35:12
time2             1710621312
x                        159
y                        170
Name: 198, dtype: object 1710621312 dif: 2 xy: 159 170 (2, 2)
@TIME 1710621313 time              1710621313
date     2024-03-16 21:35:13
time2             1710621313
x                        161
y                        171
Name: 199, dtype: object 1710621313 dif: 1 xy: 161 171 (2, 2)
1710621314 19798
1710621314 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
198  1710621312  2024-03-16 21:35:12  1710621312  159  170
199  1710621313  2024-03-16 21:35:13  1710621313  161  171
@TIME 1710621314 time              1710621312
date     2024-03-16 21:35:12
time2             1710621312
x                        159
y                        170
Name: 198, dtype: object 1710621312 dif: 3 xy: 159 170 (2, 2)
@TIME 1710621314 time              1710621313
date     2024-03-16 21:35:13
time2             1710621313
x                        161
y                        171
Name: 199, dtype: object 1710621313 dif: 2 xy: 161 171 (2, 2)
1710621315 19798
1710621315 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
199  1710621313  2024-03-16 21:35:13  1710621313  161  171
200  1710621315  2024-03-16 21:35:15  1710621315  161  171
@TIME 1710621315 time              1710621313
date     2024-03-16 21:35:13
time2             1710621313
x                        161
y                        171
Name: 199, dtype: object 1710621313 dif: 3 xy: 161 171 (2, 2)
@TIME 1710621315 time              1710621315
date     2024-03-16 21:35:15
time2             1710621315
x                        161
y                        171
Name: 200, dtype: object 1710621315 dif: 1 xy: 161 171 (2, 2)
1710621316 19798
1710621316 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
200  1710621315  2024-03-16 21:35:15  1710621315  161  171
201  1710621316  2024-03-16 21:35:16  1710621316  161  171
@TIME 1710621316 time              1710621315
date     2024-03-16 21:35:15
time2             1710621315
x                        161
y                        171
Name: 200, dtype: object 1710621315 dif: 2 xy: 161 171 (2, 2)
@TIME 1710621316 time              1710621316
date     2024-03-16 21:35:16
time2             1710621316
x                        161
y                        171
Name: 201, dtype: object 1710621316 dif: 1 xy: 161 171 (2, 2)
1710621317 19798
1710621317 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
200  1710621315  2024-03-16 21:35:15  1710621315  161  171
201  1710621316  2024-03-16 21:35:16  1710621316  161  171
202  1710621317  2024-03-16 21:35:17  1710621317  154  167
@TIME 1710621317 time              1710621315
date     2024-03-16 21:35:15
time2             1710621315
x                        161
y                        171
Name: 200, dtype: object 1710621315 dif: 3 xy: 161 171 (2, 2)
@TIME 1710621317 time              1710621316
date     2024-03-16 21:35:16
time2             1710621316
x                        161
y                        171
Name: 201, dtype: object 1710621316 dif: 2 xy: 161 171 (2, 2)
@TIME 1710621317 time              1710621317
date     2024-03-16 21:35:17
time2             1710621317
x                        154
y                        167
Name: 202, dtype: object 1710621317 dif: 1 xy: 154 167 (2, 2)
1710621318 19798
1710621318 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
201  1710621316  2024-03-16 21:35:16  1710621316  161  171
202  1710621317  2024-03-16 21:35:17  1710621317  154  167
203  1710621318  2024-03-16 21:35:18  1710621318  159  167
@TIME 1710621318 time              1710621316
date     2024-03-16 21:35:16
time2             1710621316
x                        161
y                        171
Name: 201, dtype: object 1710621316 dif: 3 xy: 161 171 (2, 2)
@TIME 1710621318 time              1710621317
date     2024-03-16 21:35:17
time2             1710621317
x                        154
y                        167
Name: 202, dtype: object 1710621317 dif: 2 xy: 154 167 (2, 2)
@TIME 1710621318 time              1710621318
date     2024-03-16 21:35:18
time2             1710621318
x                        159
y                        167
Name: 203, dtype: object 1710621318 dif: 1 xy: 159 167 (2, 2)
1710621319 19798
1710621319 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
202  1710621317  2024-03-16 21:35:17  1710621317  154  167
203  1710621318  2024-03-16 21:35:18  1710621318  159  167
204  1710621319  2024-03-16 21:35:19  1710621319  166  175
@TIME 1710621319 time              1710621317
date     2024-03-16 21:35:17
time2             1710621317
x                        154
y                        167
Name: 202, dtype: object 1710621317 dif: 3 xy: 154 167 (2, 2)
@TIME 1710621319 time              1710621318
date     2024-03-16 21:35:18
time2             1710621318
x                        159
y                        167
Name: 203, dtype: object 1710621318 dif: 2 xy: 159 167 (2, 2)
@TIME 1710621319 time              1710621319
date     2024-03-16 21:35:19
time2             1710621319
x                        166
y                        175
Name: 204, dtype: object 1710621319 dif: 1 xy: 166 175 (2, 2)
1710621320 19798
1710621320 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
203  1710621318  2024-03-16 21:35:18  1710621318  159  167
204  1710621319  2024-03-16 21:35:19  1710621319  166  175
205  1710621320  2024-03-16 21:35:20  1710621320  158  168
@TIME 1710621320 time              1710621318
date     2024-03-16 21:35:18
time2             1710621318
x                        159
y                        167
Name: 203, dtype: object 1710621318 dif: 3 xy: 159 167 (2, 2)
@TIME 1710621320 time              1710621319
date     2024-03-16 21:35:19
time2             1710621319
x                        166
y                        175
Name: 204, dtype: object 1710621319 dif: 2 xy: 166 175 (2, 2)
@TIME 1710621320 time              1710621320
date     2024-03-16 21:35:20
time2             1710621320
x                        158
y                        168
Name: 205, dtype: object 1710621320 dif: 1 xy: 158 168 (2, 2)
1710621321 19798
1710621321 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
204  1710621319  2024-03-16 21:35:19  1710621319  166  175
205  1710621320  2024-03-16 21:35:20  1710621320  158  168
206  1710621321  2024-03-16 21:35:21  1710621321  162  168
@TIME 1710621321 time              1710621319
date     2024-03-16 21:35:19
time2             1710621319
x                        166
y                        175
Name: 204, dtype: object 1710621319 dif: 3 xy: 166 175 (2, 2)
@TIME 1710621321 time              1710621320
date     2024-03-16 21:35:20
time2             1710621320
x                        158
y                        168
Name: 205, dtype: object 1710621320 dif: 2 xy: 158 168 (2, 2)
@TIME 1710621321 time              1710621321
date     2024-03-16 21:35:21
time2             1710621321
x                        162
y                        168
Name: 206, dtype: object 1710621321 dif: 1 xy: 162 168 (2, 2)
1710621322 19798
1710621322 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
205  1710621320  2024-03-16 21:35:20  1710621320  158  168
206  1710621321  2024-03-16 21:35:21  1710621321  162  168
207  1710621322  2024-03-16 21:35:22  1710621322  160  167
@TIME 1710621322 time              1710621320
date     2024-03-16 21:35:20
time2             1710621320
x                        158
y                        168
Name: 205, dtype: object 1710621320 dif: 3 xy: 158 168 (2, 2)
@TIME 1710621322 time              1710621321
date     2024-03-16 21:35:21
time2             1710621321
x                        162
y                        168
Name: 206, dtype: object 1710621321 dif: 2 xy: 162 168 (2, 2)
@TIME 1710621322 time              1710621322
date     2024-03-16 21:35:22
time2             1710621322
x                        160
y                        167
Name: 207, dtype: object 1710621322 dif: 1 xy: 160 167 (2, 2)
1710621323 19798
1710621323 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
206  1710621321  2024-03-16 21:35:21  1710621321  162  168
207  1710621322  2024-03-16 21:35:22  1710621322  160  167
208  1710621323  2024-03-16 21:35:23  1710621323  160  167
@TIME 1710621323 time              1710621321
date     2024-03-16 21:35:21
time2             1710621321
x                        162
y                        168
Name: 206, dtype: object 1710621321 dif: 3 xy: 162 168 (2, 2)
@TIME 1710621323 time              1710621322
date     2024-03-16 21:35:22
time2             1710621322
x                        160
y                        167
Name: 207, dtype: object 1710621322 dif: 2 xy: 160 167 (2, 2)
@TIME 1710621323 time              1710621323
date     2024-03-16 21:35:23
time2             1710621323
x                        160
y                        167
Name: 208, dtype: object 1710621323 dif: 1 xy: 160 167 (2, 2)
1710621324 19798
1710621324 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
207  1710621322  2024-03-16 21:35:22  1710621322  160  167
208  1710621323  2024-03-16 21:35:23  1710621323  160  167
209  1710621324  2024-03-16 21:35:24  1710621324  155  167
@TIME 1710621324 time              1710621322
date     2024-03-16 21:35:22
time2             1710621322
x                        160
y                        167
Name: 207, dtype: object 1710621322 dif: 3 xy: 160 167 (2, 2)
@TIME 1710621324 time              1710621323
date     2024-03-16 21:35:23
time2             1710621323
x                        160
y                        167
Name: 208, dtype: object 1710621323 dif: 2 xy: 160 167 (2, 2)
@TIME 1710621324 time              1710621324
date     2024-03-16 21:35:24
time2             1710621324
x                        155
y                        167
Name: 209, dtype: object 1710621324 dif: 1 xy: 155 167 (2, 2)
1710621325 19798
1710621325 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
208  1710621323  2024-03-16 21:35:23  1710621323  160  167
209  1710621324  2024-03-16 21:35:24  1710621324  155  167
210  1710621325  2024-03-16 21:35:25  1710621325  166  165
211  1710621325  2024-03-16 21:35:25  1710621325  158  160
@TIME 1710621325 time              1710621323
date     2024-03-16 21:35:23
time2             1710621323
x                        160
y                        167
Name: 208, dtype: object 1710621323 dif: 3 xy: 160 167 (2, 2)
@TIME 1710621325 time              1710621324
date     2024-03-16 21:35:24
time2             1710621324
x                        155
y                        167
Name: 209, dtype: object 1710621324 dif: 2 xy: 155 167 (2, 2)
@TIME 1710621325 time              1710621325
date     2024-03-16 21:35:25
time2             1710621325
x                        166
y                        165
Name: 210, dtype: object 1710621325 dif: 1 xy: 166 165 (2, 2)
@TIME 1710621325 time              1710621325
date     2024-03-16 21:35:25
time2             1710621325
x                        158
y                        160
Name: 211, dtype: object 1710621325 dif: 1 xy: 158 160 (2, 2)
1710621326 19798
1710621326 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
209  1710621324  2024-03-16 21:35:24  1710621324  155  167
210  1710621325  2024-03-16 21:35:25  1710621325  166  165
211  1710621325  2024-03-16 21:35:25  1710621325  158  160
212  1710621326  2024-03-16 21:35:26  1710621326  158  160
@TIME 1710621326 time              1710621324
date     2024-03-16 21:35:24
time2             1710621324
x                        155
y                        167
Name: 209, dtype: object 1710621324 dif: 3 xy: 155 167 (2, 2)
@TIME 1710621326 time              1710621325
date     2024-03-16 21:35:25
time2             1710621325
x                        166
y                        165
Name: 210, dtype: object 1710621325 dif: 2 xy: 166 165 (2, 2)

1710621356 19798
1710621356 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
225  1710621354  2024-03-16 21:35:54  1710621354  164  164
226  1710621355  2024-03-16 21:35:55  1710621355  161  163
@TIME 1710621356 time              1710621354
date     2024-03-16 21:35:54
time2             1710621354
x                        164
y                        164
Name: 225, dtype: object 1710621354 dif: 3 xy: 164 164 (2, 2)
@TIME 1710621356 time              1710621355
date     2024-03-16 21:35:55
time2             1710621355
x                        161
y                        163
Name: 226, dtype: object 1710621355 dif: 2 xy: 161 163 (2, 2)
1710621357 19798
1710621357 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
226  1710621355  2024-03-16 21:35:55  1710621355  161  163
@TIME 1710621357 time              1710621355
date     2024-03-16 21:35:55
time2             1710621355
x                        161
y                        163
Name: 226, dtype: object 1710621355 dif: 3 xy: 161 163 (2, 2)
1710621358 19798
1710621358 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
227  1710621358  2024-03-16 21:35:58  1710621358  161  163
@TIME 1710621358 time              1710621358
date     2024-03-16 21:35:58
time2             1710621358
x                        161
y                        163
Name: 227, dtype: object 1710621358 dif: 1 xy: 161 163 (2, 2)
1710621359 19798
1710621359 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
227  1710621358  2024-03-16 21:35:58  1710621358  161  163
228  1710621359  2024-03-16 21:35:59  1710621359  158  163
@TIME 1710621359 time              1710621358
date     2024-03-16 21:35:58
time2             1710621358
x                        161
y                        163
Name: 227, dtype: object 1710621358 dif: 2 xy: 161 163 (2, 2)
@TIME 1710621359 time              1710621359
date     2024-03-16 21:35:59
time2             1710621359
x                        158
y                        163
Name: 228, dtype: object 1710621359 dif: 1 xy: 158 163 (2, 2)
1710621360 19798
1710621360 1710621088 1710621359
Scene Scene1
DF            time                 date       time2    x    y
227  1710621358  2024-03-16 21:35:58  1710621358  161  163
228  1710621359  2024-03-16 21:35:59  1710621359  158  163
@TIME 1710621360 time              1710621358
date     2024-03-16 21:35:58
time2             1710621358
x                        161
y                        163
Name: 227, dtype: object 1710621358 dif: 3 xy: 161 163 (2, 2)
@TIME 1710621360 time              1710621359
date     2024-03-16 21:35:59
time2             1710621359
x                        158
y                        163
Name: 228, dtype: object 1710621359 dif: 2 xy: 158 163 (2, 2)
1710621361 19798
1710621361 1710621088 1710621359
1710621361 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
228  1710621359  2024-03-16 21:35:59  1710621359  158  163
@TIME 1710621361 time              1710621359
date     2024-03-16 21:35:59
time2             1710621359
x                        158
y                        163
Name: 228, dtype: object 1710621359 dif: 3 xy: 158 163 (2, 2)
1710621362 19798
1710621362 1710621088 1710621359
1710621362 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
229  1710621362  2024-03-16 21:36:02  1710621362  158  163
@TIME 1710621362 time              1710621362
date     2024-03-16 21:36:02
time2             1710621362
x                        158
y                        163
Name: 229, dtype: object 1710621362 dif: 1 xy: 158 163 (2, 2)
1710621363 19798
1710621363 1710621088 1710621359
1710621363 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
229  1710621362  2024-03-16 21:36:02  1710621362  158  163
@TIME 1710621363 time              1710621362
date     2024-03-16 21:36:02
time2             1710621362
x                        158
y                        163
Name: 229, dtype: object 1710621362 dif: 2 xy: 158 163 (2, 2)
1710621364 19798
1710621364 1710621088 1710621359
1710621364 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
229  1710621362  2024-03-16 21:36:02  1710621362  158  163
230  1710621364  2024-03-16 21:36:04  1710621364  158  163
231  1710621364  2024-03-16 21:36:04  1710621364  158  163
@TIME 1710621364 time              1710621362
date     2024-03-16 21:36:02
time2             1710621362
x                        158
y                        163
Name: 229, dtype: object 1710621362 dif: 3 xy: 158 163 (2, 2)
@TIME 1710621364 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 230, dtype: object 1710621364 dif: 1 xy: 158 163 (2, 2)
@TIME 1710621364 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 231, dtype: object 1710621364 dif: 1 xy: 158 163 (2, 2)
1710621365 19798
1710621365 1710621088 1710621359
1710621365 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
230  1710621364  2024-03-16 21:36:04  1710621364  158  163
231  1710621364  2024-03-16 21:36:04  1710621364  158  163
@TIME 1710621365 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 230, dtype: object 1710621364 dif: 2 xy: 158 163 (2, 2)
@TIME 1710621365 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 231, dtype: object 1710621364 dif: 2 xy: 158 163 (2, 2)
1710621366 19798
1710621366 1710621088 1710621359
1710621366 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
230  1710621364  2024-03-16 21:36:04  1710621364  158  163
231  1710621364  2024-03-16 21:36:04  1710621364  158  163
232  1710621366  2024-03-16 21:36:06  1710621366  158  163
@TIME 1710621366 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 230, dtype: object 1710621364 dif: 3 xy: 158 163 (2, 2)
@TIME 1710621366 time              1710621364
date     2024-03-16 21:36:04
time2             1710621364
x                        158
y                        163
Name: 231, dtype: object 1710621364 dif: 3 xy: 158 163 (2, 2)
@TIME 1710621366 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 1 xy: 158 163 (2, 2)
1710621367 19798
1710621367 1710621088 1710621359
1710621367 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
232  1710621366  2024-03-16 21:36:06  1710621366  158  163
@TIME 1710621367 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 2 xy: 158 163 (2, 2)
1710621368 19798
1710621368 1710621088 1710621359
1710621368 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
232  1710621366  2024-03-16 21:36:06  1710621366  158  163
@TIME 1710621368 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 3 xy: 158 163 (2, 2)
1710621369 19798
1710621369 1710621088 1710621359
1710621369 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621369 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 4 xy: 158 163 (2, 2)
1710621370 19798
1710621370 1710621088 1710621359
1710621370 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621370 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 5 xy: 158 163 (2, 2)
1710621371 19798
1710621371 1710621088 1710621359
1710621371 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621371 time              1710621366
date     2024-03-16 21:36:06
time2             1710621366
x                        158
y                        163
Name: 232, dtype: object 1710621366 dif: 6 xy: 158 163 (2, 2)
1710621372 19798
1710621372 1710621088 1710621359
1710621372 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
233  1710621372  2024-03-16 21:36:12  1710621372  185  164
234  1710621372  2024-03-16 21:36:12  1710621372  225  163
@TIME 1710621372 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        185
y                        164
Name: 233, dtype: object 1710621372 dif: 1 xy: 185 164 (2, 2)
@TIME 1710621372 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        225
y                        163
Name: 234, dtype: object 1710621372 dif: 1 xy: 225 163 (2, 2)
1710621373 19798
1710621373 1710621088 1710621359
1710621373 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
233  1710621372  2024-03-16 21:36:12  1710621372  185  164
234  1710621372  2024-03-16 21:36:12  1710621372  225  163
@TIME 1710621373 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        185
y                        164
Name: 233, dtype: object 1710621372 dif: 2 xy: 185 164 (2, 2)
@TIME 1710621373 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        225
y                        163
Name: 234, dtype: object 1710621372 dif: 2 xy: 225 163 (2, 2)
1710621374 19798
1710621374 1710621088 1710621359
1710621374 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
233  1710621372  2024-03-16 21:36:12  1710621372  185  164
234  1710621372  2024-03-16 21:36:12  1710621372  225  163
235  1710621374  2024-03-16 21:36:14  1710621374  232  174
236  1710621374  2024-03-16 21:36:14  1710621374  241  223
@TIME 1710621374 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        185
y                        164
Name: 233, dtype: object 1710621372 dif: 3 xy: 185 164 (2, 2)
@TIME 1710621374 time              1710621372
date     2024-03-16 21:36:12
time2             1710621372
x                        225
y                        163
Name: 234, dtype: object 1710621372 dif: 3 xy: 225 163 (2, 2)
@TIME 1710621374 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        232
y                        174
Name: 235, dtype: object 1710621374 dif: 1 xy: 232 174 (2, 3)
@TIME 1710621374 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        241
y                        223
Name: 236, dtype: object 1710621374 dif: 1 xy: 241 223 (2, 3)
1710621375 19798
1710621375 1710621088 1710621359
1710621375 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
235  1710621374  2024-03-16 21:36:14  1710621374  232  174
236  1710621374  2024-03-16 21:36:14  1710621374  241  223
@TIME 1710621375 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        232
y                        174
Name: 235, dtype: object 1710621374 dif: 2 xy: 232 174 (2, 3)
@TIME 1710621375 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        241
y                        223
Name: 236, dtype: object 1710621374 dif: 2 xy: 241 223 (2, 3)
1710621376 19798
1710621376 1710621088 1710621359
1710621376 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
235  1710621374  2024-03-16 21:36:14  1710621374  232  174
236  1710621374  2024-03-16 21:36:14  1710621374  241  223
237  1710621376  2024-03-16 21:36:16  1710621376  239  226
238  1710621376  2024-03-16 21:36:16  1710621376  230  226
@TIME 1710621376 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        232
y                        174
Name: 235, dtype: object 1710621374 dif: 3 xy: 232 174 (2, 3)
@TIME 1710621376 time              1710621374
date     2024-03-16 21:36:14
time2             1710621374
x                        241
y                        223
Name: 236, dtype: object 1710621374 dif: 3 xy: 241 223 (2, 3)
@TIME 1710621376 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        226
Name: 237, dtype: object 1710621376 dif: 1 xy: 239 226 (2, 3)
@TIME 1710621376 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        230
y                        226
Name: 238, dtype: object 1710621376 dif: 1 xy: 230 226 (2, 2)
1710621377 19798
1710621377 1710621088 1710621359
1710621377 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
237  1710621376  2024-03-16 21:36:16  1710621376  239  226
238  1710621376  2024-03-16 21:36:16  1710621376  230  226
@TIME 1710621377 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        226
Name: 237, dtype: object 1710621376 dif: 2 xy: 239 226 (2, 3)
@TIME 1710621377 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        230
y                        226
Name: 238, dtype: object 1710621376 dif: 2 xy: 230 226 (2, 2)
1710621378 19798
1710621378 1710621088 1710621359
1710621378 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
237  1710621376  2024-03-16 21:36:16  1710621376  239  226
238  1710621376  2024-03-16 21:36:16  1710621376  230  226
239  1710621378  2024-03-16 21:36:18  1710621378  230  223
@TIME 1710621378 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        239
y                        226
Name: 237, dtype: object 1710621376 dif: 3 xy: 239 226 (2, 3)
@TIME 1710621378 time              1710621376
date     2024-03-16 21:36:16
time2             1710621376
x                        230
y                        226
Name: 238, dtype: object 1710621376 dif: 3 xy: 230 226 (2, 2)
@TIME 1710621378 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        230
y                        223
Name: 239, dtype: object 1710621378 dif: 1 xy: 230 223 (2, 2)
1710621379 19798
1710621379 1710621088 1710621359
1710621379 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
239  1710621378  2024-03-16 21:36:18  1710621378  230  223
240  1710621379  2024-03-16 21:36:19  1710621379  266  223
@TIME 1710621379 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        230
y                        223
Name: 239, dtype: object 1710621378 dif: 2 xy: 230 223 (2, 2)
@TIME 1710621379 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        266
y                        223
Name: 240, dtype: object 1710621379 dif: 1 xy: 266 223 (2, 3)
1710621380 19798
1710621380 1710621088 1710621359
1710621380 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
239  1710621378  2024-03-16 21:36:18  1710621378  230  223
240  1710621379  2024-03-16 21:36:19  1710621379  266  223
241  1710621380  2024-03-16 21:36:20  1710621380  298  218
242  1710621380  2024-03-16 21:36:20  1710621380  324  212
@TIME 1710621380 time              1710621378
date     2024-03-16 21:36:18
time2             1710621378
x                        230
y                        223
Name: 239, dtype: object 1710621378 dif: 3 xy: 230 223 (2, 2)
@TIME 1710621380 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        266
y                        223
Name: 240, dtype: object 1710621379 dif: 2 xy: 266 223 (2, 3)
@TIME 1710621380 time              1710621380
date     2024-03-16 21:36:20
time2             1710621380
x                        298
y                        218
Name: 241, dtype: object 1710621380 dif: 1 xy: 298 218 (2, 3)
@TIME 1710621380 time              1710621380
date     2024-03-16 21:36:20
time2             1710621380
x                        324
y                        212
Name: 242, dtype: object 1710621380 dif: 1 xy: 324 212 (2, 4)
1710621381 19798
1710621381 1710621088 1710621359
1710621381 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
240  1710621379  2024-03-16 21:36:19  1710621379  266  223
241  1710621380  2024-03-16 21:36:20  1710621380  298  218
242  1710621380  2024-03-16 21:36:20  1710621380  324  212
243  1710621381  2024-03-16 21:36:21  1710621381  326  212
244  1710621381  2024-03-16 21:36:21  1710621381  356  212
@TIME 1710621381 time              1710621379
date     2024-03-16 21:36:19
time2             1710621379
x                        266
y                        223
Name: 240, dtype: object 1710621379 dif: 3 xy: 266 223 (2, 3)
@TIME 1710621381 time              1710621380
date     2024-03-16 21:36:20
time2             1710621380
x                        298
y                        218
Name: 241, dtype: object 1710621380 dif: 2 xy: 298 218 (2, 3)
@TIME 1710621381 time              1710621380
date     2024-03-16 21:36:20
time2             1710621380
x                        324
y                        212
Name: 242, dtype: object 1710621380 dif: 2 xy: 324 212 (2, 4)
@TIME 1710621381 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        326
y                        212
Name: 243, dtype: object 1710621381 dif: 1 xy: 326 212 (2, 4)
@TIME 1710621381 time              1710621381
date     2024-03-16 21:36:21
time2             1710621381
x                        356
y                        212
Name: 244, dtype: object 1710621381 dif: 1 xy: 356 212 (2, 4)
1710621382 19798
1710621382 1710621088 1710621359
1710621382 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
241  1710621380  2024-03-16 21:36:20  1710621380  298  218
242  1710621380  2024-03-16 21:36:20  1710621380  324  212
243  1710621381  2024-03-16 21:36:21  1710621381  326  212
244  1710621381  2024-03-16 21:36:21  1710621381  356  212
@TIME 1710621382 time              1710621380
date     2024-03-16 21:36:20
time2             1710621380
x                        298
y                        218
Name: 241, dtype: object 1710621380 dif: 3 xy: 298 218 (2, 3)

1710621400 19798
1710621400 1710621088 1710621359
1710621400 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
256  1710621398  2024-03-16 21:36:38  1710621398  349  180
257  1710621399  2024-03-16 21:36:39  1710621399  352  171
258  1710621399  2024-03-16 21:36:39  1710621399  352  171
259  1710621400  2024-03-16 21:36:40  1710621400  352  171
@TIME 1710621400 time              1710621398
date     2024-03-16 21:36:38
time2             1710621398
x                        349
y                        180
Name: 256, dtype: object 1710621398 dif: 3 xy: 349 180 (2, 4)
@TIME 1710621400 time              1710621399
date     2024-03-16 21:36:39
time2             1710621399
x                        352
y                        171
Name: 257, dtype: object 1710621399 dif: 2 xy: 352 171 (2, 4)
@TIME 1710621400 time              1710621399
date     2024-03-16 21:36:39
time2             1710621399
x                        352
y                        171
Name: 258, dtype: object 1710621399 dif: 2 xy: 352 171 (2, 4)
@TIME 1710621400 time              1710621400
date     2024-03-16 21:36:40
time2             1710621400
x                        352
y                        171
Name: 259, dtype: object 1710621400 dif: 1 xy: 352 171 (2, 4)
1710621401 19798
1710621401 1710621088 1710621359
1710621401 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
257  1710621399  2024-03-16 21:36:39  1710621399  352  171
258  1710621399  2024-03-16 21:36:39  1710621399  352  171
259  1710621400  2024-03-16 21:36:40  1710621400  352  171
260  1710621401  2024-03-16 21:36:41  1710621401  355  160
@TIME 1710621401 time              1710621399
date     2024-03-16 21:36:39
time2             1710621399
x                        352
y                        171
Name: 257, dtype: object 1710621399 dif: 3 xy: 352 171 (2, 4)
@TIME 1710621401 time              1710621399
date     2024-03-16 21:36:39
time2             1710621399
x                        352
y                        171
Name: 258, dtype: object 1710621399 dif: 3 xy: 352 171 (2, 4)
@TIME 1710621401 time              1710621400
date     2024-03-16 21:36:40
time2             1710621400
x                        352
y                        171
Name: 259, dtype: object 1710621400 dif: 2 xy: 352 171 (2, 4)
@TIME 1710621401 time              1710621401
date     2024-03-16 21:36:41
time2             1710621401
x                        355
y                        160
Name: 260, dtype: object 1710621401 dif: 1 xy: 355 160 (2, 4)
1710621402 19798
1710621402 1710621088 1710621359
1710621402 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
259  1710621400  2024-03-16 21:36:40  1710621400  352  171
260  1710621401  2024-03-16 21:36:41  1710621401  355  160
261  1710621402  2024-03-16 21:36:42  1710621402  355  106
@TIME 1710621402 time              1710621400
date     2024-03-16 21:36:40
time2             1710621400
x                        352
y                        171
Name: 259, dtype: object 1710621400 dif: 3 xy: 352 171 (2, 4)
@TIME 1710621402 time              1710621401
date     2024-03-16 21:36:41
time2             1710621401
x                        355
y                        160
Name: 260, dtype: object 1710621401 dif: 2 xy: 355 160 (2, 4)
@TIME 1710621402 time              1710621402
date     2024-03-16 21:36:42
time2             1710621402
x                        355
y                        106
Name: 261, dtype: object 1710621402 dif: 1 xy: 355 106 (1, 4)
1710621403 19798
1710621403 1710621088 1710621359
1710621403 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
260  1710621401  2024-03-16 21:36:41  1710621401  355  160
261  1710621402  2024-03-16 21:36:42  1710621402  355  106
@TIME 1710621403 time              1710621401
date     2024-03-16 21:36:41
time2             1710621401
x                        355
y                        160
Name: 260, dtype: object 1710621401 dif: 3 xy: 355 160 (2, 4)
@TIME 1710621403 time              1710621402
date     2024-03-16 21:36:42
time2             1710621402
x                        355
y                        106
Name: 261, dtype: object 1710621402 dif: 2 xy: 355 106 (1, 4)
1710621404 19798
1710621404 1710621088 1710621359
1710621404 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
261  1710621402  2024-03-16 21:36:42  1710621402  355  106
262  1710621404  2024-03-16 21:36:44  1710621404  335   69
263  1710621404  2024-03-16 21:36:44  1710621404  338   78
@TIME 1710621404 time              1710621402
date     2024-03-16 21:36:42
time2             1710621402
x                        355
y                        106
Name: 261, dtype: object 1710621402 dif: 3 xy: 355 106 (1, 4)
@TIME 1710621404 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        335
y                         69
Name: 262, dtype: object 1710621404 dif: 1 xy: 335 69 (0, 4)
@TIME 1710621404 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        338
y                         78
Name: 263, dtype: object 1710621404 dif: 1 xy: 338 78 (1, 4)
1710621405 19798
1710621405 1710621088 1710621359
1710621405 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
262  1710621404  2024-03-16 21:36:44  1710621404  335  69
263  1710621404  2024-03-16 21:36:44  1710621404  338  78
264  1710621405  2024-03-16 21:36:45  1710621405  338  78
@TIME 1710621405 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        335
y                         69
Name: 262, dtype: object 1710621404 dif: 2 xy: 335 69 (0, 4)
@TIME 1710621405 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        338
y                         78
Name: 263, dtype: object 1710621404 dif: 2 xy: 338 78 (1, 4)
@TIME 1710621405 time              1710621405
date     2024-03-16 21:36:45
time2             1710621405
x                        338
y                         78
Name: 264, dtype: object 1710621405 dif: 1 xy: 338 78 (1, 4)
1710621406 19798
1710621406 1710621088 1710621359
1710621406 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
262  1710621404  2024-03-16 21:36:44  1710621404  335  69
263  1710621404  2024-03-16 21:36:44  1710621404  338  78
264  1710621405  2024-03-16 21:36:45  1710621405  338  78
265  1710621406  2024-03-16 21:36:46  1710621406  338  78
266  1710621406  2024-03-16 21:36:46  1710621406  338  78
@TIME 1710621406 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        335
y                         69
Name: 262, dtype: object 1710621404 dif: 3 xy: 335 69 (0, 4)
@TIME 1710621406 time              1710621404
date     2024-03-16 21:36:44
time2             1710621404
x                        338
y                         78
Name: 263, dtype: object 1710621404 dif: 3 xy: 338 78 (1, 4)
@TIME 1710621406 time              1710621405
date     2024-03-16 21:36:45
time2             1710621405
x                        338
y                         78
Name: 264, dtype: object 1710621405 dif: 2 xy: 338 78 (1, 4)
@TIME 1710621406 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 265, dtype: object 1710621406 dif: 1 xy: 338 78 (1, 4)
@TIME 1710621406 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 266, dtype: object 1710621406 dif: 1 xy: 338 78 (1, 4)
1710621407 19798
1710621407 1710621088 1710621359
1710621407 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
264  1710621405  2024-03-16 21:36:45  1710621405  338  78
265  1710621406  2024-03-16 21:36:46  1710621406  338  78
266  1710621406  2024-03-16 21:36:46  1710621406  338  78
267  1710621407  2024-03-16 21:36:47  1710621407  337  84
@TIME 1710621407 time              1710621405
date     2024-03-16 21:36:45
time2             1710621405
x                        338
y                         78
Name: 264, dtype: object 1710621405 dif: 3 xy: 338 78 (1, 4)
@TIME 1710621407 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 265, dtype: object 1710621406 dif: 2 xy: 338 78 (1, 4)
@TIME 1710621407 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 266, dtype: object 1710621406 dif: 2 xy: 338 78 (1, 4)
@TIME 1710621407 time              1710621407
date     2024-03-16 21:36:47
time2             1710621407
x                        337
y                         84
Name: 267, dtype: object 1710621407 dif: 1 xy: 337 84 (1, 4)
1710621408 19798
1710621408 1710621088 1710621359
1710621408 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
265  1710621406  2024-03-16 21:36:46  1710621406  338  78
266  1710621406  2024-03-16 21:36:46  1710621406  338  78
267  1710621407  2024-03-16 21:36:47  1710621407  337  84
268  1710621408  2024-03-16 21:36:48  1710621408  330  89
@TIME 1710621408 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 265, dtype: object 1710621406 dif: 3 xy: 338 78 (1, 4)
@TIME 1710621408 time              1710621406
date     2024-03-16 21:36:46
time2             1710621406
x                        338
y                         78
Name: 266, dtype: object 1710621406 dif: 3 xy: 338 78 (1, 4)
@TIME 1710621408 time              1710621407
date     2024-03-16 21:36:47
time2             1710621407
x                        337
y                         84
Name: 267, dtype: object 1710621407 dif: 2 xy: 337 84 (1, 4)
@TIME 1710621408 time              1710621408
date     2024-03-16 21:36:48
time2             1710621408
x                        330
y                         89
Name: 268, dtype: object 1710621408 dif: 1 xy: 330 89 (1, 4)
1710621409 19798
1710621409 1710621088 1710621359
1710621409 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
267  1710621407  2024-03-16 21:36:47  1710621407  337  84
268  1710621408  2024-03-16 21:36:48  1710621408  330  89
269  1710621409  2024-03-16 21:36:49  1710621409  330  89
@TIME 1710621409 time              1710621407
date     2024-03-16 21:36:47
time2             1710621407
x                        337
y                         84
Name: 267, dtype: object 1710621407 dif: 3 xy: 337 84 (1, 4)
@TIME 1710621409 time              1710621408
date     2024-03-16 21:36:48
time2             1710621408
x                        330
y                         89
Name: 268, dtype: object 1710621408 dif: 2 xy: 330 89 (1, 4)
@TIME 1710621409 time              1710621409
date     2024-03-16 21:36:49
time2             1710621409
x                        330
y                         89
Name: 269, dtype: object 1710621409 dif: 1 xy: 330 89 (1, 4)
1710621410 19798
1710621410 1710621088 1710621359
1710621410 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
268  1710621408  2024-03-16 21:36:48  1710621408  330  89
269  1710621409  2024-03-16 21:36:49  1710621409  330  89
270  1710621410  2024-03-16 21:36:50  1710621410  330  89
271  1710621410  2024-03-16 21:36:50  1710621410  330  89
@TIME 1710621410 time              1710621408
date     2024-03-16 21:36:48
time2             1710621408
x                        330
y                         89
Name: 268, dtype: object 1710621408 dif: 3 xy: 330 89 (1, 4)
@TIME 1710621410 time              1710621409
date     2024-03-16 21:36:49
time2             1710621409
x                        330
y                         89
Name: 269, dtype: object 1710621409 dif: 2 xy: 330 89 (1, 4)
@TIME 1710621410 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 270, dtype: object 1710621410 dif: 1 xy: 330 89 (1, 4)
@TIME 1710621410 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 271, dtype: object 1710621410 dif: 1 xy: 330 89 (1, 4)
1710621411 19798
1710621411 1710621088 1710621359
1710621411 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
269  1710621409  2024-03-16 21:36:49  1710621409  330  89
270  1710621410  2024-03-16 21:36:50  1710621410  330  89
271  1710621410  2024-03-16 21:36:50  1710621410  330  89
272  1710621411  2024-03-16 21:36:51  1710621411  330  89
@TIME 1710621411 time              1710621409
date     2024-03-16 21:36:49
time2             1710621409
x                        330
y                         89
Name: 269, dtype: object 1710621409 dif: 3 xy: 330 89 (1, 4)
@TIME 1710621411 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 270, dtype: object 1710621410 dif: 2 xy: 330 89 (1, 4)
@TIME 1710621411 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 271, dtype: object 1710621410 dif: 2 xy: 330 89 (1, 4)
@TIME 1710621411 time              1710621411
date     2024-03-16 21:36:51
time2             1710621411
x                        330
y                         89
Name: 272, dtype: object 1710621411 dif: 1 xy: 330 89 (1, 4)
1710621412 19798
1710621412 1710621088 1710621359
1710621412 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
270  1710621410  2024-03-16 21:36:50  1710621410  330  89
271  1710621410  2024-03-16 21:36:50  1710621410  330  89
272  1710621411  2024-03-16 21:36:51  1710621411  330  89
@TIME 1710621412 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 270, dtype: object 1710621410 dif: 3 xy: 330 89 (1, 4)
@TIME 1710621412 time              1710621410
date     2024-03-16 21:36:50
time2             1710621410
x                        330
y                         89
Name: 271, dtype: object 1710621410 dif: 3 xy: 330 89 (1, 4)
@TIME 1710621412 time              1710621411
date     2024-03-16 21:36:51
time2             1710621411
x                        330
y                         89
Name: 272, dtype: object 1710621411 dif: 2 xy: 330 89 (1, 4)
1710621413 19798
1710621413 1710621088 1710621359
1710621413 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
272  1710621411  2024-03-16 21:36:51  1710621411  330  89
@TIME 1710621413 time              1710621411
date     2024-03-16 21:36:51
time2             1710621411
x                        330
y                         89
Name: 272, dtype: object 1710621411 dif: 3 xy: 330 89 (1, 4)
1710621414 19798
1710621414 1710621088 1710621359
1710621414 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621414 time              1710621411
date     2024-03-16 21:36:51
time2             1710621411
x                        330
y                         89
Name: 272, dtype: object 1710621411 dif: 4 xy: 330 89 (1, 4)
1710621415 19798
1710621415 1710621088 1710621359
1710621415 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621415 time              1710621411
date     2024-03-16 21:36:51
time2             1710621411
x                        330
y                         89
Name: 272, dtype: object 1710621411 dif: 5 xy: 330 89 (1, 4)
1710621416 19798
1710621416 1710621088 1710621359
1710621416 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
273  1710621416  2024-03-16 21:36:56  1710621416  325  68
274  1710621416  2024-03-16 21:36:56  1710621416  334  69
@TIME 1710621416 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        325
y                         68
Name: 273, dtype: object 1710621416 dif: 1 xy: 325 68 (0, 4)
@TIME 1710621416 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        334
y                         69
Name: 274, dtype: object 1710621416 dif: 1 xy: 334 69 (0, 4)
1710621417 19798
1710621417 1710621088 1710621359
1710621417 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
273  1710621416  2024-03-16 21:36:56  1710621416  325  68
274  1710621416  2024-03-16 21:36:56  1710621416  334  69
275  1710621417  2024-03-16 21:36:57  1710621417  334  69
@TIME 1710621417 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        325
y                         68
Name: 273, dtype: object 1710621416 dif: 2 xy: 325 68 (0, 4)
@TIME 1710621417 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        334
y                         69
Name: 274, dtype: object 1710621416 dif: 2 xy: 334 69 (0, 4)
@TIME 1710621417 time              1710621417
date     2024-03-16 21:36:57
time2             1710621417
x                        334
y                         69
Name: 275, dtype: object 1710621417 dif: 1 xy: 334 69 (0, 4)
1710621418 19798
1710621418 1710621088 1710621359
1710621418 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
273  1710621416  2024-03-16 21:36:56  1710621416  325  68
274  1710621416  2024-03-16 21:36:56  1710621416  334  69
275  1710621417  2024-03-16 21:36:57  1710621417  334  69
276  1710621418  2024-03-16 21:36:58  1710621418  334  80
@TIME 1710621418 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        325
y                         68
Name: 273, dtype: object 1710621416 dif: 3 xy: 325 68 (0, 4)
@TIME 1710621418 time              1710621416
date     2024-03-16 21:36:56
time2             1710621416
x                        334
y                         69
Name: 274, dtype: object 1710621416 dif: 3 xy: 334 69 (0, 4)
@TIME 1710621418 time              1710621417
date     2024-03-16 21:36:57
time2             1710621417
x                        334
y                         69
Name: 275, dtype: object 1710621417 dif: 2 xy: 334 69 (0, 4)
@TIME 1710621418 time              1710621418
date     2024-03-16 21:36:58
time2             1710621418
x                        334
y                         80
Name: 276, dtype: object 1710621418 dif: 1 xy: 334 80 (1, 4)
1710621419 19798
1710621419 1710621088 1710621359
1710621419 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
275  1710621417  2024-03-16 21:36:57  1710621417  334  69
276  1710621418  2024-03-16 21:36:58  1710621418  334  80
277  1710621419  2024-03-16 21:36:59  1710621419  334  80
278  1710621419  2024-03-16 21:36:59  1710621419  334  80
@TIME 1710621419 time              1710621417
date     2024-03-16 21:36:57
time2             1710621417
x                        334
y                         69

1710621451 19798
1710621451 1710621088 1710621359
1710621451 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
305  1710621449  2024-03-16 21:37:29  1710621449  184  68
306  1710621450  2024-03-16 21:37:30  1710621450  170  74
@TIME 1710621451 time              1710621449
date     2024-03-16 21:37:29
time2             1710621449
x                        184
y                         68
Name: 305, dtype: object 1710621449 dif: 3 xy: 184 68 (0, 2)
@TIME 1710621451 time              1710621450
date     2024-03-16 21:37:30
time2             1710621450
x                        170
y                         74
Name: 306, dtype: object 1710621450 dif: 2 xy: 170 74 (0, 2)
1710621452 19798
1710621452 1710621088 1710621359
1710621452 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
306  1710621450  2024-03-16 21:37:30  1710621450  170  74
@TIME 1710621452 time              1710621450
date     2024-03-16 21:37:30
time2             1710621450
x                        170
y                         74
Name: 306, dtype: object 1710621450 dif: 3 xy: 170 74 (0, 2)
1710621453 19798
1710621453 1710621088 1710621359
1710621453 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
307  1710621453  2024-03-16 21:37:33  1710621453  189  76
@TIME 1710621453 time              1710621453
date     2024-03-16 21:37:33
time2             1710621453
x                        189
y                         76
Name: 307, dtype: object 1710621453 dif: 1 xy: 189 76 (0, 2)
1710621454 19798
1710621454 1710621088 1710621359
1710621454 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
307  1710621453  2024-03-16 21:37:33  1710621453  189  76
@TIME 1710621454 time              1710621453
date     2024-03-16 21:37:33
time2             1710621453
x                        189
y                         76
Name: 307, dtype: object 1710621453 dif: 2 xy: 189 76 (0, 2)
1710621455 19798
1710621455 1710621088 1710621359
1710621455 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
307  1710621453  2024-03-16 21:37:33  1710621453  189  76
@TIME 1710621455 time              1710621453
date     2024-03-16 21:37:33
time2             1710621453
x                        189
y                         76
Name: 307, dtype: object 1710621453 dif: 3 xy: 189 76 (0, 2)
1710621456 19798
1710621456 1710621088 1710621359
1710621456 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
308  1710621456  2024-03-16 21:37:36  1710621456  138  64
@TIME 1710621456 time              1710621456
date     2024-03-16 21:37:36
time2             1710621456
x                        138
y                         64
Name: 308, dtype: object 1710621456 dif: 1 xy: 138 64 (0, 1)
1710621457 19798
1710621457 1710621088 1710621359
1710621457 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
308  1710621456  2024-03-16 21:37:36  1710621456  138  64
309  1710621457  2024-03-16 21:37:37  1710621457  138  61
@TIME 1710621457 time              1710621456
date     2024-03-16 21:37:36
time2             1710621456
x                        138
y                         64
Name: 308, dtype: object 1710621456 dif: 2 xy: 138 64 (0, 1)
@TIME 1710621457 time              1710621457
date     2024-03-16 21:37:37
time2             1710621457
x                        138
y                         61
Name: 309, dtype: object 1710621457 dif: 1 xy: 138 61 (0, 1)
1710621458 19798
1710621458 1710621088 1710621359
1710621458 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
308  1710621456  2024-03-16 21:37:36  1710621456  138  64
309  1710621457  2024-03-16 21:37:37  1710621457  138  61
@TIME 1710621458 time              1710621456
date     2024-03-16 21:37:36
time2             1710621456
x                        138
y                         64
Name: 308, dtype: object 1710621456 dif: 3 xy: 138 64 (0, 1)
@TIME 1710621458 time              1710621457
date     2024-03-16 21:37:37
time2             1710621457
x                        138
y                         61
Name: 309, dtype: object 1710621457 dif: 2 xy: 138 61 (0, 1)
1710621459 19798
1710621459 1710621088 1710621359
1710621459 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x   y
309  1710621457  2024-03-16 21:37:37  1710621457  138  61
310  1710621459  2024-03-16 21:37:39  1710621459  136  69
@TIME 1710621459 time              1710621457
date     2024-03-16 21:37:37
time2             1710621457
x                        138
y                         61
Name: 309, dtype: object 1710621457 dif: 3 xy: 138 61 (0, 1)
@TIME 1710621459 time              1710621459
date     2024-03-16 21:37:39
time2             1710621459
x                        136
y                         69
Name: 310, dtype: object 1710621459 dif: 1 xy: 136 69 (0, 1)
1710621460 19798
1710621460 1710621088 1710621359
1710621460 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
310  1710621459  2024-03-16 21:37:39  1710621459  136   69
311  1710621460  2024-03-16 21:37:40  1710621460  119  107
@TIME 1710621460 time              1710621459
date     2024-03-16 21:37:39
time2             1710621459
x                        136
y                         69
Name: 310, dtype: object 1710621459 dif: 2 xy: 136 69 (0, 1)
@TIME 1710621460 time              1710621460
date     2024-03-16 21:37:40
time2             1710621460
x                        119
y                        107
Name: 311, dtype: object 1710621460 dif: 1 xy: 119 107 (1, 1)
1710621461 19798
1710621461 1710621088 1710621359
1710621461 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
310  1710621459  2024-03-16 21:37:39  1710621459  136   69
311  1710621460  2024-03-16 21:37:40  1710621460  119  107
312  1710621461  2024-03-16 21:37:41  1710621461  103  139
313  1710621461  2024-03-16 21:37:41  1710621461   80  161
@TIME 1710621461 time              1710621459
date     2024-03-16 21:37:39
time2             1710621459
x                        136
y                         69
Name: 310, dtype: object 1710621459 dif: 3 xy: 136 69 (0, 1)
@TIME 1710621461 time              1710621460
date     2024-03-16 21:37:40
time2             1710621460
x                        119
y                        107
Name: 311, dtype: object 1710621460 dif: 2 xy: 119 107 (1, 1)
@TIME 1710621461 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                        103
y                        139
Name: 312, dtype: object 1710621461 dif: 1 xy: 103 139 (1, 1)
@TIME 1710621461 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                         80
y                        161
Name: 313, dtype: object 1710621461 dif: 1 xy: 80 161 (2, 1)
1710621462 19798
1710621462 1710621088 1710621359
1710621462 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
311  1710621460  2024-03-16 21:37:40  1710621460  119  107
312  1710621461  2024-03-16 21:37:41  1710621461  103  139
313  1710621461  2024-03-16 21:37:41  1710621461   80  161
314  1710621462  2024-03-16 21:37:42  1710621462   80  161
315  1710621462  2024-03-16 21:37:42  1710621462   74  166
@TIME 1710621462 time              1710621460
date     2024-03-16 21:37:40
time2             1710621460
x                        119
y                        107
Name: 311, dtype: object 1710621460 dif: 3 xy: 119 107 (1, 1)
@TIME 1710621462 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                        103
y                        139
Name: 312, dtype: object 1710621461 dif: 2 xy: 103 139 (1, 1)
@TIME 1710621462 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                         80
y                        161
Name: 313, dtype: object 1710621461 dif: 2 xy: 80 161 (2, 1)
@TIME 1710621462 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         80
y                        161
Name: 314, dtype: object 1710621462 dif: 1 xy: 80 161 (2, 1)
@TIME 1710621462 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         74
y                        166
Name: 315, dtype: object 1710621462 dif: 1 xy: 74 166 (2, 0)
1710621463 19798
1710621463 1710621088 1710621359
1710621463 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
312  1710621461  2024-03-16 21:37:41  1710621461  103  139
313  1710621461  2024-03-16 21:37:41  1710621461   80  161
314  1710621462  2024-03-16 21:37:42  1710621462   80  161
315  1710621462  2024-03-16 21:37:42  1710621462   74  166
316  1710621463  2024-03-16 21:37:43  1710621463   74  166
@TIME 1710621463 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                        103
y                        139
Name: 312, dtype: object 1710621461 dif: 3 xy: 103 139 (1, 1)
@TIME 1710621463 time              1710621461
date     2024-03-16 21:37:41
time2             1710621461
x                         80
y                        161
Name: 313, dtype: object 1710621461 dif: 3 xy: 80 161 (2, 1)
@TIME 1710621463 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         80
y                        161
Name: 314, dtype: object 1710621462 dif: 2 xy: 80 161 (2, 1)
@TIME 1710621463 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         74
y                        166
Name: 315, dtype: object 1710621462 dif: 2 xy: 74 166 (2, 0)
@TIME 1710621463 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                         74
y                        166
Name: 316, dtype: object 1710621463 dif: 1 xy: 74 166 (2, 0)
1710621464 19798
1710621464 1710621088 1710621359
1710621464 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
314  1710621462  2024-03-16 21:37:42  1710621462  80  161
315  1710621462  2024-03-16 21:37:42  1710621462  74  166
316  1710621463  2024-03-16 21:37:43  1710621463  74  166
317  1710621464  2024-03-16 21:37:44  1710621464  61  168
@TIME 1710621464 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         80
y                        161
Name: 314, dtype: object 1710621462 dif: 3 xy: 80 161 (2, 1)
@TIME 1710621464 time              1710621462
date     2024-03-16 21:37:42
time2             1710621462
x                         74
y                        166
Name: 315, dtype: object 1710621462 dif: 3 xy: 74 166 (2, 0)
@TIME 1710621464 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                         74
y                        166
Name: 316, dtype: object 1710621463 dif: 2 xy: 74 166 (2, 0)
@TIME 1710621464 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                         61
y                        168
Name: 317, dtype: object 1710621464 dif: 1 xy: 61 168 (2, 0)
1710621465 19798
1710621465 1710621088 1710621359
1710621465 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
316  1710621463  2024-03-16 21:37:43  1710621463  74  166
317  1710621464  2024-03-16 21:37:44  1710621464  61  168
318  1710621465  2024-03-16 21:37:45  1710621465  66  165
@TIME 1710621465 time              1710621463
date     2024-03-16 21:37:43
time2             1710621463
x                         74
y                        166
Name: 316, dtype: object 1710621463 dif: 3 xy: 74 166 (2, 0)
@TIME 1710621465 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                         61
y                        168
Name: 317, dtype: object 1710621464 dif: 2 xy: 61 168 (2, 0)
@TIME 1710621465 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                         66
y                        165
Name: 318, dtype: object 1710621465 dif: 1 xy: 66 165 (2, 0)
1710621466 19798
1710621466 1710621088 1710621359
1710621466 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
317  1710621464  2024-03-16 21:37:44  1710621464  61  168
318  1710621465  2024-03-16 21:37:45  1710621465  66  165
@TIME 1710621466 time              1710621464
date     2024-03-16 21:37:44
time2             1710621464
x                         61
y                        168
Name: 317, dtype: object 1710621464 dif: 3 xy: 61 168 (2, 0)
@TIME 1710621466 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                         66
y                        165
Name: 318, dtype: object 1710621465 dif: 2 xy: 66 165 (2, 0)
1710621467 19798
1710621467 1710621088 1710621359
1710621467 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
318  1710621465  2024-03-16 21:37:45  1710621465  66  165
319  1710621467  2024-03-16 21:37:47  1710621467  58  195
@TIME 1710621467 time              1710621465
date     2024-03-16 21:37:45
time2             1710621465
x                         66
y                        165
Name: 318, dtype: object 1710621465 dif: 3 xy: 66 165 (2, 0)
@TIME 1710621467 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                         58
y                        195
Name: 319, dtype: object 1710621467 dif: 1 xy: 58 195 (2, 0)
1710621468 19798
1710621468 1710621088 1710621359
1710621468 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
319  1710621467  2024-03-16 21:37:47  1710621467  58  195
320  1710621468  2024-03-16 21:37:48  1710621468  54  211
@TIME 1710621468 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                         58
y                        195
Name: 319, dtype: object 1710621467 dif: 2 xy: 58 195 (2, 0)
@TIME 1710621468 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                         54
y                        211
Name: 320, dtype: object 1710621468 dif: 1 xy: 54 211 (2, 0)
1710621469 19798
1710621469 1710621088 1710621359
1710621469 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
319  1710621467  2024-03-16 21:37:47  1710621467  58  195
320  1710621468  2024-03-16 21:37:48  1710621468  54  211
@TIME 1710621469 time              1710621467
date     2024-03-16 21:37:47
time2             1710621467
x                         58
y                        195
Name: 319, dtype: object 1710621467 dif: 3 xy: 58 195 (2, 0)
@TIME 1710621469 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                         54
y                        211
Name: 320, dtype: object 1710621468 dif: 2 xy: 54 211 (2, 0)
1710621470 19798
1710621470 1710621088 1710621359
1710621470 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
320  1710621468  2024-03-16 21:37:48  1710621468  54  211
321  1710621470  2024-03-16 21:37:50  1710621470  49  231
@TIME 1710621470 time              1710621468
date     2024-03-16 21:37:48
time2             1710621468
x                         54
y                        211
Name: 320, dtype: object 1710621468 dif: 3 xy: 54 211 (2, 0)
@TIME 1710621470 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                         49
y                        231
Name: 321, dtype: object 1710621470 dif: 1 xy: 49 231 (3, 0)
1710621471 19798
1710621471 1710621088 1710621359
1710621471 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
321  1710621470  2024-03-16 21:37:50  1710621470  49  231
322  1710621471  2024-03-16 21:37:51  1710621471  62  291
@TIME 1710621471 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                         49
y                        231
Name: 321, dtype: object 1710621470 dif: 2 xy: 49 231 (3, 0)
@TIME 1710621471 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                         62
y                        291
Name: 322, dtype: object 1710621471 dif: 1 xy: 62 291 (3, 0)
1710621472 19798
1710621472 1710621088 1710621359
1710621472 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
321  1710621470  2024-03-16 21:37:50  1710621470  49  231
322  1710621471  2024-03-16 21:37:51  1710621471  62  291
323  1710621472  2024-03-16 21:37:52  1710621472  62  300
@TIME 1710621472 time              1710621470
date     2024-03-16 21:37:50
time2             1710621470
x                         49
y                        231
Name: 321, dtype: object 1710621470 dif: 3 xy: 49 231 (3, 0)
@TIME 1710621472 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                         62
y                        291
Name: 322, dtype: object 1710621471 dif: 2 xy: 62 291 (3, 0)
@TIME 1710621472 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                         62
y                        300
Name: 323, dtype: object 1710621472 dif: 1 xy: 62 300 (3, 0)
1710621473 19798
1710621473 1710621088 1710621359
1710621473 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
322  1710621471  2024-03-16 21:37:51  1710621471  62  291
323  1710621472  2024-03-16 21:37:52  1710621472  62  300
324  1710621473  2024-03-16 21:37:53  1710621473  62  300
325  1710621473  2024-03-16 21:37:53  1710621473  62  300
@TIME 1710621473 time              1710621471
date     2024-03-16 21:37:51
time2             1710621471
x                         62
y                        291
Name: 322, dtype: object 1710621471 dif: 3 xy: 62 291 (3, 0)
@TIME 1710621473 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                         62
y                        300
Name: 323, dtype: object 1710621472 dif: 2 xy: 62 300 (3, 0)
@TIME 1710621473 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                         62
y                        300
Name: 324, dtype: object 1710621473 dif: 1 xy: 62 300 (3, 0)
@TIME 1710621473 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                         62
y                        300
Name: 325, dtype: object 1710621473 dif: 1 xy: 62 300 (3, 0)
1710621474 19798
1710621474 1710621088 1710621359
1710621474 1710621360 1710621664
Scene Scene2
DF            time                 date       time2   x    y
323  1710621472  2024-03-16 21:37:52  1710621472  62  300
324  1710621473  2024-03-16 21:37:53  1710621473  62  300
325  1710621473  2024-03-16 21:37:53  1710621473  62  300
326  1710621474  2024-03-16 21:37:54  1710621474  62  311
327  1710621474  2024-03-16 21:37:54  1710621474  58  318
@TIME 1710621474 time              1710621472
date     2024-03-16 21:37:52
time2             1710621472
x                         62
y                        300
Name: 323, dtype: object 1710621472 dif: 3 xy: 62 300 (3, 0)
@TIME 1710621474 time              1710621473
date     2024-03-16 21:37:53
time2             1710621473
x                         62
y                        300
Name: 324, dtype: object 1710621473 dif: 2 xy: 62 300 (3, 0)

1710621489 19798
1710621489 1710621088 1710621359
1710621489 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
343  1710621487  2024-03-16 21:38:07  1710621487  316  430
344  1710621487  2024-03-16 21:38:07  1710621487  322  420
345  1710621488  2024-03-16 21:38:08  1710621488  322  420
346  1710621489  2024-03-16 21:38:09  1710621489  322  420
@TIME 1710621489 time              1710621487
date     2024-03-16 21:38:07
time2             1710621487
x                        316
y                        430
Name: 343, dtype: object 1710621487 dif: 3 xy: 316 430 (5, 4)
@TIME 1710621489 time              1710621487
date     2024-03-16 21:38:07
time2             1710621487
x                        322
y                        420
Name: 344, dtype: object 1710621487 dif: 3 xy: 322 420 (5, 4)
@TIME 1710621489 time              1710621488
date     2024-03-16 21:38:08
time2             1710621488
x                        322
y                        420
Name: 345, dtype: object 1710621488 dif: 2 xy: 322 420 (5, 4)
@TIME 1710621489 time              1710621489
date     2024-03-16 21:38:09
time2             1710621489
x                        322
y                        420
Name: 346, dtype: object 1710621489 dif: 1 xy: 322 420 (5, 4)
1710621490 19798
1710621490 1710621088 1710621359
1710621490 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
345  1710621488  2024-03-16 21:38:08  1710621488  322  420
346  1710621489  2024-03-16 21:38:09  1710621489  322  420
@TIME 1710621490 time              1710621488
date     2024-03-16 21:38:08
time2             1710621488
x                        322
y                        420
Name: 345, dtype: object 1710621488 dif: 3 xy: 322 420 (5, 4)
@TIME 1710621490 time              1710621489
date     2024-03-16 21:38:09
time2             1710621489
x                        322
y                        420
Name: 346, dtype: object 1710621489 dif: 2 xy: 322 420 (5, 4)
1710621491 19798
1710621491 1710621088 1710621359
1710621491 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
346  1710621489  2024-03-16 21:38:09  1710621489  322  420
347  1710621491  2024-03-16 21:38:11  1710621491  334  389
@TIME 1710621491 time              1710621489
date     2024-03-16 21:38:09
time2             1710621489
x                        322
y                        420
Name: 346, dtype: object 1710621489 dif: 3 xy: 322 420 (5, 4)
@TIME 1710621491 time              1710621491
date     2024-03-16 21:38:11
time2             1710621491
x                        334
y                        389
Name: 347, dtype: object 1710621491 dif: 1 xy: 334 389 (5, 4)
1710621492 19798
1710621492 1710621088 1710621359
1710621492 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
347  1710621491  2024-03-16 21:38:11  1710621491  334  389
@TIME 1710621492 time              1710621491
date     2024-03-16 21:38:11
time2             1710621491
x                        334
y                        389
Name: 347, dtype: object 1710621491 dif: 2 xy: 334 389 (5, 4)
1710621493 19798
1710621493 1710621088 1710621359
1710621493 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
347  1710621491  2024-03-16 21:38:11  1710621491  334  389
348  1710621493  2024-03-16 21:38:13  1710621493  334  389
@TIME 1710621493 time              1710621491
date     2024-03-16 21:38:11
time2             1710621491
x                        334
y                        389
Name: 347, dtype: object 1710621491 dif: 3 xy: 334 389 (5, 4)
@TIME 1710621493 time              1710621493
date     2024-03-16 21:38:13
time2             1710621493
x                        334
y                        389
Name: 348, dtype: object 1710621493 dif: 1 xy: 334 389 (5, 4)
1710621494 19798
1710621494 1710621088 1710621359
1710621494 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
348  1710621493  2024-03-16 21:38:13  1710621493  334  389
349  1710621494  2024-03-16 21:38:14  1710621494  338  403
350  1710621494  2024-03-16 21:38:14  1710621494  325  411
@TIME 1710621494 time              1710621493
date     2024-03-16 21:38:13
time2             1710621493
x                        334
y                        389
Name: 348, dtype: object 1710621493 dif: 2 xy: 334 389 (5, 4)
@TIME 1710621494 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        338
y                        403
Name: 349, dtype: object 1710621494 dif: 1 xy: 338 403 (5, 4)
@TIME 1710621494 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        325
y                        411
Name: 350, dtype: object 1710621494 dif: 1 xy: 325 411 (5, 4)
1710621495 19798
1710621495 1710621088 1710621359
1710621495 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
348  1710621493  2024-03-16 21:38:13  1710621493  334  389
349  1710621494  2024-03-16 21:38:14  1710621494  338  403
350  1710621494  2024-03-16 21:38:14  1710621494  325  411
351  1710621495  2024-03-16 21:38:15  1710621495  325  411
@TIME 1710621495 time              1710621493
date     2024-03-16 21:38:13
time2             1710621493
x                        334
y                        389
Name: 348, dtype: object 1710621493 dif: 3 xy: 334 389 (5, 4)
@TIME 1710621495 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        338
y                        403
Name: 349, dtype: object 1710621494 dif: 2 xy: 338 403 (5, 4)
@TIME 1710621495 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        325
y                        411
Name: 350, dtype: object 1710621494 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621495 time              1710621495
date     2024-03-16 21:38:15
time2             1710621495
x                        325
y                        411
Name: 351, dtype: object 1710621495 dif: 1 xy: 325 411 (5, 4)
1710621496 19798
1710621496 1710621088 1710621359
1710621496 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
349  1710621494  2024-03-16 21:38:14  1710621494  338  403
350  1710621494  2024-03-16 21:38:14  1710621494  325  411
351  1710621495  2024-03-16 21:38:15  1710621495  325  411
352  1710621496  2024-03-16 21:38:16  1710621496  325  411
@TIME 1710621496 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        338
y                        403
Name: 349, dtype: object 1710621494 dif: 3 xy: 338 403 (5, 4)
@TIME 1710621496 time              1710621494
date     2024-03-16 21:38:14
time2             1710621494
x                        325
y                        411
Name: 350, dtype: object 1710621494 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621496 time              1710621495
date     2024-03-16 21:38:15
time2             1710621495
x                        325
y                        411
Name: 351, dtype: object 1710621495 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621496 time              1710621496
date     2024-03-16 21:38:16
time2             1710621496
x                        325
y                        411
Name: 352, dtype: object 1710621496 dif: 1 xy: 325 411 (5, 4)
1710621497 19798
1710621497 1710621088 1710621359
1710621497 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
351  1710621495  2024-03-16 21:38:15  1710621495  325  411
352  1710621496  2024-03-16 21:38:16  1710621496  325  411
353  1710621497  2024-03-16 21:38:17  1710621497  325  411
@TIME 1710621497 time              1710621495
date     2024-03-16 21:38:15
time2             1710621495
x                        325
y                        411
Name: 351, dtype: object 1710621495 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621497 time              1710621496
date     2024-03-16 21:38:16
time2             1710621496
x                        325
y                        411
Name: 352, dtype: object 1710621496 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621497 time              1710621497
date     2024-03-16 21:38:17
time2             1710621497
x                        325
y                        411
Name: 353, dtype: object 1710621497 dif: 1 xy: 325 411 (5, 4)
1710621498 19798
1710621498 1710621088 1710621359
1710621498 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
352  1710621496  2024-03-16 21:38:16  1710621496  325  411
353  1710621497  2024-03-16 21:38:17  1710621497  325  411
@TIME 1710621498 time              1710621496
date     2024-03-16 21:38:16
time2             1710621496
x                        325
y                        411
Name: 352, dtype: object 1710621496 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621498 time              1710621497
date     2024-03-16 21:38:17
time2             1710621497
x                        325
y                        411
Name: 353, dtype: object 1710621497 dif: 2 xy: 325 411 (5, 4)
1710621499 19798
1710621499 1710621088 1710621359
1710621499 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
353  1710621497  2024-03-16 21:38:17  1710621497  325  411
354  1710621499  2024-03-16 21:38:19  1710621499  325  411
@TIME 1710621499 time              1710621497
date     2024-03-16 21:38:17
time2             1710621497
x                        325
y                        411
Name: 353, dtype: object 1710621497 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621499 time              1710621499
date     2024-03-16 21:38:19
time2             1710621499
x                        325
y                        411
Name: 354, dtype: object 1710621499 dif: 1 xy: 325 411 (5, 4)
1710621500 19798
1710621500 1710621088 1710621359
1710621500 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
354  1710621499  2024-03-16 21:38:19  1710621499  325  411
355  1710621500  2024-03-16 21:38:20  1710621500  325  411
@TIME 1710621500 time              1710621499
date     2024-03-16 21:38:19
time2             1710621499
x                        325
y                        411
Name: 354, dtype: object 1710621499 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621500 time              1710621500
date     2024-03-16 21:38:20
time2             1710621500
x                        325
y                        411
Name: 355, dtype: object 1710621500 dif: 1 xy: 325 411 (5, 4)
1710621501 19798
1710621501 1710621088 1710621359
1710621501 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
354  1710621499  2024-03-16 21:38:19  1710621499  325  411
355  1710621500  2024-03-16 21:38:20  1710621500  325  411
356  1710621501  2024-03-16 21:38:21  1710621501  325  411
@TIME 1710621501 time              1710621499
date     2024-03-16 21:38:19
time2             1710621499
x                        325
y                        411
Name: 354, dtype: object 1710621499 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621501 time              1710621500
date     2024-03-16 21:38:20
time2             1710621500
x                        325
y                        411
Name: 355, dtype: object 1710621500 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621501 time              1710621501
date     2024-03-16 21:38:21
time2             1710621501
x                        325
y                        411
Name: 356, dtype: object 1710621501 dif: 1 xy: 325 411 (5, 4)
1710621502 19798
1710621502 1710621088 1710621359
1710621502 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
355  1710621500  2024-03-16 21:38:20  1710621500  325  411
356  1710621501  2024-03-16 21:38:21  1710621501  325  411
357  1710621502  2024-03-16 21:38:22  1710621502  325  411
@TIME 1710621502 time              1710621500
date     2024-03-16 21:38:20
time2             1710621500
x                        325
y                        411
Name: 355, dtype: object 1710621500 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621502 time              1710621501
date     2024-03-16 21:38:21
time2             1710621501
x                        325
y                        411
Name: 356, dtype: object 1710621501 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621502 time              1710621502
date     2024-03-16 21:38:22
time2             1710621502
x                        325
y                        411
Name: 357, dtype: object 1710621502 dif: 1 xy: 325 411 (5, 4)
1710621503 19798
1710621503 1710621088 1710621359
1710621503 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
356  1710621501  2024-03-16 21:38:21  1710621501  325  411
357  1710621502  2024-03-16 21:38:22  1710621502  325  411
358  1710621503  2024-03-16 21:38:23  1710621503  343  413
@TIME 1710621503 time              1710621501
date     2024-03-16 21:38:21
time2             1710621501
x                        325
y                        411
Name: 356, dtype: object 1710621501 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621503 time              1710621502
date     2024-03-16 21:38:22
time2             1710621502
x                        325
y                        411
Name: 357, dtype: object 1710621502 dif: 2 xy: 325 411 (5, 4)
@TIME 1710621503 time              1710621503
date     2024-03-16 21:38:23
time2             1710621503
x                        343
y                        413
Name: 358, dtype: object 1710621503 dif: 1 xy: 343 413 (5, 4)
1710621504 19798
1710621504 1710621088 1710621359
1710621504 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
357  1710621502  2024-03-16 21:38:22  1710621502  325  411
358  1710621503  2024-03-16 21:38:23  1710621503  343  413
359  1710621504  2024-03-16 21:38:24  1710621504  343  413
@TIME 1710621504 time              1710621502
date     2024-03-16 21:38:22
time2             1710621502
x                        325
y                        411
Name: 357, dtype: object 1710621502 dif: 3 xy: 325 411 (5, 4)
@TIME 1710621504 time              1710621503
date     2024-03-16 21:38:23
time2             1710621503
x                        343
y                        413
Name: 358, dtype: object 1710621503 dif: 2 xy: 343 413 (5, 4)
@TIME 1710621504 time              1710621504
date     2024-03-16 21:38:24
time2             1710621504
x                        343
y                        413
Name: 359, dtype: object 1710621504 dif: 1 xy: 343 413 (5, 4)
1710621505 19798
1710621505 1710621088 1710621359
1710621505 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
358  1710621503  2024-03-16 21:38:23  1710621503  343  413
359  1710621504  2024-03-16 21:38:24  1710621504  343  413
360  1710621505  2024-03-16 21:38:25  1710621505  326  411
361  1710621505  2024-03-16 21:38:25  1710621505  326  411
@TIME 1710621505 time              1710621503
date     2024-03-16 21:38:23
time2             1710621503
x                        343
y                        413
Name: 358, dtype: object 1710621503 dif: 3 xy: 343 413 (5, 4)
@TIME 1710621505 time              1710621504
date     2024-03-16 21:38:24
time2             1710621504
x                        343
y                        413
Name: 359, dtype: object 1710621504 dif: 2 xy: 343 413 (5, 4)
@TIME 1710621505 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 360, dtype: object 1710621505 dif: 1 xy: 326 411 (5, 4)
@TIME 1710621505 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 361, dtype: object 1710621505 dif: 1 xy: 326 411 (5, 4)
1710621506 19798
1710621506 1710621088 1710621359
1710621506 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
359  1710621504  2024-03-16 21:38:24  1710621504  343  413
360  1710621505  2024-03-16 21:38:25  1710621505  326  411
361  1710621505  2024-03-16 21:38:25  1710621505  326  411
@TIME 1710621506 time              1710621504
date     2024-03-16 21:38:24
time2             1710621504
x                        343
y                        413
Name: 359, dtype: object 1710621504 dif: 3 xy: 343 413 (5, 4)
@TIME 1710621506 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 360, dtype: object 1710621505 dif: 2 xy: 326 411 (5, 4)
@TIME 1710621506 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 361, dtype: object 1710621505 dif: 2 xy: 326 411 (5, 4)
1710621507 19798
1710621507 1710621088 1710621359
1710621507 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
360  1710621505  2024-03-16 21:38:25  1710621505  326  411
361  1710621505  2024-03-16 21:38:25  1710621505  326  411
362  1710621507  2024-03-16 21:38:27  1710621507  334  410
@TIME 1710621507 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 360, dtype: object 1710621505 dif: 3 xy: 326 411 (5, 4)
@TIME 1710621507 time              1710621505
date     2024-03-16 21:38:25
time2             1710621505
x                        326
y                        411
Name: 361, dtype: object 1710621505 dif: 3 xy: 326 411 (5, 4)
@TIME 1710621507 time              1710621507
date     2024-03-16 21:38:27
time2             1710621507
x                        334
y                        410
Name: 362, dtype: object 1710621507 dif: 1 xy: 334 410 (5, 4)
1710621508 19798
1710621508 1710621088 1710621359
1710621508 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
362  1710621507  2024-03-16 21:38:27  1710621507  334  410
363  1710621508  2024-03-16 21:38:28  1710621508  334  410
@TIME 1710621508 time              1710621507
date     2024-03-16 21:38:27
time2             1710621507
x                        334
y                        410
Name: 362, dtype: object 1710621507 dif: 2 xy: 334 410 (5, 4)
@TIME 1710621508 time              1710621508
date     2024-03-16 21:38:28
time2             1710621508
x                        334
y                        410
Name: 363, dtype: object 1710621508 dif: 1 xy: 334 410 (5, 4)
1710621509 19798
1710621509 1710621088 1710621359
1710621509 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
362  1710621507  2024-03-16 21:38:27  1710621507  334  410
363  1710621508  2024-03-16 21:38:28  1710621508  334  410
@TIME 1710621509 time              1710621507
date     2024-03-16 21:38:27
time2             1710621507
x                        334
y                        410
Name: 362, dtype: object 1710621507 dif: 3 xy: 334 410 (5, 4)
@TIME 1710621509 time              1710621508
date     2024-03-16 21:38:28
time2             1710621508
x                        334
y                        410
Name: 363, dtype: object 1710621508 dif: 2 xy: 334 410 (5, 4)
1710621510 19798
1710621510 1710621088 1710621359
1710621510 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
363  1710621508  2024-03-16 21:38:28  1710621508  334  410
@TIME 1710621510 time              1710621508
date     2024-03-16 21:38:28
time2             1710621508
x                        334
y                        410
Name: 363, dtype: object 1710621508 dif: 3 xy: 334 410 (5, 4)
1710621511 19798
1710621511 1710621088 1710621359
1710621511 1710621360 1710621664
Scene Scene2

1710621543 19798
1710621543 1710621088 1710621359
1710621543 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
384  1710621541  2024-03-16 21:39:01  1710621541  371  263
385  1710621542  2024-03-16 21:39:02  1710621542  371  268
@TIME 1710621543 time              1710621541
date     2024-03-16 21:39:01
time2             1710621541
x                        371
y                        263
Name: 384, dtype: object 1710621541 dif: 3 xy: 371 263 (3, 4)
@TIME 1710621543 time              1710621542
date     2024-03-16 21:39:02
time2             1710621542
x                        371
y                        268
Name: 385, dtype: object 1710621542 dif: 2 xy: 371 268 (3, 4)
1710621544 19798
1710621544 1710621088 1710621359
1710621544 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
385  1710621542  2024-03-16 21:39:02  1710621542  371  268
386  1710621544  2024-03-16 21:39:04  1710621544  371  268
@TIME 1710621544 time              1710621542
date     2024-03-16 21:39:02
time2             1710621542
x                        371
y                        268
Name: 385, dtype: object 1710621542 dif: 3 xy: 371 268 (3, 4)
@TIME 1710621544 time              1710621544
date     2024-03-16 21:39:04
time2             1710621544
x                        371
y                        268
Name: 386, dtype: object 1710621544 dif: 1 xy: 371 268 (3, 4)
1710621545 19798
1710621545 1710621088 1710621359
1710621545 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
386  1710621544  2024-03-16 21:39:04  1710621544  371  268
387  1710621545  2024-03-16 21:39:05  1710621545  371  262
@TIME 1710621545 time              1710621544
date     2024-03-16 21:39:04
time2             1710621544
x                        371
y                        268
Name: 386, dtype: object 1710621544 dif: 2 xy: 371 268 (3, 4)
@TIME 1710621545 time              1710621545
date     2024-03-16 21:39:05
time2             1710621545
x                        371
y                        262
Name: 387, dtype: object 1710621545 dif: 1 xy: 371 262 (3, 4)
1710621546 19798
1710621546 1710621088 1710621359
1710621546 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
386  1710621544  2024-03-16 21:39:04  1710621544  371  268
387  1710621545  2024-03-16 21:39:05  1710621545  371  262
388  1710621546  2024-03-16 21:39:06  1710621546  369  275
@TIME 1710621546 time              1710621544
date     2024-03-16 21:39:04
time2             1710621544
x                        371
y                        268
Name: 386, dtype: object 1710621544 dif: 3 xy: 371 268 (3, 4)
@TIME 1710621546 time              1710621545
date     2024-03-16 21:39:05
time2             1710621545
x                        371
y                        262
Name: 387, dtype: object 1710621545 dif: 2 xy: 371 262 (3, 4)
@TIME 1710621546 time              1710621546
date     2024-03-16 21:39:06
time2             1710621546
x                        369
y                        275
Name: 388, dtype: object 1710621546 dif: 1 xy: 369 275 (3, 4)
1710621547 19798
1710621547 1710621088 1710621359
1710621547 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
387  1710621545  2024-03-16 21:39:05  1710621545  371  262
388  1710621546  2024-03-16 21:39:06  1710621546  369  275
389  1710621547  2024-03-16 21:39:07  1710621547  371  261
390  1710621547  2024-03-16 21:39:07  1710621547  370  265
@TIME 1710621547 time              1710621545
date     2024-03-16 21:39:05
time2             1710621545
x                        371
y                        262
Name: 387, dtype: object 1710621545 dif: 3 xy: 371 262 (3, 4)
@TIME 1710621547 time              1710621546
date     2024-03-16 21:39:06
time2             1710621546
x                        369
y                        275
Name: 388, dtype: object 1710621546 dif: 2 xy: 369 275 (3, 4)
@TIME 1710621547 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        371
y                        261
Name: 389, dtype: object 1710621547 dif: 1 xy: 371 261 (3, 4)
@TIME 1710621547 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        370
y                        265
Name: 390, dtype: object 1710621547 dif: 1 xy: 370 265 (3, 4)
1710621548 19798
1710621548 1710621088 1710621359
1710621548 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
388  1710621546  2024-03-16 21:39:06  1710621546  369  275
389  1710621547  2024-03-16 21:39:07  1710621547  371  261
390  1710621547  2024-03-16 21:39:07  1710621547  370  265
391  1710621548  2024-03-16 21:39:08  1710621548  370  265
@TIME 1710621548 time              1710621546
date     2024-03-16 21:39:06
time2             1710621546
x                        369
y                        275
Name: 388, dtype: object 1710621546 dif: 3 xy: 369 275 (3, 4)
@TIME 1710621548 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        371
y                        261
Name: 389, dtype: object 1710621547 dif: 2 xy: 371 261 (3, 4)
@TIME 1710621548 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        370
y                        265
Name: 390, dtype: object 1710621547 dif: 2 xy: 370 265 (3, 4)
@TIME 1710621548 time              1710621548
date     2024-03-16 21:39:08
time2             1710621548
x                        370
y                        265
Name: 391, dtype: object 1710621548 dif: 1 xy: 370 265 (3, 4)
1710621549 19798
1710621549 1710621088 1710621359
1710621549 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
389  1710621547  2024-03-16 21:39:07  1710621547  371  261
390  1710621547  2024-03-16 21:39:07  1710621547  370  265
391  1710621548  2024-03-16 21:39:08  1710621548  370  265
392  1710621549  2024-03-16 21:39:09  1710621549  370  267
@TIME 1710621549 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        371
y                        261
Name: 389, dtype: object 1710621547 dif: 3 xy: 371 261 (3, 4)
@TIME 1710621549 time              1710621547
date     2024-03-16 21:39:07
time2             1710621547
x                        370
y                        265
Name: 390, dtype: object 1710621547 dif: 3 xy: 370 265 (3, 4)
@TIME 1710621549 time              1710621548
date     2024-03-16 21:39:08
time2             1710621548
x                        370
y                        265
Name: 391, dtype: object 1710621548 dif: 2 xy: 370 265 (3, 4)
@TIME 1710621549 time              1710621549
date     2024-03-16 21:39:09
time2             1710621549
x                        370
y                        267
Name: 392, dtype: object 1710621549 dif: 1 xy: 370 267 (3, 4)
1710621550 19798
1710621550 1710621088 1710621359
1710621550 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
391  1710621548  2024-03-16 21:39:08  1710621548  370  265
392  1710621549  2024-03-16 21:39:09  1710621549  370  267
@TIME 1710621550 time              1710621548
date     2024-03-16 21:39:08
time2             1710621548
x                        370
y                        265
Name: 391, dtype: object 1710621548 dif: 3 xy: 370 265 (3, 4)
@TIME 1710621550 time              1710621549
date     2024-03-16 21:39:09
time2             1710621549
x                        370
y                        267
Name: 392, dtype: object 1710621549 dif: 2 xy: 370 267 (3, 4)
1710621551 19798
1710621551 1710621088 1710621359
1710621551 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
392  1710621549  2024-03-16 21:39:09  1710621549  370  267
@TIME 1710621551 time              1710621549
date     2024-03-16 21:39:09
time2             1710621549
x                        370
y                        267
Name: 392, dtype: object 1710621549 dif: 3 xy: 370 267 (3, 4)
1710621552 19798
1710621552 1710621088 1710621359
1710621552 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621552 time              1710621549
date     2024-03-16 21:39:09
time2             1710621549
x                        370
y                        267
Name: 392, dtype: object 1710621549 dif: 4 xy: 370 267 (3, 4)
1710621553 19798
1710621553 1710621088 1710621359
1710621553 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
393  1710621553  2024-03-16 21:39:13  1710621553  383  266
@TIME 1710621553 time              1710621553
date     2024-03-16 21:39:13
time2             1710621553
x                        383
y                        266
Name: 393, dtype: object 1710621553 dif: 1 xy: 383 266 (3, 4)
1710621554 19798
1710621554 1710621088 1710621359
1710621554 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
393  1710621553  2024-03-16 21:39:13  1710621553  383  266
@TIME 1710621554 time              1710621553
date     2024-03-16 21:39:13
time2             1710621553
x                        383
y                        266
Name: 393, dtype: object 1710621553 dif: 2 xy: 383 266 (3, 4)
1710621555 19798
1710621555 1710621088 1710621359
1710621555 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
393  1710621553  2024-03-16 21:39:13  1710621553  383  266
394  1710621555  2024-03-16 21:39:15  1710621555  383  266
@TIME 1710621555 time              1710621553
date     2024-03-16 21:39:13
time2             1710621553
x                        383
y                        266
Name: 393, dtype: object 1710621553 dif: 3 xy: 383 266 (3, 4)
@TIME 1710621555 time              1710621555
date     2024-03-16 21:39:15
time2             1710621555
x                        383
y                        266
Name: 394, dtype: object 1710621555 dif: 1 xy: 383 266 (3, 4)
1710621556 19798
1710621556 1710621088 1710621359
1710621556 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
394  1710621555  2024-03-16 21:39:15  1710621555  383  266
395  1710621556  2024-03-16 21:39:16  1710621556  383  261
@TIME 1710621556 time              1710621555
date     2024-03-16 21:39:15
time2             1710621555
x                        383
y                        266
Name: 394, dtype: object 1710621555 dif: 2 xy: 383 266 (3, 4)
@TIME 1710621556 time              1710621556
date     2024-03-16 21:39:16
time2             1710621556
x                        383
y                        261
Name: 395, dtype: object 1710621556 dif: 1 xy: 383 261 (3, 4)
1710621557 19798
1710621557 1710621088 1710621359
1710621557 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
394  1710621555  2024-03-16 21:39:15  1710621555  383  266
395  1710621556  2024-03-16 21:39:16  1710621556  383  261
@TIME 1710621557 time              1710621555
date     2024-03-16 21:39:15
time2             1710621555
x                        383
y                        266
Name: 394, dtype: object 1710621555 dif: 3 xy: 383 266 (3, 4)
@TIME 1710621557 time              1710621556
date     2024-03-16 21:39:16
time2             1710621556
x                        383
y                        261
Name: 395, dtype: object 1710621556 dif: 2 xy: 383 261 (3, 4)
1710621558 19798
1710621558 1710621088 1710621359
1710621558 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
395  1710621556  2024-03-16 21:39:16  1710621556  383  261
396  1710621558  2024-03-16 21:39:18  1710621558  376  267
@TIME 1710621558 time              1710621556
date     2024-03-16 21:39:16
time2             1710621556
x                        383
y                        261
Name: 395, dtype: object 1710621556 dif: 3 xy: 383 261 (3, 4)
@TIME 1710621558 time              1710621558
date     2024-03-16 21:39:18
time2             1710621558
x                        376
y                        267
Name: 396, dtype: object 1710621558 dif: 1 xy: 376 267 (3, 4)
1710621559 19798
1710621559 1710621088 1710621359
1710621559 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
396  1710621558  2024-03-16 21:39:18  1710621558  376  267
397  1710621559  2024-03-16 21:39:19  1710621559  384  266
@TIME 1710621559 time              1710621558
date     2024-03-16 21:39:18
time2             1710621558
x                        376
y                        267
Name: 396, dtype: object 1710621558 dif: 2 xy: 376 267 (3, 4)
@TIME 1710621559 time              1710621559
date     2024-03-16 21:39:19
time2             1710621559
x                        384
y                        266
Name: 397, dtype: object 1710621559 dif: 1 xy: 384 266 (3, 4)
1710621560 19798
1710621560 1710621088 1710621359
1710621560 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
396  1710621558  2024-03-16 21:39:18  1710621558  376  267
397  1710621559  2024-03-16 21:39:19  1710621559  384  266
@TIME 1710621560 time              1710621558
date     2024-03-16 21:39:18
time2             1710621558
x                        376
y                        267
Name: 396, dtype: object 1710621558 dif: 3 xy: 376 267 (3, 4)
@TIME 1710621560 time              1710621559
date     2024-03-16 21:39:19
time2             1710621559
x                        384
y                        266
Name: 397, dtype: object 1710621559 dif: 2 xy: 384 266 (3, 4)
1710621561 19798
1710621561 1710621088 1710621359
1710621561 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
397  1710621559  2024-03-16 21:39:19  1710621559  384  266
@TIME 1710621561 time              1710621559
date     2024-03-16 21:39:19
time2             1710621559
x                        384
y                        266
Name: 397, dtype: object 1710621559 dif: 3 xy: 384 266 (3, 4)
1710621562 19798
1710621562 1710621088 1710621359
1710621562 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
398  1710621562  2024-03-16 21:39:22  1710621562  384  266
@TIME 1710621562 time              1710621562
date     2024-03-16 21:39:22
time2             1710621562
x                        384
y                        266
Name: 398, dtype: object 1710621562 dif: 1 xy: 384 266 (3, 4)
1710621563 19798
1710621563 1710621088 1710621359
1710621563 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
398  1710621562  2024-03-16 21:39:22  1710621562  384  266
399  1710621563  2024-03-16 21:39:23  1710621563  390  268
@TIME 1710621563 time              1710621562
date     2024-03-16 21:39:22
time2             1710621562
x                        384
y                        266
Name: 398, dtype: object 1710621562 dif: 2 xy: 384 266 (3, 4)
@TIME 1710621563 time              1710621563
date     2024-03-16 21:39:23
time2             1710621563
x                        390
y                        268
Name: 399, dtype: object 1710621563 dif: 1 xy: 390 268 (3, 5)
1710621564 19798
1710621564 1710621088 1710621359
1710621564 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
398  1710621562  2024-03-16 21:39:22  1710621562  384  266
399  1710621563  2024-03-16 21:39:23  1710621563  390  268
400  1710621564  2024-03-16 21:39:24  1710621564  365  261
401  1710621564  2024-03-16 21:39:24  1710621564  382  262
@TIME 1710621564 time              1710621562
date     2024-03-16 21:39:22
time2             1710621562
x                        384
y                        266
Name: 398, dtype: object 1710621562 dif: 3 xy: 384 266 (3, 4)
@TIME 1710621564 time              1710621563
date     2024-03-16 21:39:23
time2             1710621563
x                        390
y                        268
Name: 399, dtype: object 1710621563 dif: 2 xy: 390 268 (3, 5)
@TIME 1710621564 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        365
y                        261
Name: 400, dtype: object 1710621564 dif: 1 xy: 365 261 (3, 4)
@TIME 1710621564 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        382
y                        262
Name: 401, dtype: object 1710621564 dif: 1 xy: 382 262 (3, 4)
1710621565 19798
1710621565 1710621088 1710621359
1710621565 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
399  1710621563  2024-03-16 21:39:23  1710621563  390  268
400  1710621564  2024-03-16 21:39:24  1710621564  365  261
401  1710621564  2024-03-16 21:39:24  1710621564  382  262
402  1710621565  2024-03-16 21:39:25  1710621565  390  263
@TIME 1710621565 time              1710621563
date     2024-03-16 21:39:23
time2             1710621563
x                        390
y                        268
Name: 399, dtype: object 1710621563 dif: 3 xy: 390 268 (3, 5)
@TIME 1710621565 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        365
y                        261
Name: 400, dtype: object 1710621564 dif: 2 xy: 365 261 (3, 4)
@TIME 1710621565 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        382
y                        262
Name: 401, dtype: object 1710621564 dif: 2 xy: 382 262 (3, 4)
@TIME 1710621565 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                        390
y                        263
Name: 402, dtype: object 1710621565 dif: 1 xy: 390 263 (3, 5)
1710621566 19798
1710621566 1710621088 1710621359
1710621566 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
400  1710621564  2024-03-16 21:39:24  1710621564  365  261
401  1710621564  2024-03-16 21:39:24  1710621564  382  262
402  1710621565  2024-03-16 21:39:25  1710621565  390  263
403  1710621566  2024-03-16 21:39:26  1710621566  382  263
@TIME 1710621566 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        365
y                        261
Name: 400, dtype: object 1710621564 dif: 3 xy: 365 261 (3, 4)
@TIME 1710621566 time              1710621564
date     2024-03-16 21:39:24
time2             1710621564
x                        382
y                        262
Name: 401, dtype: object 1710621564 dif: 3 xy: 382 262 (3, 4)
@TIME 1710621566 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                        390
y                        263
Name: 402, dtype: object 1710621565 dif: 2 xy: 390 263 (3, 5)
@TIME 1710621566 time              1710621566
date     2024-03-16 21:39:26
time2             1710621566
x                        382
y                        263
Name: 403, dtype: object 1710621566 dif: 1 xy: 382 263 (3, 4)
1710621567 19798
1710621567 1710621088 1710621359
1710621567 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
402  1710621565  2024-03-16 21:39:25  1710621565  390  263
403  1710621566  2024-03-16 21:39:26  1710621566  382  263
404  1710621567  2024-03-16 21:39:27  1710621567  384  263
@TIME 1710621567 time              1710621565
date     2024-03-16 21:39:25
time2             1710621565
x                        390
y                        263
Name: 402, dtype: object 1710621565 dif: 3 xy: 390 263 (3, 5)

1710621580 19798
1710621580 1710621088 1710621359
1710621580 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
409  1710621578  2024-03-16 21:39:38  1710621578  352  186
410  1710621579  2024-03-16 21:39:39  1710621579  343  169
411  1710621580  2024-03-16 21:39:40  1710621580  338  155
412  1710621580  2024-03-16 21:39:40  1710621580  336  146
@TIME 1710621580 time              1710621578
date     2024-03-16 21:39:38
time2             1710621578
x                        352
y                        186
Name: 409, dtype: object 1710621578 dif: 3 xy: 352 186 (2, 4)
@TIME 1710621580 time              1710621579
date     2024-03-16 21:39:39
time2             1710621579
x                        343
y                        169
Name: 410, dtype: object 1710621579 dif: 2 xy: 343 169 (2, 4)
@TIME 1710621580 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        338
y                        155
Name: 411, dtype: object 1710621580 dif: 1 xy: 338 155 (2, 4)
@TIME 1710621580 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        336
y                        146
Name: 412, dtype: object 1710621580 dif: 1 xy: 336 146 (1, 4)
1710621581 19798
1710621581 1710621088 1710621359
1710621581 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
410  1710621579  2024-03-16 21:39:39  1710621579  343  169
411  1710621580  2024-03-16 21:39:40  1710621580  338  155
412  1710621580  2024-03-16 21:39:40  1710621580  336  146
413  1710621581  2024-03-16 21:39:41  1710621581  334  136
414  1710621581  2024-03-16 21:39:41  1710621581  334  134
@TIME 1710621581 time              1710621579
date     2024-03-16 21:39:39
time2             1710621579
x                        343
y                        169
Name: 410, dtype: object 1710621579 dif: 3 xy: 343 169 (2, 4)
@TIME 1710621581 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        338
y                        155
Name: 411, dtype: object 1710621580 dif: 2 xy: 338 155 (2, 4)
@TIME 1710621581 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        336
y                        146
Name: 412, dtype: object 1710621580 dif: 2 xy: 336 146 (1, 4)
@TIME 1710621581 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        136
Name: 413, dtype: object 1710621581 dif: 1 xy: 334 136 (1, 4)
@TIME 1710621581 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        134
Name: 414, dtype: object 1710621581 dif: 1 xy: 334 134 (1, 4)
1710621582 19798
1710621582 1710621088 1710621359
1710621582 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
411  1710621580  2024-03-16 21:39:40  1710621580  338  155
412  1710621580  2024-03-16 21:39:40  1710621580  336  146
413  1710621581  2024-03-16 21:39:41  1710621581  334  136
414  1710621581  2024-03-16 21:39:41  1710621581  334  134
415  1710621582  2024-03-16 21:39:42  1710621582  334  134
416  1710621582  2024-03-16 21:39:42  1710621582  334  134
@TIME 1710621582 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        338
y                        155
Name: 411, dtype: object 1710621580 dif: 3 xy: 338 155 (2, 4)
@TIME 1710621582 time              1710621580
date     2024-03-16 21:39:40
time2             1710621580
x                        336
y                        146
Name: 412, dtype: object 1710621580 dif: 3 xy: 336 146 (1, 4)
@TIME 1710621582 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        136
Name: 413, dtype: object 1710621581 dif: 2 xy: 334 136 (1, 4)
@TIME 1710621582 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        134
Name: 414, dtype: object 1710621581 dif: 2 xy: 334 134 (1, 4)
@TIME 1710621582 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 415, dtype: object 1710621582 dif: 1 xy: 334 134 (1, 4)
@TIME 1710621582 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 416, dtype: object 1710621582 dif: 1 xy: 334 134 (1, 4)
1710621583 19798
1710621583 1710621088 1710621359
1710621583 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
413  1710621581  2024-03-16 21:39:41  1710621581  334  136
414  1710621581  2024-03-16 21:39:41  1710621581  334  134
415  1710621582  2024-03-16 21:39:42  1710621582  334  134
416  1710621582  2024-03-16 21:39:42  1710621582  334  134
@TIME 1710621583 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        136
Name: 413, dtype: object 1710621581 dif: 3 xy: 334 136 (1, 4)
@TIME 1710621583 time              1710621581
date     2024-03-16 21:39:41
time2             1710621581
x                        334
y                        134
Name: 414, dtype: object 1710621581 dif: 3 xy: 334 134 (1, 4)
@TIME 1710621583 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 415, dtype: object 1710621582 dif: 2 xy: 334 134 (1, 4)
@TIME 1710621583 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 416, dtype: object 1710621582 dif: 2 xy: 334 134 (1, 4)
1710621584 19798
1710621584 1710621088 1710621359
1710621584 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
415  1710621582  2024-03-16 21:39:42  1710621582  334  134
416  1710621582  2024-03-16 21:39:42  1710621582  334  134
417  1710621584  2024-03-16 21:39:44  1710621584  312  143
@TIME 1710621584 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 415, dtype: object 1710621582 dif: 3 xy: 334 134 (1, 4)
@TIME 1710621584 time              1710621582
date     2024-03-16 21:39:42
time2             1710621582
x                        334
y                        134
Name: 416, dtype: object 1710621582 dif: 3 xy: 334 134 (1, 4)
@TIME 1710621584 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                        312
y                        143
Name: 417, dtype: object 1710621584 dif: 1 xy: 312 143 (1, 4)
1710621585 19798
1710621585 1710621088 1710621359
1710621585 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
417  1710621584  2024-03-16 21:39:44  1710621584  312  143
418  1710621585  2024-03-16 21:39:45  1710621585  312  143
419  1710621585  2024-03-16 21:39:45  1710621585  286  145
@TIME 1710621585 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                        312
y                        143
Name: 417, dtype: object 1710621584 dif: 2 xy: 312 143 (1, 4)
@TIME 1710621585 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        312
y                        143
Name: 418, dtype: object 1710621585 dif: 1 xy: 312 143 (1, 4)
@TIME 1710621585 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        286
y                        145
Name: 419, dtype: object 1710621585 dif: 1 xy: 286 145 (1, 3)
1710621586 19798
1710621586 1710621088 1710621359
1710621586 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
417  1710621584  2024-03-16 21:39:44  1710621584  312  143
418  1710621585  2024-03-16 21:39:45  1710621585  312  143
419  1710621585  2024-03-16 21:39:45  1710621585  286  145
420  1710621586  2024-03-16 21:39:46  1710621586  275  151
@TIME 1710621586 time              1710621584
date     2024-03-16 21:39:44
time2             1710621584
x                        312
y                        143
Name: 417, dtype: object 1710621584 dif: 3 xy: 312 143 (1, 4)
@TIME 1710621586 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        312
y                        143
Name: 418, dtype: object 1710621585 dif: 2 xy: 312 143 (1, 4)
@TIME 1710621586 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        286
y                        145
Name: 419, dtype: object 1710621585 dif: 2 xy: 286 145 (1, 3)
@TIME 1710621586 time              1710621586
date     2024-03-16 21:39:46
time2             1710621586
x                        275
y                        151
Name: 420, dtype: object 1710621586 dif: 1 xy: 275 151 (1, 3)
1710621587 19798
1710621587 1710621088 1710621359
1710621587 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
418  1710621585  2024-03-16 21:39:45  1710621585  312  143
419  1710621585  2024-03-16 21:39:45  1710621585  286  145
420  1710621586  2024-03-16 21:39:46  1710621586  275  151
421  1710621587  2024-03-16 21:39:47  1710621587  248  158
422  1710621587  2024-03-16 21:39:47  1710621587  248  160
@TIME 1710621587 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        312
y                        143
Name: 418, dtype: object 1710621585 dif: 3 xy: 312 143 (1, 4)
@TIME 1710621587 time              1710621585
date     2024-03-16 21:39:45
time2             1710621585
x                        286
y                        145
Name: 419, dtype: object 1710621585 dif: 3 xy: 286 145 (1, 3)
@TIME 1710621587 time              1710621586
date     2024-03-16 21:39:46
time2             1710621586
x                        275
y                        151
Name: 420, dtype: object 1710621586 dif: 2 xy: 275 151 (1, 3)
@TIME 1710621587 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        158
Name: 421, dtype: object 1710621587 dif: 1 xy: 248 158 (2, 3)
@TIME 1710621587 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        160
Name: 422, dtype: object 1710621587 dif: 1 xy: 248 160 (2, 3)
1710621588 19798
1710621588 1710621088 1710621359
1710621588 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
420  1710621586  2024-03-16 21:39:46  1710621586  275  151
421  1710621587  2024-03-16 21:39:47  1710621587  248  158
422  1710621587  2024-03-16 21:39:47  1710621587  248  160
423  1710621588  2024-03-16 21:39:48  1710621588  243  161
424  1710621588  2024-03-16 21:39:48  1710621588  241  163
@TIME 1710621588 time              1710621586
date     2024-03-16 21:39:46
time2             1710621586
x                        275
y                        151
Name: 420, dtype: object 1710621586 dif: 3 xy: 275 151 (1, 3)
@TIME 1710621588 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        158
Name: 421, dtype: object 1710621587 dif: 2 xy: 248 158 (2, 3)
@TIME 1710621588 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        160
Name: 422, dtype: object 1710621587 dif: 2 xy: 248 160 (2, 3)
@TIME 1710621588 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        243
y                        161
Name: 423, dtype: object 1710621588 dif: 1 xy: 243 161 (2, 3)
@TIME 1710621588 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        241
y                        163
Name: 424, dtype: object 1710621588 dif: 1 xy: 241 163 (2, 3)
1710621589 19798
1710621589 1710621088 1710621359
1710621589 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
421  1710621587  2024-03-16 21:39:47  1710621587  248  158
422  1710621587  2024-03-16 21:39:47  1710621587  248  160
423  1710621588  2024-03-16 21:39:48  1710621588  243  161
424  1710621588  2024-03-16 21:39:48  1710621588  241  163
425  1710621589  2024-03-16 21:39:49  1710621589  241  164
@TIME 1710621589 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        158
Name: 421, dtype: object 1710621587 dif: 3 xy: 248 158 (2, 3)
@TIME 1710621589 time              1710621587
date     2024-03-16 21:39:47
time2             1710621587
x                        248
y                        160
Name: 422, dtype: object 1710621587 dif: 3 xy: 248 160 (2, 3)
@TIME 1710621589 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        243
y                        161
Name: 423, dtype: object 1710621588 dif: 2 xy: 243 161 (2, 3)
@TIME 1710621589 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        241
y                        163
Name: 424, dtype: object 1710621588 dif: 2 xy: 241 163 (2, 3)
@TIME 1710621589 time              1710621589
date     2024-03-16 21:39:49
time2             1710621589
x                        241
y                        164
Name: 425, dtype: object 1710621589 dif: 1 xy: 241 164 (2, 3)
1710621590 19798
1710621590 1710621088 1710621359
1710621590 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
423  1710621588  2024-03-16 21:39:48  1710621588  243  161
424  1710621588  2024-03-16 21:39:48  1710621588  241  163
425  1710621589  2024-03-16 21:39:49  1710621589  241  164
@TIME 1710621590 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        243
y                        161
Name: 423, dtype: object 1710621588 dif: 3 xy: 243 161 (2, 3)
@TIME 1710621590 time              1710621588
date     2024-03-16 21:39:48
time2             1710621588
x                        241
y                        163
Name: 424, dtype: object 1710621588 dif: 3 xy: 241 163 (2, 3)
@TIME 1710621590 time              1710621589
date     2024-03-16 21:39:49
time2             1710621589
x                        241
y                        164
Name: 425, dtype: object 1710621589 dif: 2 xy: 241 164 (2, 3)
1710621591 19798
1710621591 1710621088 1710621359
1710621591 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
425  1710621589  2024-03-16 21:39:49  1710621589  241  164
@TIME 1710621591 time              1710621589
date     2024-03-16 21:39:49
time2             1710621589
x                        241
y                        164
Name: 425, dtype: object 1710621589 dif: 3 xy: 241 164 (2, 3)
1710621592 19798
1710621592 1710621088 1710621359
1710621592 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621592 time              1710621589
date     2024-03-16 21:39:49
time2             1710621589
x                        241
y                        164
Name: 425, dtype: object 1710621589 dif: 4 xy: 241 164 (2, 3)
1710621593 19798
1710621593 1710621088 1710621359
1710621593 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621593 time              1710621589
date     2024-03-16 21:39:49
time2             1710621589
x                        241
y                        164
Name: 425, dtype: object 1710621589 dif: 5 xy: 241 164 (2, 3)
1710621594 19798
1710621594 1710621088 1710621359
1710621594 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
426  1710621594  2024-03-16 21:39:54  1710621594  253  188
@TIME 1710621594 time              1710621594
date     2024-03-16 21:39:54
time2             1710621594
x                        253
y                        188
Name: 426, dtype: object 1710621594 dif: 1 xy: 253 188 (2, 3)
1710621595 19798
1710621595 1710621088 1710621359
1710621595 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
426  1710621594  2024-03-16 21:39:54  1710621594  253  188
427  1710621595  2024-03-16 21:39:55  1710621595  256  203
@TIME 1710621595 time              1710621594
date     2024-03-16 21:39:54
time2             1710621594
x                        253
y                        188
Name: 426, dtype: object 1710621594 dif: 2 xy: 253 188 (2, 3)
@TIME 1710621595 time              1710621595
date     2024-03-16 21:39:55
time2             1710621595
x                        256
y                        203
Name: 427, dtype: object 1710621595 dif: 1 xy: 256 203 (2, 3)
1710621596 19798
1710621596 1710621088 1710621359
1710621596 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
426  1710621594  2024-03-16 21:39:54  1710621594  253  188
427  1710621595  2024-03-16 21:39:55  1710621595  256  203
428  1710621596  2024-03-16 21:39:56  1710621596  250  227
429  1710621596  2024-03-16 21:39:56  1710621596  249  249
@TIME 1710621596 time              1710621594
date     2024-03-16 21:39:54
time2             1710621594
x                        253
y                        188
Name: 426, dtype: object 1710621594 dif: 3 xy: 253 188 (2, 3)
@TIME 1710621596 time              1710621595
date     2024-03-16 21:39:55
time2             1710621595
x                        256
y                        203
Name: 427, dtype: object 1710621595 dif: 2 xy: 256 203 (2, 3)
@TIME 1710621596 time              1710621596
date     2024-03-16 21:39:56
time2             1710621596
x                        250
y                        227
Name: 428, dtype: object 1710621596 dif: 1 xy: 250 227 (2, 3)
@TIME 1710621596 time              1710621596
date     2024-03-16 21:39:56
time2             1710621596
x                        249
y                        249
Name: 429, dtype: object 1710621596 dif: 1 xy: 249 249 (3, 3)
1710621597 19798
1710621597 1710621088 1710621359
1710621597 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
427  1710621595  2024-03-16 21:39:55  1710621595  256  203
428  1710621596  2024-03-16 21:39:56  1710621596  250  227
429  1710621596  2024-03-16 21:39:56  1710621596  249  249
@TIME 1710621597 time              1710621595
date     2024-03-16 21:39:55
time2             1710621595
x                        256
y                        203
Name: 427, dtype: object 1710621595 dif: 3 xy: 256 203 (2, 3)
@TIME 1710621597 time              1710621596
date     2024-03-16 21:39:56
time2             1710621596
x                        250
y                        227
Name: 428, dtype: object 1710621596 dif: 2 xy: 250 227 (2, 3)
@TIME 1710621597 time              1710621596
date     2024-03-16 21:39:56
time2             1710621596
x                        249
y                        249
Name: 429, dtype: object 1710621596 dif: 2 xy: 249 249 (3, 3)
1710621598 19798
1710621598 1710621088 1710621359
1710621598 1710621360 1710621664
Scene Scene2

1710621631 19798
1710621631 1710621088 1710621359
1710621631 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
460  1710621629  2024-03-16 21:40:29  1710621629  338  263
461  1710621630  2024-03-16 21:40:30  1710621630  338  263
462  1710621630  2024-03-16 21:40:30  1710621630  338  263
463  1710621630  2024-03-16 21:40:30  1710621630  334  283
@TIME 1710621631 time              1710621629
date     2024-03-16 21:40:29
time2             1710621629
x                        338
y                        263
Name: 460, dtype: object 1710621629 dif: 3 xy: 338 263 (3, 4)
@TIME 1710621631 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 461, dtype: object 1710621630 dif: 2 xy: 338 263 (3, 4)
@TIME 1710621631 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 462, dtype: object 1710621630 dif: 2 xy: 338 263 (3, 4)
@TIME 1710621631 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        334
y                        283
Name: 463, dtype: object 1710621630 dif: 2 xy: 334 283 (3, 4)
1710621632 19798
1710621632 1710621088 1710621359
1710621632 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
461  1710621630  2024-03-16 21:40:30  1710621630  338  263
462  1710621630  2024-03-16 21:40:30  1710621630  338  263
463  1710621630  2024-03-16 21:40:30  1710621630  334  283
@TIME 1710621632 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 461, dtype: object 1710621630 dif: 3 xy: 338 263 (3, 4)
@TIME 1710621632 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 462, dtype: object 1710621630 dif: 3 xy: 338 263 (3, 4)
@TIME 1710621632 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        334
y                        283
Name: 463, dtype: object 1710621630 dif: 3 xy: 334 283 (3, 4)
1710621633 19798
1710621633 1710621088 1710621359
1710621633 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621633 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 461, dtype: object 1710621630 dif: 4 xy: 338 263 (3, 4)
@TIME 1710621633 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        338
y                        263
Name: 462, dtype: object 1710621630 dif: 4 xy: 338 263 (3, 4)
@TIME 1710621633 time              1710621630
date     2024-03-16 21:40:30
time2             1710621630
x                        334
y                        283
Name: 463, dtype: object 1710621630 dif: 4 xy: 334 283 (3, 4)
1710621634 19798
1710621634 1710621088 1710621359
1710621634 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
464  1710621634  2024-03-16 21:40:34  1710621634  328  367
@TIME 1710621634 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        328
y                        367
Name: 464, dtype: object 1710621634 dif: 1 xy: 328 367 (4, 4)
1710621635 19798
1710621635 1710621088 1710621359
1710621635 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
464  1710621634  2024-03-16 21:40:34  1710621634  328  367
@TIME 1710621635 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        328
y                        367
Name: 464, dtype: object 1710621634 dif: 2 xy: 328 367 (4, 4)
1710621636 19798
1710621636 1710621088 1710621359
1710621636 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
464  1710621634  2024-03-16 21:40:34  1710621634  328  367
465  1710621636  2024-03-16 21:40:36  1710621636  342  399
466  1710621636  2024-03-16 21:40:36  1710621636  327  432
@TIME 1710621636 time              1710621634
date     2024-03-16 21:40:34
time2             1710621634
x                        328
y                        367
Name: 464, dtype: object 1710621634 dif: 3 xy: 328 367 (4, 4)
@TIME 1710621636 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        342
y                        399
Name: 465, dtype: object 1710621636 dif: 1 xy: 342 399 (5, 4)
@TIME 1710621636 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        327
y                        432
Name: 466, dtype: object 1710621636 dif: 1 xy: 327 432 (5, 4)
1710621637 19798
1710621637 1710621088 1710621359
1710621637 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
465  1710621636  2024-03-16 21:40:36  1710621636  342  399
466  1710621636  2024-03-16 21:40:36  1710621636  327  432
467  1710621637  2024-03-16 21:40:37  1710621637  323  427
@TIME 1710621637 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        342
y                        399
Name: 465, dtype: object 1710621636 dif: 2 xy: 342 399 (5, 4)
@TIME 1710621637 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        327
y                        432
Name: 466, dtype: object 1710621636 dif: 2 xy: 327 432 (5, 4)
@TIME 1710621637 time              1710621637
date     2024-03-16 21:40:37
time2             1710621637
x                        323
y                        427
Name: 467, dtype: object 1710621637 dif: 1 xy: 323 427 (5, 4)
1710621638 19798
1710621638 1710621088 1710621359
1710621638 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
465  1710621636  2024-03-16 21:40:36  1710621636  342  399
466  1710621636  2024-03-16 21:40:36  1710621636  327  432
467  1710621637  2024-03-16 21:40:37  1710621637  323  427
468  1710621638  2024-03-16 21:40:38  1710621638  323  427
@TIME 1710621638 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        342
y                        399
Name: 465, dtype: object 1710621636 dif: 3 xy: 342 399 (5, 4)
@TIME 1710621638 time              1710621636
date     2024-03-16 21:40:36
time2             1710621636
x                        327
y                        432
Name: 466, dtype: object 1710621636 dif: 3 xy: 327 432 (5, 4)
@TIME 1710621638 time              1710621637
date     2024-03-16 21:40:37
time2             1710621637
x                        323
y                        427
Name: 467, dtype: object 1710621637 dif: 2 xy: 323 427 (5, 4)
@TIME 1710621638 time              1710621638
date     2024-03-16 21:40:38
time2             1710621638
x                        323
y                        427
Name: 468, dtype: object 1710621638 dif: 1 xy: 323 427 (5, 4)
1710621639 19798
1710621639 1710621088 1710621359
1710621639 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
467  1710621637  2024-03-16 21:40:37  1710621637  323  427
468  1710621638  2024-03-16 21:40:38  1710621638  323  427
469  1710621639  2024-03-16 21:40:39  1710621639  321  423
@TIME 1710621639 time              1710621637
date     2024-03-16 21:40:37
time2             1710621637
x                        323
y                        427
Name: 467, dtype: object 1710621637 dif: 3 xy: 323 427 (5, 4)
@TIME 1710621639 time              1710621638
date     2024-03-16 21:40:38
time2             1710621638
x                        323
y                        427
Name: 468, dtype: object 1710621638 dif: 2 xy: 323 427 (5, 4)
@TIME 1710621639 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 1 xy: 321 423 (5, 4)
1710621640 19798
1710621640 1710621088 1710621359
1710621640 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
468  1710621638  2024-03-16 21:40:38  1710621638  323  427
469  1710621639  2024-03-16 21:40:39  1710621639  321  423
@TIME 1710621640 time              1710621638
date     2024-03-16 21:40:38
time2             1710621638
x                        323
y                        427
Name: 468, dtype: object 1710621638 dif: 3 xy: 323 427 (5, 4)
@TIME 1710621640 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 2 xy: 321 423 (5, 4)
1710621641 19798
1710621641 1710621088 1710621359
1710621641 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
469  1710621639  2024-03-16 21:40:39  1710621639  321  423
@TIME 1710621641 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 3 xy: 321 423 (5, 4)
1710621642 19798
1710621642 1710621088 1710621359
1710621642 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621642 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 4 xy: 321 423 (5, 4)
1710621643 19798
1710621643 1710621088 1710621359
1710621643 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621643 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 5 xy: 321 423 (5, 4)
1710621644 19798
1710621644 1710621088 1710621359
1710621644 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621644 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 6 xy: 321 423 (5, 4)
1710621645 19798
1710621645 1710621088 1710621359
1710621645 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621645 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 7 xy: 321 423 (5, 4)
1710621646 19798
1710621646 1710621088 1710621359
1710621646 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621646 time              1710621639
date     2024-03-16 21:40:39
time2             1710621639
x                        321
y                        423
Name: 469, dtype: object 1710621639 dif: 8 xy: 321 423 (5, 4)
1710621647 19798
1710621647 1710621088 1710621359
1710621647 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
470  1710621647  2024-03-16 21:40:47  1710621647  321  423
@TIME 1710621647 time              1710621647
date     2024-03-16 21:40:47
time2             1710621647
x                        321
y                        423
Name: 470, dtype: object 1710621647 dif: 1 xy: 321 423 (5, 4)
1710621648 19798
1710621648 1710621088 1710621359
1710621648 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
470  1710621647  2024-03-16 21:40:47  1710621647  321  423
471  1710621648  2024-03-16 21:40:48  1710621648  319  409
472  1710621648  2024-03-16 21:40:48  1710621648  319  409
@TIME 1710621648 time              1710621647
date     2024-03-16 21:40:47
time2             1710621647
x                        321
y                        423
Name: 470, dtype: object 1710621647 dif: 2 xy: 321 423 (5, 4)
@TIME 1710621648 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 471, dtype: object 1710621648 dif: 1 xy: 319 409 (5, 4)
@TIME 1710621648 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 472, dtype: object 1710621648 dif: 1 xy: 319 409 (5, 4)
1710621649 19798
1710621649 1710621088 1710621359
1710621649 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
470  1710621647  2024-03-16 21:40:47  1710621647  321  423
471  1710621648  2024-03-16 21:40:48  1710621648  319  409
472  1710621648  2024-03-16 21:40:48  1710621648  319  409
473  1710621649  2024-03-16 21:40:49  1710621649  319  402
474  1710621649  2024-03-16 21:40:49  1710621649  319  402
@TIME 1710621649 time              1710621647
date     2024-03-16 21:40:47
time2             1710621647
x                        321
y                        423
Name: 470, dtype: object 1710621647 dif: 3 xy: 321 423 (5, 4)
@TIME 1710621649 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 471, dtype: object 1710621648 dif: 2 xy: 319 409 (5, 4)
@TIME 1710621649 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 472, dtype: object 1710621648 dif: 2 xy: 319 409 (5, 4)
@TIME 1710621649 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 473, dtype: object 1710621649 dif: 1 xy: 319 402 (5, 4)
@TIME 1710621649 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 474, dtype: object 1710621649 dif: 1 xy: 319 402 (5, 4)
1710621650 19798
1710621650 1710621088 1710621359
1710621650 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
471  1710621648  2024-03-16 21:40:48  1710621648  319  409
472  1710621648  2024-03-16 21:40:48  1710621648  319  409
473  1710621649  2024-03-16 21:40:49  1710621649  319  402
474  1710621649  2024-03-16 21:40:49  1710621649  319  402
475  1710621650  2024-03-16 21:40:50  1710621650  350  432
@TIME 1710621650 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 471, dtype: object 1710621648 dif: 3 xy: 319 409 (5, 4)
@TIME 1710621650 time              1710621648
date     2024-03-16 21:40:48
time2             1710621648
x                        319
y                        409
Name: 472, dtype: object 1710621648 dif: 3 xy: 319 409 (5, 4)
@TIME 1710621650 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 473, dtype: object 1710621649 dif: 2 xy: 319 402 (5, 4)
@TIME 1710621650 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 474, dtype: object 1710621649 dif: 2 xy: 319 402 (5, 4)
@TIME 1710621650 time              1710621650
date     2024-03-16 21:40:50
time2             1710621650
x                        350
y                        432
Name: 475, dtype: object 1710621650 dif: 1 xy: 350 432 (5, 4)
1710621651 19798
1710621651 1710621088 1710621359
1710621651 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
473  1710621649  2024-03-16 21:40:49  1710621649  319  402
474  1710621649  2024-03-16 21:40:49  1710621649  319  402
475  1710621650  2024-03-16 21:40:50  1710621650  350  432
476  1710621651  2024-03-16 21:40:51  1710621651  324  399
@TIME 1710621651 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 473, dtype: object 1710621649 dif: 3 xy: 319 402 (5, 4)
@TIME 1710621651 time              1710621649
date     2024-03-16 21:40:49
time2             1710621649
x                        319
y                        402
Name: 474, dtype: object 1710621649 dif: 3 xy: 319 402 (5, 4)
@TIME 1710621651 time              1710621650
date     2024-03-16 21:40:50
time2             1710621650
x                        350
y                        432
Name: 475, dtype: object 1710621650 dif: 2 xy: 350 432 (5, 4)
@TIME 1710621651 time              1710621651
date     2024-03-16 21:40:51
time2             1710621651
x                        324
y                        399
Name: 476, dtype: object 1710621651 dif: 1 xy: 324 399 (5, 4)
1710621652 19798
1710621652 1710621088 1710621359
1710621652 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
475  1710621650  2024-03-16 21:40:50  1710621650  350  432
476  1710621651  2024-03-16 21:40:51  1710621651  324  399
@TIME 1710621652 time              1710621650
date     2024-03-16 21:40:50
time2             1710621650
x                        350
y                        432
Name: 475, dtype: object 1710621650 dif: 3 xy: 350 432 (5, 4)
@TIME 1710621652 time              1710621651
date     2024-03-16 21:40:51
time2             1710621651
x                        324
y                        399
Name: 476, dtype: object 1710621651 dif: 2 xy: 324 399 (5, 4)
1710621653 19798
1710621653 1710621088 1710621359
1710621653 1710621360 1710621664
Scene Scene2
DF            time                 date       time2    x    y
476  1710621651  2024-03-16 21:40:51  1710621651  324  399
@TIME 1710621653 time              1710621651
date     2024-03-16 21:40:51
time2             1710621651
x                        324
y                        399
Name: 476, dtype: object 1710621651 dif: 3 xy: 324 399 (5, 4)
1710621654 19798
1710621654 1710621088 1710621359
1710621654 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621654 time              1710621651
date     2024-03-16 21:40:51
time2             1710621651
x                        324
y                        399
Name: 476, dtype: object 1710621651 dif: 4 xy: 324 399 (5, 4)
1710621655 19798
1710621655 1710621088 1710621359
1710621655 1710621360 1710621664
Scene Scene2
DF Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
Zero GT complete with last interval Empty DataFrame
Columns: [time, date, time2, x, y]
Index: []
@TIME 1710621655 time              1710621651
date     2024-03-16 21:40:51
time2             1710621651
x                        324
y                        399
Name: 476, dtype: object 1710621651 dif: 5 xy: 324 399 (5, 4)